	<!-- sujets -->
	<div class="">
		<div class="callout">
      <ul class="menu vertical">
			<li><a href="/fr/sujet">Agriculture</a></li>
			<li><a href="/fr/enConstruction">Architecture</a></li>
			<li><a href="/fr/enConstruction">Art</a></li>
			<li><a href="/fr/enConstruction">Droit</a></li>
			<li><a href="/fr/enConstruction">Économie</a></li>
			<li><a href="/fr/enConstruction">Finance</a></li>
			<li><a href="/fr/enConstruction">Généralités</a></li>
			<li><a href="/fr/enConstruction">Informatique</a></li>
			<li><a href="/fr/enConstruction">Langage et linguistique</a></li>
			<li><a href="/fr/enConstruction">Politique</a></li>
			<li><a href="/fr/enConstruction">Sciences de la gestion</a></li>
			<li><a href="/fr/enConstruction">Sciences de la santé</a></li>
			<li><a href="/fr/enConstruction">Sciences de la terre</a></li>
			<li><a href="/fr/enConstruction">Sciences de l'éducation</a></li>
			<li><a href="/fr/enConstruction">Sc. de l'environnement</a></li>
			<li><a href="/fr/enConstruction">Sc. de l'information et de la communication</a></li>
			<li><a href="/fr/enConstruction">Sciences des matériaux</a></li>
			<li><a href="/fr/enConstruction">Sciences économiques</a></li>
			<li><a href="/fr/enConstruction">Sciences exactes</a></li>
			<li><a href="/fr/enConstruction">Sciences humaines</a></li>
			<li><a href="/fr/enConstruction">Sciences sociales</a></li>
			<li><a href="/fr/enConstruction">Sport</a></li>
			<li><a href="/fr/enConstruction">Urbanisme</a></li>
			<li><a href="/fr/enConstruction">Zoologie</a></li>		
		</ul>
		</div>
	</div>
