<!-- debut toggle-dropdown -->
<a class="icon" data-toggle="ajouter-organisation-dropdown" title="Ajouter une organisation"><i class="fi-plus"></i></a>
<div class="dropdown-pane" id="ajouter-organisation-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Proposer une organisation</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Nom<input type="text" name="org-nom" placeholder="Organisation n"></label>
        <label>URL<input type="text" name="org-url" placeholder="http://www.organisation.com"></label>
        <input class="button" type="submit" name="org-ajouter" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<!-- fin toggle-dropdown -->