<!-- debut toggle-dropdown -->
<a class="icon" data-toggle="ajouter-personne-dropdown" title="Ajouter une personne"><i class="fi-plus"></i></a>
<div class="dropdown-pane" id="ajouter-personne-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Proposer une personne</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Nom de famille<input type="text" name="personne-nomFamille" placeholder="Smith"></label>
        <label>Prénom<input type="text" name="personne-prenom" placeholder="John"></label>
        <label>URL<input type="text" name="personne-url" placeholder="http://www.johnsmith.com"></label>
        <input class="button" type="submit" name="personne-ajouter" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<!-- fin toggle-dropdown -->