<!-- debut toggle-dropdown -->
<a class="icon" data-toggle="ajouter-groupe-dropdown" title="Ajouter un groupe"><i class="fi-plus"></i></a>
<div class="dropdown-pane" id="ajouter-groupe-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Proposer un groupe</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Nom<input type="text" name="groupe-nom" placeholder="Groupe n"></label>
        <input class="button" type="submit" name="groupe-ajouter" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<!-- fin toggle-dropdown -->