<div class='journal'>
  <div class='row'>
    <div class='small-8 columns'>
      <div class=''>
        <p class='headline'>
          TODO #2
          <a target='_blank' href="/<%- data.pathparts && data.pathparts[0] || 'fr' %>/detail/<%- data._id %>" title="<%- data.tip %>"><%= data.titre %><%= data.soustitre %></a>
        </p>
        <blockquote class='small-text em'><%= data.citation %></blockquote>
      </div>
    </div><div class='small-4 columns'>
      <div class=''>
        <img src="<%= data['thumb-src'] %>" class='mmthumb' title="<%= data['thumb-tip'] %>">
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='content'>
        <span class='apercu'><%= data.description %></span>
      </div>
    </div>
  </div>
</div>
