<!-- #########################################################

====== LEADS ======

* article1
* article1b
* article2
* article2b
* article3
* article4
* article5
* breve
* breve1
* breve2
* breve3
* breve4

displayLead thisLead

############################################################### -->

<div class='journal'>
  <div class='row'>
    <div class='small-12 columns'>
      <div class=''>
        <p class='headline'>
          <a target='_blank' href="http://fr.reuters.com/article/sportsNews/idFRMT1IDAT00004SU20151114" title="Exemple">L'Argentine et le Brésil se neutralisent</a>
        </p>
       <p>
          <a target='_blank' href="http://fr.reuters.com/article/sportsNews/idFRMT1IDAT00004SU20151114" title="Exemple">Coupe du Monde 2018 en Russie</a>
        </p>
        <!-- endif -->
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='content'>
        <p class='text-justify'>Les deux géants du continent sud-américain se sont neutralisés à Buenos Aires lors de la troisième journée des qualifications pour la Coupe du Monde 2018 en Russie. C'est le Parisien Ezequiel Lavezzi qui ouvrait le score pour l'Argentine, idéalement servi par Gonzalo Higuain (1-0, 33e).</p>
      </div>
    </div>
  </div>
</div>
