<div class='journal'>
  <div class='row'>
    <div class='small-12 columns'>
      <div class=''>
        <p class='headline text-right'>
			  TODO #5
          <a target='_blank' href="<%= data.path %>" title="<%= data.tip %>"><span><%= data.titre %><%= data.soustitre %></span></a>
        </p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='content text-right'>
        <p class='text-right'><%= data.description %></p>
      </div>
    </div>
  </div>
</div>
