<div class='journal'>
  <div class='row'>
    <div class='small-4 columns'>
      <div class=''>
        <img src="<%- data['thumb-src'] %>" class='mmthumb' title="<%= data['thumb-tip'] %>">
      </div>
    </div>
    <div class='small-8 columns'>
      <div class=''>
        <p class='headline'>
          <a target='_blank' href="<%- data.path %>" title="<%- data.tip %>"><%= data.titre %></a>
        </p>
        <blockquote class='small-text em'><%- data.citation %></blockquote>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='content'>
        <p class='apercu'><%= data.description %></p>
      </div>
    </div>
  </div>
</div>
