<!-- #########################################################

====== LEADS ======

* article1
* article1b
* article2
* article2b
* article3
* article4
* article5
* breve
* breve1
* breve2
* breve3
* breve4

displayLead thisLead

############################################################### -->

<div class='journal'>
  <div class='row'>
    <div class='small-8 columns'>
      <div class=''>
        <p class='headline'>
          TODO #3
          <a target='_blank' href="http://aas.sagepub.com/cgi/content/abstract/0095399715607287v1?rss=1">The Corrupted Industry</a>
        </p>
        <p>
          <a target='_blank' href="http://aas.sagepub.com/cgi/content/abstract/0095399715607287v1?rss=1"><span class='em'>Wagon-Wheel Effect</span></a>
        </p>
        <p class='apercu'>An explanatory framework</p>
      </div>
    </div><div class='small-4 columns'>
      <div class=''>
        <img src="/img/dans-articles/wagonwheel.jpg" class="mmthumbSmaller" title="image de Google Images">
      </div>
    </div>
  </div>
  <br>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='content'>
        <p class='text-justify'><img src="/img/dans-articles/lettrine.gif" width="30" height="30" alt="N" title="lettrine">ote that the present study addresses a topic neglected by the public administration literature: government corruption and its effects on public service systems. Specifically, the study focuses on the institutionalized form of government corruption and offers a framework to explain... </p>
      </div>
    </div>
  </div>
</div>
