<div class='journal'>
  <div class='row'>
    <div class='small-8 columns'>
      <div class=''>
        <p class='headline'>
          <!-- was TODO #3 -->
          <a target='_blank' href="<%= data.path %>" title="<%= data.tip %>"><%= data.titre %></a>
        </p>
        <p>
          <a target='_blank' href="<%= data.path %>" title="<%= data.tip %>"><span class='em'><%= data.soustitre %></span></a>
        </p>
        <p class='small-text em'><%= data.citation %></p>
      </div>
    </div>
    <div class='small-4 columns'>
      <div class=''>
        <img src="<%= data['thumb-src'] %>" class='mmthumbSmaller' title="<%= data['thumb-tip'] %>">
      </div>
    </div>
  </div>
  <br>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='content'>
        <p class='apercu'><%= data.apercu %></p>
      </div>
    </div>
  </div>
</div>
