<div class='journal'>
  <div class='row'>
    <div class='small-12 columns'>
      <h5 class='headline'><a target='_blank' href="<%- data.path %>" title="<%- data.tip %>"><%- data.titre %></a></h5>
    </div>
  </div>
  <div class='row'>
    <div class='small-8 columns'>
     <div class='content'>
       <%= data.apercu %>
     </div>
    </div>
    <div class='small-4 columns'>
     <div class=''>
       <img
         title="<%- data['thumb-tip'] %>"
         src="<%- data['thumb-src'] %>"
         class='mmthumb'>
     </div>
    </div>
  </div>
</div>
