<!-- #########################################################

====== LEADS ======

* article1
* article1b
* article2
* article2b
* article3
* article4
* article5
* breve
* breve1
* breve2
* breve3
* breve4

displayLead thisLead

############################################################### -->

<div class='journal'>
  <div class='row'>
    <div class='small-12 columns'>
      <div class=''>
        <p class='headline'>
          <a target='_blank' href="<%- data.provenance %>" title="Exemple"><%- data.titre %></a>
        </p>
       <p>
          <a target='_blank' href="<%- data.provenance %>" title="Exemple"><%- data.soustitre %></a>
        </p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='content'>
        <%= data.apercu %>
      </div>
    </div>
  </div>
</div>
