<!-- #########################################################

====== LEADS ======

* article1
* article1b
* article2
* article2b
* article3
* article4
* article5
* breve
* breve1
* breve2
* breve3
* breve4

displayLead thisLead

############################################################### -->

<div class='journal'>
  <div class='row'>
    <div class='small-12 columns'>
       <h5 class='headline'><a target='_blank' href="/fr/detail-int" title="Exemple d'un article interne">Mission SOCLIM – Carnet de bord #2</a></h5>
    </div>
  </div>
  <div class='row'>
    <div class='small-8 columns'>
     <div class='content'>
       <p class='text-justify'>Le Marion Dufresne vient de rejoindre les îles Kerguelen. Suite de l'expédition <span data-tooltip aria-haspopup='true' class='has-tip' data-disable-hover='false' tabindex='1' title="SOUTHERN OCEAN AND CLIMATE FIELD STUDIES WITH INNOVATIVE TOOLS">SOCLIM</span> dans l'océan Austral. Nous avons atteint depuis peu la région de Kerguelen, dans les Cinquantièmes hurlants...</p>
     </div>
    </div>
    <div class='small-4 columns'>
     <div class=''>
       <img
         title="© Julien Boulanger"
         src="http://www.cite-sciences.fr/fileadmin/_processed_/csm_KERGUELEN-tempete-2_24df1f8d69.jpg"
         class='mmthumb'>
     </div>
    </div>
  </div>
</div>
