		<div class="" id="article 3">
			<div>
				<table><tr>
				 <td>
					<h4 class="headline"><a target="_blank" href="http://aas.sagepub.com/cgi/content/abstract/0095399715607287v1?rss=1">The Corrupted Industry</a></h4>
					<h5 class="headline"><a target="_blank" href="http://aas.sagepub.com/cgi/content/abstract/0095399715607287v1?rss=1">the <em>Wagon-Wheel Effect</em></a></h5>
				</td>
				<td><img src="/img/dans-articles/wagonwheel.jpg" width="100" height="100" title="image de Google Images"></td>
				</tr></table>
			</div>
			<div class="content">
				<p class="text-justify"><img src="/img/dans-articles/lettrine.gif" width="30" height="30" alt="N" title="lettrine">ote that the present study addresses a topic neglected by the public administration literature: government corruption and its effects on public service systems. Specifically, the study focuses on the institutionalized form of government corruption and offers a framework to explain... </p>
			</div>
		</div>
