<div class="lead">
  <div class="row">
    <div class="small-3 columns">
      <div class="">
        <img src="/img/dans-articles/Philippe_Couillard.jpg" class="mmthumb">
      </div>
    </div>
    <div class="small-9 columns">
      <div class="">
        <h5 class="headline">
          <a target="_blank" href="/fr/page-ext" title="Exemple d'un article externe">Determinants of Local<br>Governments' Transparency</a>
        </h5>
        <blockquote class="very-small-text em">The crisis has impact on Local Government<br>forcing it to be more transparent<br>in management of public resources.</blockquote>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="content">
        <p class="smaller-text text-justify">This article theoretically and empirically examines the determinants of the levels of transparency in Local Governments based on the agency and legitimacy theories. For the purpose of this study, the analysis is based on the Spanish municipalities over a period of 4 years....</p>
      </div>
    </div>
  </div>
</div>
