<div class="">
  <div>
    <h4 class="headline text-right">
      <a target="_blank" href="http://fr.reuters.com/article/sportsNews/idFRMT1IDAT00004SU20151114"><span>رفضت المعارضة الفنزويلية</span></a>
    </h4>
  </div>
  <div class="content">
    <p class="text-right">س، 31 أكتوبر/تشرين الأول (راديو هافانا كوبا) : رفضت المعارضة الفنزويلية العرض الذي تقدم به الرئيس نيكولاس مادورو بالمشاركة في حوار وطني بعد الانتخابات التشريعية التي ستجري في السادس من ديسمبر/كانون الأول. 
         </p>
  </div>
</div>