<div class="">
  <div>
    <h4 class="headline">
      <a target="_blank" href="http://fr.reuters.com/article/sportsNews/idFRMT1IDAT00004SU20151114">L'Argentine et le Brésil se neutralisent</a>
    </h4>
  </div>
  <div class="content">
    <p class="text-justify">Les deux géants du continent sud-américain se sont neutralisés à Buenos Aires lors de la troisième journée des qualifications pour la Coupe du Monde 2018 en Russie. C'est le Parisien Ezequiel Lavezzi qui ouvrait le score pour l'Argentine, idéalement servi par Gonzalo Higuain (1-0, 33e).</p>
  </div>
</div>