		<div class="media-object" id="article 1">
		  <h4 class="headline"><a target="_blank" href="/fr/page-int" title="Exemple d'un article interne">Mission SOCLIM – Carnet de bord #2</a></h4>
		  <div class="media-object-section">
			 <div class="float-left">
				<img
					title="© Julien Boulanger"
					src="http://www.cite-sciences.fr/fileadmin/_processed_/csm_KERGUELEN-tempete-2_24df1f8d69.jpg"
					class="mmthumb">
			 </div>
		  </div>
		  <div class="media-object-section">
			<p class="text-justify">Le Marion Dufresne vient de rejoindre les îles Kerguelen. Suite de l'expédition <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="SOUTHERN OCEAN AND CLIMATE FIELD STUDIES WITH INNOVATIVE TOOLS">SOCLIM</span> dans l'océan Austral. Nous avons atteint depuis peu la région de Kerguelen, dans les Cinquantièmes hurlants...</p>
		  </div>
		</div>
