		<!-- article -->
		<div class="row" id="article-3-head">
		  <div class="large-9 medium-9 small-9 columns">
			 <div class="">
				<h4 class="headline"><a target="_blank" href="/fr/page-ext" title="Exemple d'un article externe">Determinants of Local<br>Governments' Transparency</a></h4>
				<blockquote class="text-justify"><em>The crisis has impact on Local Government<br>forcing it to be more transparent<br>in management of public resources.</em></blockquote>
			 </div>
		  </div>
		  <div class="large-3 medium-3 small-3 columns">
			 <div class="">
				<img src="/img/dans-articles/Philippe_Couillard.jpg" class="mmthumb" title="Philippe Couillard">
			 </div>
		  </div>
		</div>
		<div class="row" id="article-3-body">
		  <div class="large-12 medium-12 small-12 columns">
			 <div class="">
				<div class="content"><p class="text-justify">Article theoretically and empirically examines the determinants of the levels of transparency in Local Governments based on the agency and legitimacy theories. For the purpose of this study, the analysis is based on the Spanish municipalities over a period of 4 years...</p></div>
			 </div>
		  </div>
		</div>
		<!-- end -->