<% if (data.langue === data.langue.toLowerCase()) { %>

<div class='text-center' id='bloc-langues'>
<a href="/fr/accueil<%- data.page > 1 ? `/${data.page}` : '' %>"><span title="Français" class="badge<%- data.langue === 'fr' ? ' alert' : '' %>">Fr</span>&nbsp;</a>
<a href="/en/accueil<%- data.page > 1 ? `/${data.page}` : '' %>"><span title="English" class="badge<%- data.langue === 'en' ? ' alert' : '' %>">En</span>&nbsp;</a>
<a href="/es/accueil<%- data.page > 1 ? `/${data.page}` : '' %>"><span title="Español" class="badge<%- data.langue === 'es' ? ' alert' : '' %>">Es</span>&nbsp;</a>
<a href="/it/accueil<%- data.page > 1 ? `/${data.page}` : '' %>"><span title="Italiano" class="badge<%- data.langue === 'it' ? ' alert' : '' %>">It</span>&nbsp;</a>
<a href="/ru/accueil<%- data.page > 1 ? `/${data.page}` : '' %>"><span title="Русский" class="badge<%- data.langue === 'ru' ? ' alert' : '' %>">Ru</span>&nbsp;</a>
<a href="/ar/accueil<%- data.page > 1 ? `/${data.page}` : '' %>"><span title="العربية" class="badge<%- data.langue === 'ar' ? ' alert' : '' %>">Ar</span>&nbsp;</a>
</div>

<% } else { %>

<% if (data.langue === 'Fr') { %>
<div class='text-center' id='bloc-langues'>
<a href="/fr/accueil"><span title="Français" class='alert badge'>Fr</span>&nbsp;</a>
<a href="/en/accueil"><span title="English" class='badge'>En</span>&nbsp;</a>
<a href="/es/accueil"><span title="Español" class='badge'>Es</span>&nbsp;</a>
<a href="/it/accueil"><span title="Italiano" class='badge'>It</span>&nbsp;</a>
<a href="/ru/accueil"><span title="Русский" class='badge'>Ru</span>&nbsp;</a>
<a href="/ar/accueil"><span title="العربية" class='badge'>Ar</span>&nbsp;</a>
</div>
<% } %>

<% if (data.langue === 'En') { %>
<div class='text-center' id='bloc-langues'>
<a href="/fr/accueil"><span title="Français" class='badge'>Fr</span>&nbsp;</a>
<a href="/en/accueil"><span title="English" class='alert badge'>En</span>&nbsp;</a>
<a href="/es/accueil"><span title="Español" class='badge'>Es</span>&nbsp;</a>
<a href="/it/accueil"><span title="Italiano" class='badge'>It</span>&nbsp;</a>
<a href="/ru/accueil"><span title="Русский" class='badge'>Ru</span>&nbsp;</a>
<a href="/ar/accueil"><span title="العربية" class='badge'>Ar</span>&nbsp;</a>
</div>
<% } %>

<% if (data.langue === 'Es') { %>
<div class='text-center' id='bloc-langues'>
<a href="/fr/accueil"><span title="Français" class='badge'>Fr</span>&nbsp;</a>
<a href="/en/accueil"><span title="English" class='badge'>En</span>&nbsp;</a>
<a href="/es/accueil"><span title="Español" class="alert badge">Es</span>&nbsp;</a>
<a href="/it/accueil"><span title="Italiano" class='badge'>It</span>&nbsp;</a>
<a href="/ru/accueil"><span title="Русский" class='badge'>Ru</span>&nbsp;</a>
<a href="/ar/accueil"><span title="العربية" class='badge'>Ar</span>&nbsp;</a>
</div>
<% } %>

<% if (data.langue === 'It') { %>
<div class='text-center' id='bloc-langues'>
<a href="/fr/accueil"><span title="Français" class='badge'>Fr</span>&nbsp;</a>
<a href="/en/accueil"><span title="English" class='badge'>En</span>&nbsp;</a>
<a href="/es/accueil"><span title="Español" class='badge'>Es</span>&nbsp;</a>
<a href="/it/accueil"><span title="Italiano" class='alert badge'>It</span>&nbsp;</a>
<a href="/ru/accueil"><span title="Русский" class='badge'>Ru</span>&nbsp;</a>
<a href="/ar/accueil"><span title="العربية" class='badge'>Ar</span>&nbsp;</a>
</div>
<% } %>

<% if (data.langue === 'Ru') { %>
<div class='text-center' id='bloc-langues'>
<a href="/fr/accueil"><span title="Français" class='badge'>Fr</span>&nbsp;</a>
<a href="/en/accueil"><span title="English" class='badge'>En</span>&nbsp;</a>
<a href="/es/accueil"><span title="Español" class='badge'>Es</span>&nbsp;</a>
<a href="/it/accueil"><span title="Italiano" class='badge'>It</span>&nbsp;</a>
<a href="/ru/accueil"><span title="Русский" class='alert badge'>Ru</span>&nbsp;</a>
<a href="/ar/accueil"><span title="العربية" class='badge'>Ar</span>&nbsp;</a>
</div>
<% } %>

<% if (data.langue === 'Ar') { %>
<div class='text-center' id='bloc-langues'>
<a href="/fr/accueil"><span title="Français" class='badge'>Fr</span>&nbsp;</a>
<a href="/en/accueil"><span title="English" class='badge'>En</span>&nbsp;</a>
<a href="/es/accueil"><span title="Español" class='badge'>Es</span>&nbsp;</a>
<a href="/it/accueil"><span title="Italiano" class='badge'>It</span>&nbsp;</a>
<a href="/ru/accueil"><span title="Русский" class='badge'>Ru</span>&nbsp;</a>
<a href="/ar/accueil"><span title="العربية" class='alert badge'>Ar</span>&nbsp;</a>
</div>
<% } %>

<% } %>
