<div class="secondary callout">
  <div class="breve-titre">
    <p class="strong"><a target="_blank" href="https://en.wikipedia.org/wiki/Republican_Front_%28France%29">Front républicain</a></p>
  </div>
  <div class="breve-contenu">
    <p>On ne peut donc parler d'une tradition historique de front républicain.</p>
    <p>Il existe dans l'histoire politique française une coutume établie, bien qu'elle n'ait pas toujours été respectée et que les modalités de sa mise en œuvre aient varié en fonction des modes de scrutin.</p>
  </div>
</div>
