<!-- debut toggle-dropdown -->
<a class="icon" data-toggle="theme-dropdown" title="Choisir votre thème"><i class="fi-pencil"></i></a>
<div class="dropdown-pane" id="theme-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Choisir votre thème</p>
   <div class="row">
    <div class="small-12 columns">
    <input type="radio" name="choisirTheme" value="Theme0" id="Theme0" checked><label for="Theme0">Pas de thème particulier</label>
    <br><input type="radio" name="choisirTheme" value="Theme1" id="Theme1"><label for="Theme1">Thème 1</label>
    <br><input type="radio" name="choisirTheme" value="Theme2" id="Theme2"><label for="Theme2">Thème 2</label>
    <br><input type="radio" name="choisirTheme" value="Theme3" id="Theme3"><label for="Theme3">Thème 3</label>
    </div>
   </div>
</div>
<!-- fin -->