<!-- TODO -->
<div class="callout" id="information">

  <h4 class="strong"><%- data.__("Information") %></h4>
    
    <dl>
    
      <% if (data.apercu) { %>
      <dt><%- data.__("Aperçu") %></dt>
      <dd><p><%- data.apercu %></p></dd>
      <% } %>

      <% if (data.description) { %>
      <dt><%- data.__("Description") %></dt>
      <dd><p><%- data.description %></p></dd>
      <% } %>

      <% if (data.motsClefs) { %>
      <dt>
		  <%- data.__("Mots-clefs") %>&nbsp;
		  <a class="icon" data-toggle="add-keyword-dropdown" title="<%- data.__('Ajouter un mot-clef') %>"><i class="fi-plus"></i></a>
      </dt>
      <dd>
		  <!-- repeat -->
		  <p><%- data.motsClefs[n] %></p>
		  <!-- end repeat -->
      </dd>
      <% } %>

      <% if (data.lieuConcerne) { %>
      <dt><%- data.__("Lieux concernées") %></dt>
      <dd>
		  <!-- repeat -->
		  <p><%- data.lieuConcerne[n] %></p>
		  <!-- end repeat -->
      </dd>
      <% } %>

      <% if (data.organisations) { %>
      <dt><%- data.__("Organisations concernées") %></dt>
      <dd>
		  <!-- repeat -->
		  <p><%- data.organisations[n] %></p>
		  <!-- end repeat -->
      </dd>
      <% } %>

      <% if (data.personneConcernee) { %>
      <dt><%- data.__("Personnes concernées") %></dt>
      <dd>
		  <!-- repeat -->
		  <p><%- data.personneConcernee[n] %></p>
		  <!-- end repeat -->
      </dd>
      <% } %>

      <% if (data.section) { %>
      <dt><%- data.__("Sections du site") %></dt>
      <dd>
		  <!-- repeat -->
		  <p><a href="<%- data.section[n].href %>"><%- data.section[n].text %></a></p>
		  <!-- end repeat -->
      </dd>
      <% } %>

      <% if (data.sujet) { %>
      <dt>
		  <%- data.__("Sujets") %>&nbsp;
		  <a class="icon" data-toggle="ajouter-sujet-dropdown" title="<%- data.__('Ajouter un sujet') %>"><i class="fi-plus"></i></a>
      </dt>
      <dd>
		  <!-- repeat -->
		  <p><a href="<%- data.sujet[n].href %>"><%- data.sujet[n].text %></a></p>
		  <!-- end repeat -->
      </dd>
      <% } %>

      <% if (data.formatAutres) { %>
      <dt><%- data.__("Disponible dans un autre format") %></dt>
      <dd>
		  <!-- repeat -->
		  <p><a href="<%- data.formatAutres[n] %>"><%- data.formatAutres[n] %></a></p>
		  <!-- end repeat -->
      </dd>
      <% } %>

      <% if (data.sourceLangueAnglais || data.sourceLangueFrancais || data.sourceLangueEspagnol || data.sourceLangueItalien || data.sourceLangueArabe || data.sourceLangueRusse ) { %>
      <dt><%- data.__("Disponible dans une autre langue") %></dt>
      <dd>

		  <% if (data.languageCode !== "en") { %>
		  <p><a href="<%- data.sourceLangueAnglais %>"><%- data.__("Disponible en anglais") %></a></p>
        <% } %>

		  <% if (data.languageCode !== "fr") { %>
		  <p><a href="<%- data.sourceLangueFrancais %>"><%- data.__("Disponible en français") %></a></p>
        <% } %>

		  <% if (data.languageCode !== "es") { %>
		  <p><a href="<%- data.sourceLangueEspagnol %>"><%- data.__("Disponible en espagnol") %></a></p>
        <% } %>

        <% if (data.languageCode !== "it") { %>
		  <p><a href="<%- data.sourceLangueItalien %>"><%- data.__("Disponible en italien") %></a></p>
        <% } %>

        <% if (data.languageCode !== "ar") { %>
		  <p><a href="<%- data.sourceLangueArabe %>"><%- data.__("Disponible en arabe") %></a></p>
        <% } %>

        <% if (data.languageCode !== "ru") { %>
		  <p><a href="<%- data.sourceLangueRusse %>"><%- data.__("Disponible en russe") %></a></p>
        <% } %>
        
      </dd>
      <% } %>

      <% if (data.voirAussi) { %>
      <dt>
		  <%- data.__("Voir-aussi") %>&nbsp;
		  <a class="icon" data-toggle="ajouter-lien-dropdown" title="<%- data.__('Ajouter un lien') %>"><i class="fi-plus"></i></a>
      </dt>
      <dd>
		  <!-- repeat -->
		  <p><a href="<%- data.voirAussi[n] %>"><%- data.voirAussi[n] %></a></p>
		  <!-- end repeat -->
      </dd>
      <% } %>

    </dl>

  <p><a title="<%- data.__('Haut de page') %>" href="#"><i class="fi-arrow-up"></i></a></p>

</div>