<!-- top row -->
<div class="row" id="top-row">
  <!-- left -->
  <div class="small-4 columns">
    <div class="" id="bloc-langue">
     <ul class="menu align-left">
      <li><a href="/fr/accueil"><span title="Français" class="alert badge">Fr</span></a></li>
      <li><a href="/en/accueil"><span title="English" class="badge">En</span></a></li>
      <li><a href="/es/accueil"><span title="Español" class="badge">Es</span></a></li>
      <li><a href="/it/accueil"><span title="Italiano" class="badge">It</span></a></li>
      <li><a href="/ru/accueil"><span title="Русский" class="badge">Ru</span></a></li>
      <li><a href="/ar/accueil"><span title="العربية" class="badge">Ar</span></a></li>
    </ul>
    </div>
  </div>
  <!-- right -->
  <div class="small-8 columns">
    <div class="" id="bloc-fonctions">
     <ul class="menu align-right">
      <li class="icon"><a title="Aidez-moi" href="/fr/aider"><i class="fi-info"></i></a></li>
      <li class="icon"><a title="Mon historique" href="#"><i class="fi-clock"></i></a></li>
      <li class="icon"><a title="Mon agenda" href="/fr/moi#mon-agenda"><i class="fi-calendar"></i></a></li>
      <li class="icon"><a title="Mes groupes" href="#"><i class="fi-torsos-all"></i></a></li>
      <li class="icon"><a title="Mes pairs" href="#"><i class="fi-address-book"></i></a></li>
      <li class="icon"><a title="Imprimer la page" href="#"><i class="fi-print"></i></a></li>
      <li class="icon"><a title="Exporter page vers PDF" href="#"><i class="fi-page-export-pdf"></i></a></li>
      <li class="icon"><a title="Ce contenu est abusif" href="#"><i class="fi-prohibited"></i></a></li>
      <li class="icon"><a title="Ce contenu est publicitaire" href="#"><i class="fi-dollar"></i></a></li>
      <li class="icon"><a title="S'abonner aux notifications" href="#"><i class="fi-rss"></i></a></li>
      <li class="icon"><a title="Ajouter à mes favoris" href="#"><i class="fi-star"></i></a></li>
    </ul>
    </div>
  </div>
</div>
