<div class="callout" id="commentaires">
  <h4 class="strong"><%- data.__('Commenter') %></h4>
  <dl>
    <dt><span>1.</span> Alain Farmer, 2016-10-23, 17h45</dt>
    <dd><p>Commentaire d'Alain Farmer ...</p></dd>
    <dt><span>2.</span> Claude Berthiaume, 2016-10-23, 17h50</dt>
    <dd><p>Commentaire de Claude Berthiaume ...</p></dd>
  </dl>
  <p><span class="strong">Ajouter un commentaire</span>&nbsp;
    <a class="icon" data-toggle="ajouter-commentaire-dropdown"! title="<%- data.__('Ajouter un commentaire') %>"><i class='fi-plus'></i></a>
  </p>
  <p><a title="<%- data.__('Haut de page') %>" href="#"><i class="fi-arrow-up"></i></a></p>
</div>

<%= partials.displayDropdown({ dropName: 'ajouter-commentaire-dropdown' }) %>