<!-- début -->
<form>
<div class="callout" id="evaluation">
  <h4 class="strong">Évaluer</h4>
  <dl>
  <dt>Appréciation</dt>
  <dd>
    <input type="radio" name="appreciation" value="Aucune" id="Aucune" checked><label for="Aucune">Aucune</label>
    <input type="radio" name="appreciation" value="Favorable" id="Favorable"><label for="Favorable">Favorable</label>
    <input type="radio" name="appreciation" value="Defavorable" id="Defavorable"><label for="Defavorable">Défavorable</label>
    <input type="radio" name="appreciation" value="Spam" id="Spam"><label for="Spam">Spam</label>
    <input type="radio" name="appreciation" value="Abusif" id="Abusif"><label for="Abusif">Abus</label>
  </dd>
  <dt>Parmi mes favoris</dt>
  <dd>
    <input type="radio" name="parmiFavoris" value="Non" id="Non" checked><label for="Non">Non</label>
    <input type="radio" name="parmiFavoris" value="Oui" id="Oui"><label for="Oui">Oui</label>
  </dd>
  <dt>Pertinence</dt>
  <dd>
  <select>
    <option value="sans-opinion">Sans opinion</option>
    <option value="indispensable">Indispensable</option>
    <option value="important">Important</option>
    <option value="interessant">Intéressant</option>
    <option value="sans-interet">Sans intérêt</option>
  </select>
  </dd>
  <dt>Qualité</dt>
  <dd>
  <select>
    <option value="sans-opinion">Sans opinion</option>
    <option value="excellente">Excellente</option>
    <option value="bonne">Bonne</option>
    <option value="criticable">Criticable</option>
    <option value="a-eliminer">À éliminer</option>
  </select>
  </dd>
  <dt>Ajouter un sujet <a class="icon" data-toggle="ajouter-sujet2-dropdown" title="Ajouter un sujet"><i class="fi-plus"></i></a></dt>
  <dd><p><input type="text" name="sujet" value=""></p></dd>
  <dt>Ajouter un mot-clef <a class="icon" data-toggle="add-keyword2-dropdown" title="Ajouter un mot-clef"><i class="fi-plus"></i></a></dt>
  <dd><p><input type="text" name="motClef" value=""></p></dd>
  <dt>Ajouter un lien <span class="em">voir-aussi</span> <a class="icon" data-toggle="ajouter-lien2-dropdown" title="Ajouter un lien"><i class="fi-plus"></i></a></dt>
  <dd><p><input type="text" name="voirAussi" value=""></p></dd>
  </dl>
  <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
</div>
</form>
<!-- fin -->

<%= partials.ajouterSujet2() %>

<%= partials.ajouterMotclef2() %>

<%= partials.ajouterLien2() %>
