   <!-- TODO -->
   <!-- commencer meme markup que le lead -->
    <div id="article">
      <div class="row">
        <div class="small-8 columns">
          <div>
            <h4><%- data.titre %></h4>
            <blockquote class="very-small-text em"><%- data.citation %></blockquote>
          </div>
        </div>
        <div class="small-4 columns">
          <div>
            <img src="<%- data.thumbSrc %>" class="mmthumb">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div>
            <p class="text-justify"><%= data.description %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- fin du meme markup que le lead -->