    <div class="callout" id="consultation">

    <h4 class="strong"><%- data.__("Consulter") %></h4>

    <dl>

      <% if (data.doc.sourceUrl) { %>
		<dt><%- data.__("URL") %></dt>
      <dd><p><a href="<%- data.doc.sourceUrl %>"><%- data.doc.sourceUrl %></a></p></dd>
      <% } %>

      <% if (data.doc.licence) { %>
		<dt><%- data.__("Licence") %></dt>
      <dd><p><%- data.doc.licence %></p></dd>
      <% } %>

      <% if (data.doc.permissions) { %>
      <dt><%- data.__("Conditions") %></dt>
      <dd><p><%- data.doc.permissions %></p></dd>
      <% } %>

      <% if (data.doc.coutAcces) { %>
      <dt><%- data.__("Coût") %></dt>
      <dd><p><%- data.doc.coutAcces %></p></dd>
      <% } %>

    </dl>

    <p><a title="<%- data.__('Haut de page') %>" href="#"><i class="fi-arrow-up"></i></a></p>

    </div>