<div class="callout" id="information">

  <h4 class="strong"><%- data.__('Information') %></h4>

    <dl>

      <% if (data.doc.apercu) { %>
      <dt><%- data.__('Aperçu') %></dt>
      <dd><p><%- data.doc.apercu %></p></dd>
      <% } %>

      <% if (data.doc.description) { %>
      <dt><%- data.__('Description') %></dt>
      <dd><%= data.doc.description %></dd>
      <% } %>

      <% if (data.doc.motsClefs) { %>
      <dt>
        <%- data.__('Mots-clefs') %>&nbsp;
        <a class="icon" data-toggle="add-keyword-dropdown" title="<%- data.__('Ajouter un mot-clef') %>"><i class="fi-plus"></i></a>
      </dt>
      <dd>
        <% data.doc.motsClefs.forEach(function (valeur) { %>
           <p class="enum"><%- valeur %></p>
        <% }) %><br>
      </dd>
      <% } %>

      <% if (data.doc.lieuConcerne) { %>
      <dt><%- data.__('Lieux concernées') %></dt>
      <dd>
        <% data.doc.lieuConcerne.forEach(function (valeur) { %>
           <p class="enum">
             <% if (valeur.nomLangues) { %>
              <a href="/<%- data.languageCode %>/lieu/<%- valeur._id %>"><%- valeur.nomLangues[data.languageCode] && valeur.nomLangues[data.languageCode][0] || valeur.nom %></a>
             <% } else { %>
              <%- valeur %>
             <% } %>
            </p>
        <% }) %><br>
      </dd>
      <% } %>

      <% if (data.doc.calaisOrganisation) { %>
      <dt><%- data.__('Organisations concernées') %></dt>
      <dd>
        <% data.doc.calaisOrganisation.forEach(function (valeur) { %>
           <p class="enum"><%- valeur %></p>
        <% }) %><br>
      </dd>
      <% } %>

      <% if (data.doc.personneConcernee) { %>
      <dt><%- data.__('Personnes concernées') %></dt>
      <dd>
        <% data.doc.personneConcernee.forEach(function (valeur) { %>
           <p class="enum">
             <% if (valeur.nomLangues) { %>
              <a href="/<%- data.languageCode %>/personne/<%- valeur._id %>"><%- valeur.nomLangues[data.languageCode] && valeur.nomLangues[data.languageCode][0] || valeur.nom %></a>
             <% } else { %>
              <%- valeur %>
             <% } %>
            </p>
        <% }) %><br>
      </dd>
      <% } %>

      <% if (data.doc.section) { %>
      <dt><%- data.__('Sections du site') %></dt>
      <dd>
        <% data.doc.section.forEach(function (valeur) { %>
           <p class="enum">
             <% if (valeur.nomLangues) { %>
              <a href="/<%- data.languageCode %>/section/<%- valeur._id %>"><%- valeur.nomLangues[data.languageCode] && valeur.nomLangues[data.languageCode][0] || valeur.nom %></a>
             <% } else { %>
              <%- valeur %>
             <% } %>
            </p>
           <!-- TODO: <p class="enum"><a href="data.doc.section.href">data.doc.section.text</a></p> -->
        <% }) %><br>
      </dd>
      <% } %>

      <% if (data.doc.sujet) { %>
      <dt>
        <%- data.__('Sujets') %>&nbsp;
        <a class="icon" data-toggle="ajouter-sujet-dropdown" title="<%- data.__('Ajouter un sujet') %>"><i class="fi-plus"></i></a>
      </dt>
      <dd>
        <% data.doc.sujet.forEach(function (valeur) { %>
           <p class="enum">
             <% if (valeur.nomLangues) { %>
              <a href="/<%- data.languageCode %>/sujet/<%- valeur._id %>"><%- valeur.nomLangues[data.languageCode] && valeur.nomLangues[data.languageCode][0] || valeur.nom %></a>
             <% } else { %>
              <%- valeur %>
             <% } %>
            </p>
           <!-- TODO: <p class="enum"><a href="data.doc.sujet.href">data.doc.sujet.text</a></p> -->
        <% }) %><br>
      </dd>
      <% } %>

      <% if (data.doc.formatAutres) { %>
      <dt><%- data.__('Disponible dans un autre format') %></dt>
      <dd>
        <% data.doc.formatAutres.forEach(function (valeur) { %>
           <p class="enum"><a href="<%- valeur %>"><%- valeur %></a></p>
        <% }) %><br>
      </dd>
      <% } %>

      <% if (data.doc.sourceLangueAnglais || data.doc.sourceLangueFrancais || data.doc.sourceLangueEspagnol || data.doc.sourceLangueItalien || data.doc.sourceLangueArabe || data.doc.sourceLangueRusse ) { %>
      <dt><%- data.__('Disponible dans une autre langue') %></dt>
      <dd>

        <% if (data.languageCode !== 'en' && data.doc.sourceLangueAnglais) { %>
           <p class="enum"><a href="<%- data.doc.sourceLangueAnglais %>"><%- data.__('Disponible en anglais') %></a></p>
        <% } %>

        <% if (data.languageCode !== 'fr' && data.doc.sourceLangueFrancais) { %>
           <p class="enum"><a href="<%- data.doc.sourceLangueFrancais %>"><%- data.__('Disponible en français') %></a></p>
        <% } %>

        <% if (data.languageCode !== 'es' && data.doc.sourceLangueEspagnol) { %>
           <p class="enum"><a href="<%- data.doc.sourceLangueEspagnol %>"><%- data.__('Disponible en espagnol') %></a></p>
        <% } %>

        <% if (data.languageCode !== 'it' && data.doc.sourceLangueItalien) { %>
           <p class="enum"><a href="<%- data.doc.sourceLangueItalien %>"><%- data.__('Disponible en italien') %></a></p>
        <% } %>

        <% if (data.languageCode !== 'ar' && data.doc.sourceLangueArabe) { %>
           <p class="enum"><a href="<%- data.doc.sourceLangueArabe %>"><%- data.__('Disponible en arabe') %></a></p>
        <% } %>

        <% if (data.languageCode !== 'ru' && data.doc.sourceLangueRusse) { %>
           <p class="enum"><a href="<%- data.doc.sourceLangueRusse %>"><%- data.__('Disponible en russe') %></a></p>
        <% } %>

      <br>
      </dd>
      <% } %>

      <% if (data.doc.voirAussi) { %>
      <dt>
        <%- data.__('Voir-aussi') %>&nbsp;
        <a class="icon" data-toggle="ajouter-lien-dropdown" title="<%- data.__('Ajouter un lien') %>"><i class="fi-plus"></i></a>
      </dt>
      <dd>
        <% data.doc.voirAussi.forEach(function (valeur) { %>
           <p class="enum">
             <% if (valeur.nomLangues) { %>
              <a href="/<%- data.languageCode %>/XXX/<%- valeur._id %>"><%- valeur.nomLangues[data.languageCode] && valeur.nomLangues[data.languageCode][0] || valeur.nom %></a>
             <% } %>

             <% if (valeur.nom) { %>
              <%- valeur.nom %>
             <% } else { %>
              <%- valeur %>
             <% } %>
            </p>
           <!-- TODO: <p class="enum"><a href="data.doc.voirAussi.href">data.doc.voirAussi.text</a></p> -->
        <% }) %>
      </dd>
      <% } %>

    </dl>

  <p><a title="<%- data.__('Haut de page') %>" href="#"><i class="fi-arrow-up"></i></a></p>

</div>