<!-- top row -->
<div class="row" id="top-row">
	<!-- left -->
  <div class="large-4 medium-4 small-4 columns" id="title-left">
    <div class="" id="bloc-langue">
		 <ul class="menu align-left">
			<li><a href="/fr/accueil"><span title="Français" class="alert badge">Fr</span></a></li>
			<li><a href="/en/accueil"><span title="English" class="badge">En</span></a></li>
      	<li><a href="/es/accueil"><span title="Español" class="badge">Es</span></a></li>
      	<li><a href="/it/accueil"><span title="Italiano" class="badge">It</span></a></li>
			<li><a href="/ru/accueil"><span title="Русский" class="badge">Ru</span></a></li>
			<li><a href="/ar/accueil"><span title="العربية" class="badge">Ar</span></a></li>
		</ul>
    </div>
  </div>
  <!-- right -->
  <div class="large-8 medium-8 small-8 columns" id="title-right">
    <div class="" id="bloc-fonctions">
		 <ul class="menu align-right">
			<li class="icon"><a title="Mon historique&nbsp;" href="#"><i class="fi-clock"></i></a></li>
			<li class="icon"><a title="Mon agenda&nbsp;" href="/fr/moi#mon-agenda"><i class="fi-calendar"></i></a></li>
			<li class="icon"><a title="Mes groupes&nbsp;" href="#"><i class="fi-torsos-all"></i></a></li>
			<li class="icon"><a title="Mes pairs&nbsp;" href="#"><i class="fi-address-book"></i></a></li>
			<li class="icon"><a title="Partager sur Facebook&nbsp;" href="#"><i class="fi-social-facebook"></i></a></li>
			<li class="icon"><a title="Imprimer la page&nbsp;" href="#"><i class="fi-print"></i></a></li>
			<li class="icon"><a title="Exporter page vers PDF&nbsp;" href="#"><i class="fi-page-export-pdf"></i></a></li>
			<li class="icon"><a title="Ce contenu est abusif&nbsp;" href="#"><i class="fi-prohibited"></i></a></li>
			<li class="icon"><a title="Ce contenu est publicitaire&nbsp;" href="#"><i class="fi-dollar"></i></a></li>
			<li class="icon"><a title="S'abonner aux notifications&nbsp;" href="#"><i class="fi-rss"></i></a></li>
			<li class="icon"><a title="Ajouter à mes favoris&nbsp;" href="#"><i class="fi-star"></i></a></li>
			<li class="icon"><a title="Article suivant&nbsp;" href="#"><i class="fi-arrow-right"></i></a></li>
			<li class="icon"><a title="Article précédent&nbsp;" href="#"><i class="fi-arrow-left"></i></a></li>
		</ul>
    </div>
  </div>
</div>
