<div class="callout" id="attributs">

  <h4 class="strong"><%- data.__('Attributs') %></h4>

  <dl>

      <% if (data.doc.nom) { %>
            <dt><%- data.__('Titre') %></dt>
      <dd><p><%- data.doc.nom %></p></dd>
            <% } %>

      <% if (data.doc.auteur) { %>
      <dt><%- data.__('Auteurs') %></dt>
      <dd>
              <% data.doc.auteur.forEach(function (valeur) { %>
           <p class="enum"><%- valeur %></p>
        <% }) %><br>
            </dd>
            <% } %>

      <% if (data.doc.coauteur) { %>
      <dt><%- data.__('Contributeurs') %></dt>
      <dd>
              <% data.doc.coauteur.forEach(function (valeur) { %>
           <p class="enum"><%- valeur %></p>
        <% }) %><br>
            </dd>
            <% } %>

      <% if (data.doc.provenance) { %>
      <dt><%- data.__('Provenance') %></dt>
      <dd><p><a href="<%- data.doc.provenance %>"><%- data.doc.provenance %></a></p></dd>
            <% } %>

      <% if (data.doc.editeur) { %>
      <dt><%- data.__('Éditeur') %></dt>
      <dd><p><%- data.doc.editeur %></p></dd>
            <% } %>

      <% if (data.doc.dateEdition) { %>
      <dt><%- data.__("Date d'édition") %></dt>
      <dd><p><%- data.doc.dateEdition %></p></dd>
         <% } %>

      <% if (data.doc.langueEdition) { %>
      <dt><%- data.__("Langue d'édition") %></dt>
      <dd>
              <% data.doc.langueEdition.forEach(function (valeur) { %>
                 <p class="enum">
                   <% if (valeur.nom) { %>
                    <%- valeur.nom %>
                   <% } else { %>
                    <%- valeur %>
                   <% } %>
                  </p>

        <% }) %><br>
            </dd>
            <% } %>

      <% if (data.doc.lieuEdition) { %>
      <dt><%- data.__("Lieux d'édition") %></dt>
      <dd>
              <% data.doc.lieuEdition.forEach(function (valeur) { %>
                 <p class="enum">
                   <% if (valeur.nom) { %>
                    <%- valeur.nom %>
                   <% } else { %>
                    <%- valeur %>
                   <% } %>
                  </p>
        <% }) %><br>
            </dd>
            <% } %>

      <% if (data.doc.encodage) { %>
      <dt><%- data.__('Encodage') %></dt>
      <dd><p><%- data.doc.encodage %></p></dd>
            <% } %>

      <% if (data.doc.format) { %>
      <dt><%- data.__('Format') %></dt>
      <dd><p><%- data.doc.format %></p></dd>
            <% } %>

      <% if (data.doc.identifiantIsbn) { %>
      <dt><%- data.__('Identifiant ISBN') %></dt>
      <dd><p><%- data.doc.identifiantIsbn %></p></dd>
            <% } %>

      <% if (data.doc.identifiantIssn) { %>
      <dt><%- data.__('Identifiant ISSN') %></dt>
      <dd><p><%- data.doc.identifiantIssn %></p></dd>
      <% } %>

      <% if (data.doc.identifiantEissn) { %>
      <dt><%- data.__('Identifiant EISSN') %></dt>
      <dd><p><%- data.doc.identifiantEissn %></p></dd>
      <% } %>

      <% if (data.doc.identifiantDoi) { %>
      <dt><%- data.__('Identifiant DOI') %></dt>
      <dd><p><%- data.doc.identifiantDoi %></p></dd>
      <% } %>

      <% if (data.doc.identifiantDc) { %>
      <dt><%- data.__('Identifiant DC') %></dt>
      <dd><p><%- data.doc.identifiantDc %></p></dd>
      <% } %>

      <% if (data.doc.identifiantDewey) { %>
      <dt><%- data.__('Identifiant Dewey') %></dt>
      <dd><p><%- data.doc.identifiantDewey %></p></dd>
      <% } %>

      <% if (data.doc.identifiantJournalseek) { %>
      <dt><%- data.__('Identifiant journalseek') %></dt>
      <dd><p><%- data.doc.identifiantJournalseek %></p></dd>
      <% } %>

      <% if (data.doc.identifiantJtoc) { %>
      <dt><%- data.__('Identifiant JTOC') %></dt>
      <dd><p><%- data.doc.identifiantJtoc %></p></dd>
      <% } %>

      <% if (data.doc._id) { %>
      <dt>Couch-id</dt>
      <dd><p><%- data.doc._id %></p></dd>
      <% } %>

      <% if (data.doc.nomMachine) { %>
      <dt><%- data.__('Nom-machine') %></dt>
      <dd><p><%- data.doc.nomMachine %></p></dd>
      <% } %>

      <% if (data.doc.isCopyright !== null) { %>
      <dt><%- data.__('Copyright') %></dt>
      <dd><p><%- data.doc.isCopyright %></p></dd>
      <% } %>

      <% if (data.doc.miseAJour) { %>
      <dt><%- data.__('Mise à jour') %></dt>
      <dd><p><%- data.doc.miseAJour %></p></dd>
      <% } %>

      <% if (data.doc.typeDeRessource) { %>
      <dt><%- data.__('Types de ressource') %></dt>
      <dd>
              <% data.doc.typeDeRessource.forEach(function (valeur) { %>
                 <p class="enum">
                   <% if (valeur.nom) { %>
                    <%- valeur.nom %>
                   <% } else { %>
                    <%- valeur %>
                   <% } %>
                  </p>

        <% }) %><br>
      </dd>
      <% } %>

      <% if (data.doc.typeDeContenu) { %>
      <dt><%- data.__('Types de contenu') %></dt>
      <dd>
              <% data.doc.typeDeContenu.forEach(function (valeur) { %>
           <p class="enum"><%- valeur %></p>
        <% }) %><br>
      </dd>
      <% } %>

      <% if (data.doc.sourceUrl) { %>
      <dt><%- data.__('URL') %></dt>
      <dd><p><a href="<%- data.doc.sourceUrl %>"><%- data.doc.sourceUrl %></a></p></dd>
      <% } %>

  </dl>

  <p><a title="<%- data.__('Haut de page') %>" href="#"><i class="fi-arrow-up"></i></a></p>

</div>