<!-- TODO -->
<div class="row">

  <div class="small-6 columns">
    <div class="text-left" id="logo">
      <p>
		<a href="<%- data.app.logoHref %>">
		  <img src="<%- data.app.logoSrc %>" alt="<%- data.app.logoAlt %>" title="<%- data.app.logoTip %>">
		</a>
		</p>
    </div>
  </div>

  <div class="small-6 columns">
    <br>
    <ul class="menu">
    <li><a href="#article"><%- data.__('Article') %></a></li>
    <li><a href="#information"><%- data.__('Information') %></a></li>
    <li><a href="#attributs"><%- data.__('Attributs') %></a></li>
    <li><a href="#evaluation"><%- data.__('Évaluer') %></a></li>
    <li><a href="#commentaires"><%- data.__('Commenter') %></a></li>
    </ul>
  </div>

</div>