<% if (data.headerName === 'logoChercher') { %>
<div class='row align-middle'>
  <div class='small-6 columns'>
    <a href="/<%- data.data && data.data.pathparts && data.data.pathparts[0] || 'fr' %>/accueil"><img src="/img/phdadmin_logo.png" alt="PhD Administration"></a>
  </div>
  <div class='small-6 columns'>
    <br><form action="/<%- data.data.languageCode %>/demo/search">
    <div class='row'>
      <div class='small-6 columns'>
         <input type="text" name="word">
      </div>
      <div class='small-6 columns'>
        <a href="/<%- data.data && data.data.pathparts && data.data.pathparts[0] || 'fr' %>/resultats" class='hollow button' title="Chercher parmi tous les articles ">Chercher</a>&nbsp;
        <a href="/<%- data.data && data.data.pathparts && data.data.pathparts[0] || 'fr' %>/resultats" class='hollow button' title="Enregistrer cette page ">Enregistrer</a>&nbsp;
        </div>
      </div>
    </form>
  </div>
</div>
<% } %>

<% if (data.headerName === 'logoChercherFiltrer') { %>
<div class='row align-middle'>
  <div class='small-6 columns'>
    <a href="/<%- data.data && data.data.pathparts && data.data.pathparts[0] || 'fr' %>/accueil"><img src="/img/phdadmin_logo.png" alt="PhD Administration"></a>
  </div>
  <div class='small-6 columns'>
    <br><form action="/<%- data.data.languageCode %>/demo/search">
    <div class='row'>
      <div class='small-6 columns'>
         <input type="text" name="word">
      </div>
      <div class='small-6 columns'>
      <a href="/<%- data.data && data.data.pathparts && data.data.pathparts[0] || 'fr' %>/resultats" class='hollow button' title="Chercher parmi tous les articles ">Chercher</a>&nbsp;
      <!-- debut filtrer -->
        <button class='hollow button' type='button' data-toggle="filtrer-dropdown" title="Filtrer articles de cette page ">Filtrer</button>
        <div class='dropdown-pane' id="filtrer-dropdown" data-dropdown data-auto-focus='true'>
          <p><span class='strong'>Filtrer articles courants</span></p>
           <div class='row'>
            <div class='small-12 columns'>
              <label><input type='checkbox' name="contientMesFavoris">&nbsp;En fonction de mes favoris</label>
              <label>Contient ce terme<input type='text' name="contientCeTerme" placeholder="Exemple"></label>
              <label>Écrit par cet auteur<input type='text' name="ecritParCetAuteur" placeholder="Latour, Bruno"></label>
              <label>Après cette date<input type='text' name="apresCetteDate" placeholder="2016-01-01"></label>
              <label>Avant cette date<input type='text' name="avantCetteDate" placeholder="2016-10-27"></label>
              <label>Langue<input type='text' name="contientCetteLangue" placeholder="Français, Anglais"></label>
              <label>Format<input type='text' name="estDansCeFormat" placeholder="HTML, PDF"></label>
              <input class='button' type='submit' name="filtrer" value="Filtrer">&nbsp;
              <input class='button' type='submit' name="aucunFiltrage" value="Aucun filtrage (tous)&nbsp;">
            </div>
           </div>
        </div>
      <!-- fin filtrer -->
      <!-- debut trier -->
        &nbsp;<button class='hollow button' type='button' data-toggle="trier-dropdown" title="Trier articles de cette page ">Trier</button>
        <div class='dropdown-pane' id="trier-dropdown" data-dropdown data-auto-focus='true'>
          <p><span class='strong'>Trier articles courants</span></p>
           <div class='row'>
            <div class='small-12 columns'>
            <input type='radio' name="trierPar" value="ParPertinence" id="ParPertinence" checked><label for="ParPertinence">Par pertinence</label>
            <br><input type='radio' name="trierPar" value="ParTitre" id="parTitre"><label for="parTitre">Par titre</label>
            <br><input type='radio' name="trierPar" value="ParDate" id="parDate"><label for="parDate">Par date</label>
            <hr>
            <input type='radio' name="ordre" value="Ascendant" id="Ascendant" checked><label for="Ascendant">Ascendant</label>
            <br><input type='radio' name="ordre" value="Descendant" id="Descendant"><label for="Descendant">Descendant</label>
            </div>
           </div>
        </div>
      <!-- fin trier -->
        </div>
        </div>
      </form>
  </div>
</div>
<% } %>

<% if (data.headerName === 'mmPageHeaderRYM') { %>
<div class='row'>
  <!-- Left -->
  <div class='small-3 columns'>
      <%= partials.blocLangues({ data: data.data, page: data.page, langue: data.langue }) %>
  </div>
  <!-- Center -->
  <div class='small-6 columns'>
    <h3 id='page-main-title' class='text-center'><%- data.data.__(data.title) %></h3>
  </div>
  <!-- Right -->
  <div class='small-3 columns'>
    <% if (data.usertype === 'membre' || data.usertype === 'admin') { %>
     <div class='' id="bloc-fonctions">
     <ul class='menu align-right'>
      <li class='icon'><a title="Aidez-moi" href="/<%- data.data && data.data.pathparts && data.data.pathparts[0] || 'fr' %>/aider"><i class='fi-info'></i></a></li>
      <li class='icon'><a title="Imprimer la page" href="#"><i class='fi-print'></i></a></li>
      <li class='icon'><a title="Enregistrer" href="#"><i class='fi-save'></i></a></li>
      <li class='icon'><a title="S'abonner aux notifications" href="#"><i class='fi-rss'></i></a></li>
      <li class='icon'><a title="Ajouter à mes favoris" href="#"><i class='fi-star'></i></a></li>
    </ul>
    </div>
    <% } else { %>
    <p>&nbsp;</p>
    <% } %>
  </div>
</div>
<% } %>

<% if (data.headerName === 'mmPageHeader') { %>
<div class='row'>
  <!-- Left -->
  <div class='small-3 columns'>
      <%= partials.blocLangues({ page: data.page, langue: 'Fr' }) %>
  </div>
  <!-- Center -->
  <div class='small-6 columns'>
    <h3 id='page-main-title' class='text-center'><%- data.title %></h3>
  </div>
  <!-- Right -->
  <div class='small-3 columns'>
    <% if (data.usertype === 'membre' || data.usertype === 'admin') { %>
     <div class='' id="bloc-fonctions">
     <ul class='menu align-right'>
      <li class='icon'><a title="Aidez-moi" href="/<%- data.data && data.data.pathparts && data.data.pathparts[0] || 'fr' %>/aider"><i class='fi-info'></i></a></li>
      <li class='icon'><a title="Imprimer la page" href="#"><i class='fi-print'></i></a></li>
      <li class='icon'><a title="Enregistrer" href="#"><i class='fi-save'></i></a></li>
      <li class='icon'><a title="S'abonner aux notifications" href="#"><i class='fi-rss'></i></a></li>
      <li class='icon'><a title="Ajouter à mes favoris" href="#"><i class='fi-star'></i></a></li>
    </ul>
    </div>
    <% } else { %>
    <p>&nbsp;</p>
    <% } %>
  </div>
</div>
<% } %>

<% if (data.headerName === 'mmSearchHeader') { %>
<div class='row'>
  <!-- Left -->
  <div class='small-3 columns'>
      <%= partials.blocLangues({ langue: 'Fr' }) %>
  </div>
  <!-- Center -->
  <div class='small-6 columns'>
    <h3 id='page-main-title' class='text-center'><%- data.title %></h3>
  </div>
  <!-- Right -->
  <div class='small-3 columns'>
    <% if (data.usertype === 'membre' || data.usertype === 'admin') { %>
     <div class=''>
      <ul class='menu align-right'>
      <li class='icon'><a title="Aidez-moi" href="/<%- data.data && data.data.pathparts && data.data.pathparts[0] || 'fr' %>/aider"><i class='fi-info'></i></a></li>
      <li class='icon'><a title="Enregistrer résultats" href="#"><i class='fi-page-export-pdf'></i></a></li>
      <li class='icon'><a title="Historique de mes recherches" href="#"><i class='fi-clock'></i></a></li>
      <li class='icon'><a title="S'abonner aux notifications" href="#"><i class='fi-rss'></i></a></li>
      <li class='icon'><a title="Ajouter à mes favoris" href="#"><i class='fi-star'></i></a></li>
      </ul>
    </div>
    <% } else { %>
    <p>&nbsp;</p>
    <% } %>
  </div>
</div>
<% } %>

<% if (data.headerName === 'titreSeulement') { %>
<div class='row'>
  <div class='small-12 columns'>
    <div class='callout'>
      <h3 class='page-main-title'><%- data.title %></h3>
      <p class='em text-center'><%- data.soustitre %></p>
    </div>
  </div>
</div>
<% } %>
