<!-- #########################################################

====== DROPDOWNS ======

* ajouter-terme-dropdown
* retirer-pair-dropdown
* inviter-membre-dropdown
* ajouter-commentaire-dropdown
* ajouter-groupe-dropdown
* ajouter-langue-dropdown
* ajouter-lien-dropdown
* ajouter-lien2-dropdown
* ajouter-lieu-dropdown
* add-keyword-dropdown
* add-keyword2-dropdown
* ajouter-organisation-dropdown
* ajouter-personne-dropdown
* ajouter-sujet-dropdown
* theme-dropdown
* dropdownDisponible

syntax: displayDropdown dropName

############################################################### -->

<% if (data.dropName === 'ajouter-terme-dropdown') { %>
<!-- <a class="icon" data-toggle="ajouter-terme-dropdown" title="Ajouter un terme"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="ajouter-terme-dropdown" data-dropdown data-auto-focus="true">
  <p><span class="strong">Ajouter un terme</span></p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Terme<input type="text" name="lien" placeholder="Exemple"></label>
        <input class="button" type="submit" name="enregistrer" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'retirer-pair-dropdown') { %>
<!-- <a class="icon" data-toggle="retirer-pair-dropdown" title="Retirer ce pair"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="retirer-pair-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Retirer ce pair ?</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <input class="button" type="submit" name="Retirer" value="Retirer">&nbsp;
        <input class="button" type="reset" name="Conserver" value="Conserver">
        <label>
          <span class="strong">Commentaire</span>
          <textarea name="commentaire" placeholder="Exemple d'un commentaire"></textarea>
        </label>
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'inviter-membre-dropdown') { %>
<!--<a class="icon" data-toggle="inviter-membre-dropdown" title="Inviter ce membre"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="inviter-membre-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Inviter ce membre ?</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <input class="button" type="submit" name="Inviter" value="Inviter">&nbsp;
        <input class="button" type="reset" name="Annuler" value="Annuler">
        <label>
          <span class="strong">Commentaire</span>
          <textarea name="commentaire" placeholder="Exemple d'un commentaire"></textarea>
        </label>
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'ajouter-commentaire-dropdown') { %>
<!-- <a class="icon" data-toggle="ajouter-commentaire-dropdown" title="Ajouter un commentaire"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="ajouter-commentaire-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Ajouter un commentaire</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>
          <span class="strong">Commentaire</span>
          <textarea name="commentaire" placeholder="Exemple d'un commentaire"></textarea>
        </label>
        <input class="button" type="submit" name="enregistrer" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'ajouter-groupe-dropdown') { %>
<!-- <a class="icon" data-toggle="ajouter-groupe-dropdown" title="Ajouter un groupe"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="ajouter-groupe-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Proposer un groupe</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Nom<input type="text" name="groupe-nom" placeholder="Groupe n"></label>
        <input class="button" type="submit" name="groupe-ajouter" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'ajouter-langue-dropdown') { %>
<!--<a class="icon" data-toggle="ajouter-langue-dropdown" title="Ajouter une langue"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="ajouter-langue-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Ajouter une langue</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Langue<input type="text" name="langue-specifier" placeholder="Français"></label>
        <input class="button" type="submit" name="langue-ajouter" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'ajouter-lien-dropdown') { %>
<!-- <a class="icon" data-toggle="ajouter-lien-dropdown" title="Ajouter un lien"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="ajouter-lien-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Ajouter un lien</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Hypertexte<input type="text" name="liern-texte" placeholder="Apple Inc."></label>
        <label>URL<input type="text" name="lien-url" placeholder="http://www.apple.com"></label>
        <input class="button" type="submit" name="lien-ajouter" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'ajouter-lien2-dropdown') { %>
<!-- <a class="icon" data-toggle="ajouter-lien2-dropdown" title="Ajouter un lien"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="ajouter-lien2-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Ajouter un lien</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Hypertexte<input type="text" name="liern-texte" placeholder="Apple Inc."></label>
        <label>URL<input type="text" name="lien-url" placeholder="http://www.apple.com"></label>
        <input class="button" type="submit" name="lien-ajouter" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'ajouter-lieu-dropdown') { %>
<!-- <a class="icon" data-toggle="ajouter-lieu-dropdown" title="Ajouter un lieu"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="ajouter-lieu-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Ajouter un lieu</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Lieu<input type="text" name="lieu-specifier" placeholder="Français"></label>
        <label>Aperçu<input type="text" name="lieu-apercu" placeholder="Tapez"></label>
        <input class="button" type="submit" name="lieu-ajouter" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'add-keyword-dropdown') { %>
<!-- <a class="icon" data-toggle="add-keyword-dropdown" title="Ajouter un mot-clef"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="add-keyword-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Ajouter un mot-clef</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Terme<input type="text" name="terme" placeholder="Exemple"></label>
        <input class="button" type="submit" name="enregistrer" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'add-keyword2-dropdown') { %>
<!-- <a class="icon" data-toggle="add-keyword2-dropdown" title="Ajouter un mot-clef"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="add-keyword2-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Ajouter un mot-clef</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Terme<input type="text" name="terme" placeholder="Exemple"></label>
        <input class="button" type="submit" name="enregistrer" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'ajouter-organisation-dropdown') { %>
<!-- <a class="icon" data-toggle="ajouter-organisation-dropdown" title="Ajouter une organisation"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="ajouter-organisation-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Proposer une organisation</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Nom<input type="text" name="org-nom" placeholder="Organisation n"></label>
        <label>URL<input type="text" name="org-url" placeholder="http://www.organisation.com"></label>
        <input class="button" type="submit" name="org-ajouter" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'ajouter-personne-dropdown') { %>
<!-- <a class="icon" data-toggle="ajouter-personne-dropdown" title="Ajouter une personne"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="ajouter-personne-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Proposer une personne</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Nom de famille<input type="text" name="personne-nomFamille" placeholder="Smith"></label>
        <label>Prénom<input type="text" name="personne-prenom" placeholder="John"></label>
        <label>URL<input type="text" name="personne-url" placeholder="http://www.johnsmith.com"></label>
        <input class="button" type="submit" name="personne-ajouter" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'ajouter-sujet-dropdown') { %>
<!-- <a class="icon" data-toggle="ajouter-sujet-dropdown" title="Ajouter un sujet"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="ajouter-sujet-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Ajouter un sujet</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Sujet<input type="text" name="sujet" placeholder="Exemple"></label>
        <input class="button" type="submit" name="enregistrer" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'ajouter-sujet2-dropdown') { %>
<!-- <a class="icon" data-toggle="ajouter-sujet2-dropdown" title="Ajouter un sujet"><i class="fi-plus"></i></a> -->
<div class="dropdown-pane" id="ajouter-sujet2-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Ajouter un sujet</p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Sujet<input type="text" name="sujet" placeholder="Exemple"></label>
        <input class="button" type="submit" name="enregistrer" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<% } %>

<% if (data.dropName === 'theme-dropdown') { %>
<!-- <a class="icon" data-toggle="theme-dropdown" title="Choisir votre thème"><i class="fi-pencil"></i></a> -->
<div class="dropdown-pane" id="theme-dropdown" data-dropdown data-auto-focus="true">
  <p class="strong">Choisir votre thème</p>
   <div class="row">
    <div class="small-12 columns">
    <input type="radio" name="choisirTheme" value="Theme0" id="Theme0" checked><label for="Theme0">Pas de thème particulier</label>
    <br><input type="radio" name="choisirTheme" value="Theme1" id="Theme1"><label for="Theme1">Thème 1</label>
    <br><input type="radio" name="choisirTheme" value="Theme2" id="Theme2"><label for="Theme2">Thème 2</label>
    <br><input type="radio" name="choisirTheme" value="Theme3" id="Theme3"><label for="Theme3">Thème 3</label>
    </div>
   </div>
</div>
<% } %>

<% if (data.dropName === 'dropdownDisponible') { %>
xxxxxxxxxxxxxxxxxxxxxxxxx
<% } %>
