<!-- #########################################################

====== TABLES ======

* tableFavoris
* tableLesLieux
* tableLesOrganisations
* tableLesPersonnes
* tableLesSections
* tableMesActivites
* tableMesAppels
* tableMesArticles
* tableMesAvis
* tableMesBourses
* tableMesConferences
* tableMesCongres
* tableMesEmplois
* tableMesInteractions
* tableMesLancements
* tableMesLieux
* tableMesOrganisations
* tableMesPersonnes
* tableMesRecherches
* tableMesRendezVous
* tableMesSections
* tableMesSujets
* tableNotifications
* tableTaches
* tableTousSujets
* tableDisponible
* tableIndexeSite

############################################################### -->

<% if (data.tableName === 'tableFavoris') { %>
<table class='hover'>
  <tr>
    <td class='em'>Nom</td>
    <td class='em'>Type</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="#">Agriculture</a></td>
    <td>Sujet</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="#">Berthiaume, Claude</a></td>
    <td>Personne</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="#">Entreprise</a></td>
    <td>Section</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="#">Mission SOCLIM – Carnet de bord #2</a></td>
    <td>Article</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableLesLieux') { %>
<table class='hover'>
  <tr>
    <td class='em'>Lieu</td>
    <td class='em'>Aperçu</td>
    <td class='larger-text'><i class='fi-plus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/lieu/id">Montréal (Québec)</a></td>
    <td>Aperçu de Montréal (Québec)</td>
    <td class='larger-text'><a title="Ajouter à mes favoris" href="#"><i class='fi-plus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/lieu/id">Québec (Québec)</a></td>
    <td>Aperçu de Québec (Québec)</td>
    <td class='larger-text'><a title="Ajouter à mes favoris" href="#"><i class='fi-plus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/lieu/id">Paris (France)</a></td>
    <td>Aperçu de Paris (France)</td>
    <td class='larger-text'><a title="Ajouter à mes favoris" href="#"><i class='fi-plus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableLesOrganisations') { %>
<table class='hover'>
  <tr>
    <td class='em'>Organisation</td>
    <td class='em'>Aperçu</td>
    <td class='larger-text'><i class='fi-plus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/organisation/1">Organisation #1</a></td>
    <td>Aperçu d'Organisation #1</td>
    <td class='larger-text'><a title="Ajouter à mes favoris" href="#"><i class='fi-plus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/organisation/n">Organisation #n</a></td>
    <td>Aperçu d'Organisation #n</td>
    <td class='larger-text'><a title="Ajouter à mes favoris" href="#"><i class='fi-plus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableLesPersonnes') { %>
<table class='hover'>
  <tr>
    <td class='em'>Personne</td>
    <td class='em'>Aperçu</td>
    <td class='larger-text'><i class='fi-plus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/personne/n">Albert Einstein</a></td>
    <td>Aperçu d'Albert Einstein</td>
    <td class='larger-text'><a title="Ajouter à mes favoris" href="#"><i class='fi-plus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/personne/n">Bruno Latour</a></td>
    <td>Aperçu de Bruno Latour</td>
    <td class='larger-text'><a title="Ajouter à mes favoris" href="#"><i class='fi-plus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableLesSections') { %>
<table class='hover'>
  <tr>
    <td class='em'>Section</td>
    <td class='em'>Breadcrumb</td>
    <td class='larger-text'><a href="#"><i class='fi-plus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/section">Entreprise</a></td>
    <td>Section/Entreprise/</td>
    <td class='larger-text'><a href="#"><i class='fi-plus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/section">Acteurs de l'entreprise</a></td>
    <td>Section/Entreprise/Acteurs de l'entreprise/</td>
    <td class='larger-text'><a href="#"><i class='fi-plus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesActivites') { %>
<table class='hover'>
  <tr>
    <td class='em'>Activités</td>
    <td class='em'>Depuis</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/activite/1">Activités #1</a></td>
    <td>2018-11-15-18h25</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/activite/n">Activités #n</a></td>
    <td>2018-11-14-18h38</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesAppels') { %>
<table class='hover'>
  <tr>
    <td class='em'>Appel</td>
    <td class='em'>Depuis</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/appel/1">Appel #1</a></td>
    <td>2018-11-15-18h25</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/appel/n">Appel #n</a></td>
    <td>2018-11-14-18h38</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesArticles') { %>
<table class='hover'>
  <tr>
    <td class='em'>Article</td>
    <td class='em'>Depuis</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/article/1">Article #1</a></td>
    <td>2018-11-15-18h25</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/article/n">Article #n</a></td>
    <td>2018-11-14-18h38</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesAvis') { %>
<table class='hover'>
  <tr>
    <td class='em'>Avis</td>
    <td class='em'>Depuis</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/avis/1">Avis #1</a></td>
    <td>2018-11-15-18h25</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/avis/n">Avis #n</a></td>
    <td>2018-11-14-18h38</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesBourses') { %>
<table class='hover'>
  <tr>
    <td class='em'>Bourse</td>
    <td class='em'>Depuis</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/bourse/1">Bourse #1</a></td>
    <td>2018-11-15-18h25</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/bourse/n">Bourse #n</a></td>
    <td>2018-11-14-18h38</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesConferences') { %>
<table class='hover'>
  <tr>
    <td class='em'>Conférence</td>
    <td class='em'>Depuis</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/conference/1">Conférence #1</a></td>
    <td>2018-11-15-18h25</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/conference/n">Conférence #n</a></td>
    <td>2018-11-14-18h38</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesCongres') { %>
<table class='hover'>
  <tr>
    <td class='em'>Congrès</td>
    <td class='em'>Depuis</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/congres/1">Congrès #1</a></td>
    <td>2018-11-15-18h25</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/congres/n">Congrès #n</a></td>
    <td>2018-11-14-18h38</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesEmplois') { %>
<table class='hover'>
  <tr>
    <td class='em'>Emplois</td>
    <td class='em'>Depuis</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/emplois/1">Emplois #1</a></td>
    <td>2018-11-15-18h25</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/emplois/n">Emplois #n</a></td>
    <td>2018-11-14-18h38</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesInteractions') { %>
<table class='hover'>
  <tr>
    <td class='em'>Moment effectué</td>
    <td class='em'>Type d'interaction</td>
    <td class='em'>Interaction</td>
  </tr>
  <tr>
    <td>2018-11-19-15h11</td>
    <td>Recherche</td>
    <td><a href="/fr/recherche/n">Physiciens, Albert Einstein</a></td>
  </tr>
  <tr>
    <td>2018-11-12-18h25</td>
    <td>Commentaire</td>
    <td><a href="/fr/commentaire/n">Commentaire quelconque</a></td>
  </tr>
  <tr>
    <td>2018-11-15-16h10</td>
    <td>Évaluation</td>
    <td><a href="/fr/evaluation/n">Évaluation de l'article #1</a></td>
  </tr>
  <tr>
    <td>2018-11-19-13h10</td>
    <td>Suggestion</td>
    <td><a href="/fr/suggestion/n">Suggestion du sujet "Quelconque".</a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesLancements') { %>
<table class='hover'>
  <tr>
    <td class='em'>Lancements</td>
    <td class='em'>Depuis</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/lancements/1">Lancements #1</a></td>
    <td>2018-11-15-18h25</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/lancements/n">Lancements #n</a></td>
    <td>2018-11-14-18h38</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesLieux') { %>
<table class='hover'>
  <tr>
    <td class='em'>Lieu</td>
    <td class='em'>Depuis</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/lieu/id">Montréal (Québec)</a></td>
    <td>2018-11-15-18h17</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/lieu/id">Québec (Québec)</a></td>
    <td>2018-11-14-18h17</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/lieu/id">Paris (France)</a></td>
    <td>2018-11-25-05h52</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesOrganisations') { %>
<table class='hover'>
  <tr>
    <td class='em'>Organisation</td>
    <td class='em'>Depuis</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/organisation/1">Organisation #1</a></td>
    <td>2018-11-15-18h25</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/organisation/n">Organisation #n</a></td>
    <td>2018-11-16-01h57</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesPersonnes') { %>
<table class='hover'>
  <tr>
    <td class='em'>Personne</td>
    <td class='em'>Depuis</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/personne/n">Albert Einstein</a></td>
    <td>2018-11-15-18h17</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/personne/n">Bruno Latour</a></td>
    <td>2018-11-14-18h17</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesRecherches') { %>
<table class='hover'>
  <tr>
    <td class='em'>Recherche</td>
    <td class='em'>Dernière fois</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/recherche/1">Recherche #1</a></td>
    <td>2018-11-15-18h25</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/recherche/n">Recherche #n</a></td>
    <td>2018-11-14-18h38</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesRendezVous') { %>
<table class='hover'>
  <tr>
    <td class='em'>Rendez-vous</td>
    <td class='em'>Date</td>
    <td class='em'>Heure</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/rendezVous/1">Rendez-vous #1</a></td>
    <td>2018-11-15</td>
    <td>18h17</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/rendezVous/2">Rendez-vous #2</a></td>
    <td>2018-11-14</td>
    <td>18h17</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesSections') { %>
<table class='hover'>
  <tr>
    <td class='em'>Section</td>
    <td class='em'>Breadcrumb</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/section">Entreprise</a></td>
    <td>Section/Entreprise/</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/section/n">Acteurs de l'entreprise</a></td>
    <td>Section/Entreprise/Acteurs de l'entreprise/</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableMesSujets') { %>
<table class='hover'>
  <tr>
    <td class='em'>Sujet</td>
    <td class='em'>Breadcrumb</td>
    <td class='larger-text'><i class='fi-minus'></i></td>
  </tr>
  <tr>
    <td><a href="/fr/sujet">Agriculture</a></td>
    <td>Sujet/Agriculture/</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/sujet/n">Acériculture</a></td>
    <td>Sujet/Agriculture/Acériculture/</td>
    <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableNotifications') { %>
<table class='hover'>
<tr>
  <td class='em'>Nom et lien</td>
  <td class='em'>Type</td>
  <td class='larger-text'><i class='fi-minus'></i></td>
</tr>
<tr>
  <td><a href="#">Agriculture</a></td>
  <td>Sujet</td>
  <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
</tr>
<tr>
  <td><a href="#">Acériculture</a></td>
  <td>Sujet</td>
  <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
</tr>
<tr>
  <td><a href="#">Alain Farmer</a></td>
  <td>Personne</td>
  <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
</tr>
<tr>
  <td><a href="#">Site web de Sage Publications</a></td>
  <td>Ressource</td>
  <td class='larger-text'><a href="#"><i class='fi-minus'></i></a></td>
</tr>
</table>
<% } %>

<% if (data.tableName === 'tableTaches') { %>
<table class='hover'>
<tr>
  <td width="20%" class='em'>Moment</td>
  <td width="5%" class='em'>&nbsp;</td>
  <td width="55%" class='em'>Tâche</td>
  <td width="15%" class='em text-right'>Accomplie</td>
  <td width="5%" class='em'><i class='fi-minus'></i></td>
</tr>
<tr>
  <td>2016-11-01-13h</td>
  <td><span title="par l'utilisateur" class='success badge'>U</span></td>
  <td><a href="#">Exemple #1 d'une tâche</a></td>
  <td class='text-right'><a href="#">100%</a></td>
  <td><a title="Retirer cette tâche" href="#"><i class='fi-minus'></i></a></td>
</tr>
<tr>
  <td>2016-11-02-13h</td>
  <td><span title="par un groupe" class='warning badge'>G</span></td>
  <td><a href="#">Exemple #2 d'une tâche</a></td>
  <td class='text-right'><a href="#">50%</a></td>
  <td><a title="Retirer cette tâche" href="#"><i class='fi-minus'></i></a></td>
</tr>
<tr>
  <td>2016-11-23-20h</td>
  <td><span title="par le système" class='alert badge'>S</span></td>
  <td><a href="#">Exemple #3 d'une tâche</a></td>
  <td class='text-right'><a href="#">0%</a></td>
  <td><a title="Retirer cette tâche" href="#"><i class='fi-minus'></i></a></td>
</tr>
</table>
<% } %>

<% if (data.tableName === 'tableTousSujets') { %>
<table class='hover'>
  <tr>
    <td class='em'>Sujet</td>
    <td class='em'>Breadcrumb</td>
    <td class='larger-text'><a href="#"><i class='fi-plus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/sujet">Agriculture</a></td>
    <td>Sujet/Agriculture/</td>
    <td class='larger-text'><a href="#"><i class='fi-plus'></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/sujet">Acériculture</a></td>
    <td>Sujet/Agriculture/Acériculture/</td>
    <td class='larger-text'><a href="#"><i class='fi-plus'></i></a></td>
  </tr>
</table>
<% } %>

<% if (data.tableName === 'tableDisponible') { %>
<!-- <a data-open="tableName">AFFICHER UN TABLEAU</a> -->
<p>DISPONIBLE pour AFFICHER un TABLEAU. Remplacer ceci par le markup du tableau.</p>
<% } %>

<% if (data.tableName === 'tableIndexeSite') { %>
<table class='hover'>
<tr><td width="35%"><a onclick="open_tab('apropos','a-propos-de-nous')">À propos de nous</a></td><td width="65%">Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','a-propos-du-site')">À propos du site</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/accueil">Accueil</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/moi#mon-agenda">Agenda</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#appels-a-communication">Appels</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#avis">Avis</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#mon-calendrier">Calendrier</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','charte-editorial')">Charte éditorial</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','comment-publier-avec-nous')">Comment publier avec nous</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#compte">Compte</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#conferences">Conférences</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#congres">Congrès</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','contactez-nous')">Contactez-nous</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#emplois">Emplois</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#etudes">Études</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#mes-favoris">Favoris</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-1">FAQ - Catégorie 1</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-2">FAQ - Catégorie 2</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-3">FAQ - Catégorie 3</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-4">FAQ - Catégorie 4</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-5">FAQ - Catégorie 5</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-6">FAQ - Catégorie 6</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-7">FAQ - Catégorie 7</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-8">FAQ - Catégorie 8</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#financement">Financement</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#groupes">Groupes</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#mon-historique">Historique</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#mon-identite">Identité</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','indexe-du-site')">Indexe du site</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#lancements">Lancements</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/abonnez-vous">M'abonner</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/moi#mes-notifications">M'aviser</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/maThese">Ma thèse</a></td><td>Aperçu ... groupe</td></tr>
<tr><td><a href="/fr/groupe1">Management des TIC</a></td><td>Aperçu ... groupe</td></tr>
<tr><td><a href="/fr/me-connecter">Me connecter</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/me-deconnecter">Me déconnecter</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/bottin#membres">Membres</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#activites">Mes activités</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#appels">Mes appels</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#articles">Mes articles</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#avis">Mes avis</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#bourses">Mes bourses</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#conferences">Mes conférences</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#congres">Mes congrès</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#emplois">Mes emplois</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#mesGroupes">Mes groupes</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#lancements">Mes lancements</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#mesOrganisations">Mes organisations</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#pairs">Mes pairs</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#mesPersonnes">Mes personnes</a></td><td>Aperçu ... onglet dans Bottin</td></tr>
<tr><td><a href="/fr/favoris#personnes">Mes personnes</a></td><td>Aperçu ... onglet dans Favoris</td></tr>
<tr><td><a href="/fr/favoris#recherches">Mes recherches</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#rendezVous">Mes rendez-vous</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#mes-meteos">Météos</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/monJournal">Mon journal</a></td><td>Aperçu ... groupe</td></tr>
<tr><td><a href="/fr/profil-moi">Mon profil public</a></td><td>Aperçu ... page</td></tr>
<tr><td><a onclick="open_tab('apropos','notre-politique')">Notre politique</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#organisations">Organisations</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/detail-ext">Page externe</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/detail-int">Page interne</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/moi#ma-participation">Participer</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#personnes">Personnes</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','plan-du-site')">Plan du site</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#mes-preferences">Préférences</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#quoi-faire">Quoi faire</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#rendez-vous">Rendez-vous</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/resultats">Résultats</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/section">Section</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/favoris#sections">Sections</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/sujet">Sujet</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/favoris#mes-sujets">Sujets</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','votre-participation')">Votre participation</a></td><td>Aperçu ... onglet</td></tr>
</table>
<% } %>