<!-- #########################################################

====== BREADCRUMBS ======

* breadcrumbAccueil
* breadcrumbAccueilDemo
* breadcrumbSectionEntreprise
* breadcrumbSujetAgriculture
* breadcrumbGroupe1
* breadcrumbJournal1
* breadcrumbJournal2
* breadcrumbThese1
* breadcrumbThese2
* breadcrumbResultats

syntax: displayBreadcrumb pageID

############################################################### -->

<% if (data.pageID === 'breadcrumbAccueil') { %>
<div class="row">
  <div class="small-12 columns">
  <nav>
    <ul class="breadcrumbs">
    <li>Accueil</li>
    <li>
      <a class="prev-page" href="#">&lt;</a>
      <span> Page 1 </span>
      <a class="next-page" href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbAccueilDemo') { %>
<div class="row">
  <div class="small-12 columns">
    <nav>
      <ul class="breadcrumbs">
      <li>Accueil</li>
      <li>
        <a class="prev-page" href="#">&lt;</a>
        <span> Page 1 </span>
        <a class="next-page" href="#">&gt;</a>
      </li>
      </ul>
    </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbSectionEntreprise') { %>
<div class="row">
  <div class="small-12 columns">
  <nav>
    <ul class="breadcrumbs">
    <li>section:</li>
    <li><a href="/fr/accueil">Accueil</a></li>
    <li>Entreprise</li>
    <li>
      <a class="prev-page" href="#">&lt;</a>
      <span> Page 1 </span>
      <a class="next-page" href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbSujetAgriculture') { %>
<div class="row">
  <div class="small-12 columns">
      <nav>
      <ul class="breadcrumbs">
      <li>sujet:</li>
      <li><a href="accueil">Accueil</a></li>
      <li>Agriculture</li>
      <li>
        <a class="prev-page" href="#">&lt;</a>
        <span> Page 1 </span>
        <a class="next-page" href="#">&gt;</a>
      </li>
      </ul>
      </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbGroupe1') { %>
<div class="row">
  <div class="small-12 columns">
  <nav>
    <ul class="breadcrumbs">
    <li>Groupe</li>
    <li>
      <a class="prev-page" href="#">&lt;</a>
      <span> Page 1 </span>
      <a class="next-page" href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbThese1') { %>
<div class="row">
  <div class="small-12 columns">
  <nav>
    <ul class="breadcrumbs">
    <li>Groupe</li>
    <li>
      <a class="prev-page" href="#">&lt;</a>
      <span> Page 1 </span>
      <a class="next-page" href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbThese2') { %>
<div class="row">
  <div class="small-12 columns">
  <nav>
    <ul class="breadcrumbs">
    <li>Groupe</li>
    <li>
      <a class="prev-page" href="#">&lt;</a>
      <span> Page 1 </span>
      <a class="next-page" href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbJournal1') { %>
<div class="row">
  <div class="small-12 columns">
  <nav>
    <ul class="breadcrumbs">
    <li>Groupe</li>
    <li>
      <a class="prev-page" href="#">&lt;</a>
      <span> Page 1 </span>
      <a class="next-page" href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbJournal2') { %>
<div class="row">
  <div class="small-12 columns">
  <nav>
    <ul class="breadcrumbs">
    <li>Groupe</li>
    <li>
      <a class="prev-page" href="#">&lt;</a>
      <span> Page 1 </span>
      <a class="next-page" href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbResultats') { %>
<div class="row">
  <div class="small-12 columns">
  <nav>
    <ul class="breadcrumbs">
    <li><a href="/fr/accueil">Accueil</a></li>
    <li>Résultats</li>
    <li>
      <a class="prev-page" href="#">&lt;</a>
      <span> Page 1 </span>
      <a class="next-page" href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>
