<!-- #########################################################

====== LEADS ======

* article1
* article1b
* article2
* article2b
* article3
* article4
* article5
* breve
* breve1
* breve2
* breve3
* breve4

displayLead thisLead

############################################################### -->

<% if (data.thisLead === 'article1') { %>
<div class='journal'>
  <div class='row'>
    <div class='small-12 columns'>
       <p class='headline'>
         <a target='_blank' href="/fr/detail-int" title="Exemple d'un article interne">Mission SOCLIM - Carnet de bord #2</a>
       </p>
    </div>
  </div>
  <div class='row'>
    <div class='small-4 columns'>
     <div class=''>
       <img
         title="© Julien Boulanger"
         src="http://www.cite-sciences.fr/fileadmin/_processed_/csm_KERGUELEN-tempete-2_24df1f8d69.jpg"
         class='mmthumb'>
     </div>
    </div>
    <div class='small-8 columns'>
      <div class='content'>
        <span class='apercu'>Une expédition palpitante ...</span>
        <p class='text-justify'>Le Marion Dufresne vient de rejoindre les îles Kerguelen. La suite de l'expédition <span data-tooltip aria-haspopup="true" class='has-tip' data-disable-hover="false" tabindex="1" title="SOUTHERN OCEAN AND CLIMATE FIELD STUDIES WITH INNOVATIVE TOOLS">SOCLIM</span> dans l'océan Austral. Nous avons atteint depuis peu la région de Kerguelen, dans les Cinquantièmes hurlants...</p>
      </div>
    </div>
  </div>
</div>
<% } %>

<% if (data.thisLead === 'article1b') { %>
<div class='journal'>
  <div class='row'>
    <div class='small-12 columns'>
       <h5 class='headline'><a target='_blank' href="/fr/detail-int" title="Exemple d'un article interne">Mission SOCLIM – Carnet de bord #2</a></h5>
    </div>
  </div>
  <div class='row'>
    <div class='small-8 columns'>
     <div class='content'>
       <p class='text-justify'>Le Marion Dufresne vient de rejoindre les îles Kerguelen. Suite de l'expédition <span data-tooltip aria-haspopup='true' class='has-tip' data-disable-hover='false' tabindex='1' title="SOUTHERN OCEAN AND CLIMATE FIELD STUDIES WITH INNOVATIVE TOOLS">SOCLIM</span> dans l'océan Austral. Nous avons atteint depuis peu la région de Kerguelen, dans les Cinquantièmes hurlants...</p>
     </div>
    </div>
    <div class='small-4 columns'>
     <div class=''>
       <img
         title="© Julien Boulanger"
         src="http://www.cite-sciences.fr/fileadmin/_processed_/csm_KERGUELEN-tempete-2_24df1f8d69.jpg"
         class='mmthumb'>
     </div>
    </div>
  </div>
</div>
<% } %>

<% if (data.thisLead === 'article2') { %>
<div class='journal'>
  <div class='row'>
    <div class='small-8 columns'>
      <div class=''>
        <p class='headline'>
          <a target='_blank' href="/fr/detail-ext" title="Exemple d'un article externe">Determinants of Local<br>Governments' Transparency</a>
        </p>
        <blockquote class="small-text em">The crisis has impact on Government forcing it to be more transparent in management of public resources.</blockquote>
      </div>
    </div><div class='small-4 columns'>
      <div class=''>
        <img src="/img/dans-articles/Philippe_Couillard.jpg" class='mmthumb'>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='content'>
        <p class='text-justify'>Article theoretically and empirically examines determinants of the levels of transparency in Local Governments based on the agency and legitimacy theories. For the purpose of this study, the analysis is based on the Spanish municipalities over a period of 4 years....</p>
      </div>
    </div>
  </div>
</div>
<% } %>

<% if (data.thisLead === 'article2b') { %>
<div class='journal'>
  <div class='row'>
    <div class='small-4 columns'>
      <div class=''>
        <img src="/img/dans-articles/Philippe_Couillard.jpg" class='mmthumb'>
      </div>
    </div>
    <div class='small-8 columns'>
      <div class=''>
        <p class='headline'>
          <a target='_blank' href="/fr/detail-ext" title="Exemple d'un article externe">Determinants of Local<br>Governments' Transparency</a>
        </p>
        <blockquote class="small-text em">The crisis has impact on Government<br>forcing it to be more transparent<br>in management of public resources.</blockquote>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='content'>
        <p class='text-justify'>Article theoretically and empirically examines determinants of the levels of transparency in Local Governments based on the agency and legitimacy theories. For the purpose of this study, the analysis is based on the Spanish municipalities over a period of 4 years....</p>
      </div>
    </div>
  </div>
</div>
<% } %>

<% if (data.thisLead === 'article3') { %>
<div class='journal'>
  <div class='row'>
    <div class='small-8 columns'>
      <div class=''>
        <p class='headline'>
          <a target='_blank' href="http://aas.sagepub.com/cgi/content/abstract/0095399715607287v1?rss=1">The Corrupted Industry</a>
        </p>
        <p>
          <a target='_blank' href="http://aas.sagepub.com/cgi/content/abstract/0095399715607287v1?rss=1"><span class='em'>Wagon-Wheel Effect</span></a>
        </p>
        <p class='apercu'>An explanatory framework</p>
      </div>
    </div><div class='small-4 columns'>
      <div class=''>
        <img src="/img/dans-articles/wagonwheel.jpg" class="mmthumbSmaller" title="image de Google Images">
      </div>
    </div>
  </div>
  <br>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='content'>
        <p class='text-justify'><img src="/img/dans-articles/lettrine.gif" width="30" height="30" alt="N" title="lettrine">ote that the present study addresses a topic neglected by the public administration literature: government corruption and its effects on public service systems. Specifically, the study focuses on the institutionalized form of government corruption and offers a framework to explain... </p>
      </div>
    </div>
  </div>
</div>
<% } %>

<% if (data.thisLead === 'article4') { %>
<div class='journal'>
  <div class='row'>
    <div class='small-12 columns'>
      <div class=''>
        <p class='headline'>
          <a target='_blank' href="http://fr.reuters.com/article/sportsNews/idFRMT1IDAT00004SU20151114" title="Exemple">L'Argentine et le Brésil se neutralisent</a>
        </p>
       <p>
          <a target='_blank' href="http://fr.reuters.com/article/sportsNews/idFRMT1IDAT00004SU20151114" title="Exemple">Coupe du Monde 2018 en Russie</a>
        </p>
        <!-- endif -->
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='content'>
        <p class='text-justify'>Les deux géants du continent sud-américain se sont neutralisés à Buenos Aires lors de la troisième journée des qualifications pour la Coupe du Monde 2018 en Russie. C'est le Parisien Ezequiel Lavezzi qui ouvrait le score pour l'Argentine, idéalement servi par Gonzalo Higuain (1-0, 33e).</p>
      </div>
    </div>
  </div>
</div>
<% } %>

<% if (data.thisLead === 'article5') { %>
<div class='journal'>
  <div class='row'>
    <div class='small-12 columns'>
      <div class=''>
        <p class='headline text-right'>
          <a target='_blank' href="http://fr.reuters.com/article/sportsNews/idFRMT1IDAT00004SU20151114" title="Exemple arabe"><span>رفضت المعارضة الفنزويلية</span></a>
        </p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='content text-right'>
        <p class='text-right'>س، 31 أكتوبر/تشرين الأول (راديو هافانا كوبا) : رفضت المعارضة الفنزويلية العرض الذي تقدم به الرئيس نيكولاس مادورو بالمشاركة في حوار وطني بعد الانتخابات التشريعية التي ستجري في السادس من ديسمبر/كانون الأول. 
         </p>
      </div>
    </div>
  </div>
</div>
<% } %>

<% if (data.thisLead === 'breve') { %>
<div class='secondary callout'>
  <div class='breve-titre'><p class='strong'><a target='_blank' href="URL">TITRE</a></p></div>
  <div class='breve-contenu'><p>CONTENU</p></div>
</div>
<% } %>

<% if (data.thisLead === 'breve1') { %>
<div class='secondary callout'>
  <div class='breve-titre'>
    <p class='strong'><a target='_blank' href="http://fr.reuters.com/article/sportsNews/idFRMT1IDAT00004SU20151114">Funeste rivalité</a></p>
  </div>
  <div class='breve-contenu'>
    <p>Qui oserait douter un instant que pluralisme, liberté d'expression et l'emploi des journalistes soient l'unique objectif.</p>
  </div>
</div>
<% } %>

<% if (data.thisLead === 'breve2') { %>
<div class='secondary callout'>
  <div class='breve-titre'>
    <p class='strong'>
      <a target='_blank' href="http://fr.reuters.com/article/sportsNews/idFRMT1IDAT00004SU20151114">Mythologie républicaine</a>
    </p>
  </div>
  <div class='breve-contenu'>
    <p>Duel entre les candidats socialiste et frontiste lors du deuxième tour de la législative partielle du Doubs, le 8 fév. dernier, s'est conclu par l'échec du Front national?</p>
  </div>
</div>
<% } %>

<% if (data.thisLead === 'breve3') { %>
<div class='secondary callout'>
  <div class='breve-titre'>
    <p class='strong'><a target='_blank' href="https://en.wikipedia.org/wiki/Republican_Front_%28France%29">Front républicain</a></p>
  </div>
  <div class='breve-contenu'>
    <p>On ne peut donc parler d'une tradition historique de front républicain.</p>
    <p>Il existe dans l'histoire politique française une coutume établie, bien qu'elle n'ait pas toujours été respectée et que les modalités de sa mise en œuvre aient varié en fonction des modes de scrutin.</p>
  </div>
</div>
<% } %>

<% if (data.thisLead === 'breve4') { %>
<div class='secondary callout'>
  <div class='breve-titre'>
    <p class='strong'><a target='_blank' href="http://aas.sagepub.com/cgi/content/abstract/0095399715602733v1?rss=1">Risks and Benefits...</a></p>
  </div>
  <div class='breve-contenu'>
    <p>Although some studies highlight the risks to fiscal discipline, others regard legislative scrutiny as essential for fiscal transparency...</p>
  </div>
</div>
<% } %>

