<% if (data.pageID === 'breadcrumbResultatsRYM') { %>
<div class='row'>
  <div class='small-12 columns'>
  <nav>
    <ul class='breadcrumbs'>
    <li><a href="/<%- data.langue %>/accueil">Accueil</a></li>
    <li>Résultats</li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbAccueil') { %>
<div class='row'>
  <div class='small-12 columns'>
  <nav>
    <ul class='breadcrumbs'>
    <% if (data.allParents) { %>
    <li><%- data.__(data.allParents[1]) %>:</li>
    <li><a href="/<%- data.langue %>/accueil"><%- data.__('Accueil') %></a></li>
    <% data.allParents.slice(2, -1).forEach((crumb) => { %>
    <li><a href="<%- crumb.href %>"><%- crumb.nom %></a></li>
    <% }) %>
    <li><%- data.allParents[data.allParents.length - 1].nom %></li>
    <% } else { %>
    <li>Accueil</li>
    <% } %>
    <li>
      <a class="prev-page<%- data.currentPage === 1 ? ' disabled' : '' %>" href="/<%- data.langue %>/accueil/<%- Math.max(data.currentPage - 1, 1) %>">&lt;</a>
      <span> Page <%- data.currentPage %> </span>
      <a class="next-page<%- data.currentPage === data.lastPage ? ' disabled' : '' %>" href="/<%- data.langue %>/accueil/<%- Math.min(data.currentPage + 1, data.lastPage) %>">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbAccueilDemo') { %>
<div class='row'>
  <div class='small-12 columns'>
    <nav>
      <ul class='breadcrumbs'>
      <li>Accueil</li>
      <li>
        <a class='prev-page' href="#">&lt;</a>
        <span> Page 1 </span>
        <a class='next-page' href="#">&gt;</a>
      </li>
      </ul>
    </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbSectionEntreprise') { %>
<div class='row'>
  <div class='small-12 columns'>
  <nav>
    <ul class='breadcrumbs'>
    <li>section:</li>
    <li><a href="/fr/accueil">Accueil</a></li>
    <li>Entreprise</li>
    <li>
      <a class='prev-page' href="#">&lt;</a>
      <span> Page 1 </span>
      <a class='next-page' href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbSujetAgriculture') { %>
<div class='row'>
  <div class='small-12 columns'>
      <nav>
      <ul class='breadcrumbs'>
      <li>sujet:</li>
      <li><a href="accueil">Accueil</a></li>
      <li>Agriculture</li>
      <li>
        <a class='prev-page' href="#">&lt;</a>
        <span> Page 1 </span>
        <a class='next-page' href="#">&gt;</a>
      </li>
      </ul>
      </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbGroupe1') { %>
<div class='row'>
  <div class='small-12 columns'>
  <nav>
    <ul class='breadcrumbs'>
    <li>Groupe</li>
    <li>
      <a class='prev-page' href="#">&lt;</a>
      <span> Page 1 </span>
      <a class='next-page' href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbThese1') { %>
<div class='row'>
  <div class='small-12 columns'>
  <nav>
    <ul class='breadcrumbs'>
    <li>Groupe</li>
    <li>
      <a class='prev-page' href="#">&lt;</a>
      <span> Page 1 </span>
      <a class='next-page' href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbThese2') { %>
<div class='row'>
  <div class='small-12 columns'>
  <nav>
    <ul class='breadcrumbs'>
    <li>Groupe</li>
    <li>
      <a class='prev-page' href="#">&lt;</a>
      <span> Page 1 </span>
      <a class='next-page' href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbJournal1') { %>
<div class='row'>
  <div class='small-12 columns'>
  <nav>
    <ul class='breadcrumbs'>
    <li>Groupe</li>
    <li>
      <a class='prev-page' href="#">&lt;</a>
      <span> Page 1 </span>
      <a class='next-page' href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbJournal2') { %>
<div class='row'>
  <div class='small-12 columns'>
  <nav>
    <ul class='breadcrumbs'>
    <li>Groupe</li>
    <li>
      <a class='prev-page' href="#">&lt;</a>
      <span> Page 1 </span>
      <a class='next-page' href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>

<% if (data.pageID === 'breadcrumbResultats') { %>
<div class='row'>
  <div class='small-12 columns'>
  <nav>
    <ul class='breadcrumbs'>
    <li><a href="/fr/accueil">Accueil</a></li>
    <li>Résultats</li>
    <li>
      <a class='prev-page' href="#">&lt;</a>
      <span> Page 1 </span>
      <a class='next-page' href="#">&gt;</a>
    </li>
    </ul>
  </nav>
  </div>
</div>
<% } %>
