<div class="row small-collapse" id="footer">
  <!-- collapses whitespace between cols of grid -->
  <div class="small-4 columns">
    <div class="" id="copyright">
      <p class="em text-left">© 2016 - Machina Mundi Multi Média Inc.</p>
    </div>
  </div>
  <div class="small-4 columns">
    <% if (data.pagination) { %>
    <%= partials.pagination({ lastPage: data.lastPage }) %>
    <% } %>
  </div>
  <div class="small-4 columns">
    <div class="" id="mise-a-jour">
      <p class="em text-right">Dernière mise à jour: <%- data.updated %>.</p>
    </div>
  </div>
</div>
