<div class='row small-collapse' id="footer">
  <!-- collapses whitespace between cols of grid -->
  <div class='small-4 columns'>
    <div class='' id="copyright">
      <p class='em'>© 2016 - Machina Mundi Multi Média Inc.</p>
    </div>
  </div>
  <div class='small-4 columns'>
    <% if (data.pagination) { %>
    <%= partials.pagination({ lastPage: data.lastPage }) %>
    <% } %>
  </div>
  <div class='small-4 columns'>
    <div class='' id="mise-a-jour">
      <% if (data.username === 'anonyme') { %>
        <p class='em text-right'>Utilisateur:&nbsp;&nbsp;<a href="/fr/abonnez-vous">Abonnez-vous s.v.p.</a>&nbsp;&nbsp;&nbsp;</p>
      <% } else { %>
        <p class='em text-right'>Utilisateur:&nbsp;&nbsp;<a href="/fr/profil-moi"><%- data.username %></a>&nbsp;&nbsp;&nbsp;</p>
      <% } %>
    </div>
  </div>
</div>