<div class=''>
  <div class='callout'>
    <% if (data.pageInfo && data.pageInfo.topSujets) { %>
    <% if (data.pageInfo.topSujets.length) { %>
    <ul class='menu vertical'>
      <% data.pageInfo.topSujets.forEach((item) => { %>
        <li><a href="<%- item.href %>"><%- item.nom %></a></li>
      <% }) %>
    </ul>
    <% } else { %>
      <p><%- data.__('Fin de cette branche de l\'arborescence des sujets.') %></p>
    <% } %>
    <% } else { %>
    <ul class='menu vertical'>
      <% data.lesSujets.forEach((item) => { %>
        <li><a href="/fr/sujet"><%- item %></a></li>
      <% }) %>
    </ul>
    <% } %>
  </div>
</div>
