<div class=''>
  <div class='callout'>
    <% if (data.pageInfo && data.pageInfo.topSections) { %>
    <% if (data.pageInfo.topSections.length) { %>
    <ul class='menu vertical'>
      <% data.pageInfo.topSections.forEach((item) => { %>
        <li><a href="<%- item.href %>"><%- item.nom %></a></li>
      <% }) %>
    </ul>
    <% } else { %>
      <p><%- data.__('Fin de cette branche de l\'arborescence des sections.') %></p>
    <% } %>
    <% } else { %>
    <ul class='menu vertical'>
      <% data.lesSections.forEach((item) => { %>
        <li><a href="/fr/section"><%- item %></a></li>
      <% }) %>
    </ul>
    <% } %>
  </div>
</div>
