<!-- logo + chercher + filtrer -->
<div class="row align-middle">
  <div class="small-6 columns">
    <a href="/fr/accueil"><img src="/img/phdadmin_logo.png" alt="PhD Administration"></a>
  </div>
  <div class="small-6 columns">
    <br><form>
    <div class="row">
      <div class="small-5 columns">
         <input type="text" value="">
      </div>
      <div class="small-7 columns">
      <a href="/fr/resultats" class="hollow button" title="Chercher parmi tous les articles ">Chercher</a>&nbsp;
      <!-- debut filtrer -->
        <button class="hollow button" type="button" data-toggle="filtrer-dropdown" title="Filtrer articles de cette page ">Filtrer</button>
        <div class="dropdown-pane" id="filtrer-dropdown" data-dropdown data-auto-focus="true">
          <p><span class="strong">Filtrer articles courants</span></p>
           <div class="row">
            <div class="large-12 medium-12 small-12 columns">
              <label><input type="checkbox" name="contientMesFavoris">&nbsp;En fonction de mes favoris</label>
              <label>Contient ce terme<input type="text" name="contientCeTerme" placeholder="Exemple"></label>
              <label>Écrit par cet auteur<input type="text" name="ecritParCetAuteur" placeholder="Latour, Bruno"></label>
              <label>Après cette date<input type="text" name="apresCetteDate" placeholder="2016-01-01"></label>
              <label>Avant cette date<input type="text" name="avantCetteDate" placeholder="2016-10-27"></label>
              <label>Langue<input type="text" name="contientCetteLangue" placeholder="Français, Anglais"></label>
              <label>Format<input type="text" name="estDansCeFormat" placeholder="HTML, PDF"></label>
              <input class="button" type="submit" name="filtrer" value="Filtrer">&nbsp;
              <input class="button" type="submit" name="aucunFiltrage" value="Aucun filtrage (tous)&nbsp;">
            </div>
           </div>
        </div>
      <!-- fin filtrer -->
      <!-- debut trier -->
        &nbsp;<button class="hollow button" type="button" data-toggle="trier-dropdown" title="Trier articles de cette page ">Trier</button>
        <div class="dropdown-pane" id="trier-dropdown" data-dropdown data-auto-focus="true">
          <p><span class="strong">Trier articles courants</span></p>
           <div class="row">
            <div class="large-12 medium-12 small-12 columns">
            <input type="radio" name="trierPar" value="ParPertinence" id="ParPertinence" checked><label for="ParPertinence">Par pertinence</label>
            <br><input type="radio" name="trierPar" value="ParTitre" id="parTitre"><label for="parTitre">Par titre</label>
            <br><input type="radio" name="trierPar" value="ParDate" id="parDate"><label for="parDate">Par date</label>
            <hr>
            <input type="radio" name="ordre" value="Ascendant" id="Ascendant" checked><label for="Ascendant">Ascendant</label>
            <br><input type="radio" name="ordre" value="Descendant" id="Descendant"><label for="Descendant">Descendant</label>
            </div>
           </div>
        </div>
      <!-- fin trier -->
        </div>
        </div>
      </form>
  </div>
</div>