<div class="small-4 columns">
  <div class="text-center">
    <h5><%- data.nom %></h5>
    <a href="<%- data.href %>"><img src="<%- data.src %>" class="mmthumb" alt="<%- data.nom %>"></a>
    <div class="row">
      <div class="small-12 columns">
        <div class="small-4 columns">
          <a class="icon" title="Consulter ce membre" href="<%- data.href %>"><i class="fi-torso"></i></a>
        </div>
        <div class="small-4 columns">
          <%= partials.modalContacterMembre({ moi: data.moi, nom: data.nom }) %>
        </div>
        <div class="small-4 columns">
          <a class="icon" title="Inviter ce membre à être un de mes pairs" href="<%- data.href %>"><i class="fi-link"></i></a>
        </div>
      </div>
    </div><!-- end nested row -->
  </div>
</div>