<!-- <a data-open="modalProposerConference">Proposer une conférence</a> -->

<div class="large reveal" id="modalProposerConference" data-reveal>
  <h4>Proposer une conférence</h4>
  <p>Proposez une conférence qui intéressera phdAdmin.</p>
  <form>
  <dl>
  <dt>Titre</dt>
  <dd><input type="text" name="conference-titre"></dd>
  <dt>URL</dt>
  <dd><input type="text" name="conference-url"></dd>
  <dt>Lieu</dt>
  <dd><input type="text" name="conference-lieu"></dd>
  <dt>Début</dt>
  <dd><input type="text" name="conference-debut" placeholder="2016-11-11-13h"></dd>
  <dt>Fin</dt>
  <dd><input type="text" name="conference-fin" placeholder="2016-11-13-17h"></dd>
  <dt>Description</dt>
  <dd><textarea name="conference-contenu" placeholder="Exemple"></textarea></dd>
  </dl>
  <p>
  <a href="#" class="button" title="Ajoutez une conférence">Ajouter</a>
  <a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
  </p>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>