<!-- <a data-open="modalAjouterActivite">Ajouter une activité</a> -->

<div class="large reveal" id="modalAjouterActivite" data-reveal>
  <h4>Ajouter une activité</h4>
  <p>Ajoutez une activité dans votre calendrier.</p>
  <form>
  <dl>
  <dt>Titre</dt>
  <dd><input type="text" name="activite-titre"></dd>
  <dt>URL</dt>
  <dd><input type="text" name="activite-url"></dd>
  <dt>Lieu</dt>
  <dd><input type="text" name="activite-lieu"></dd>
  <dt>Début</dt>
  <dd><input type="text" name="activite-debut" placeholder="2016-11-11-13h"></dd>
  <dt>Fin</dt>
  <dd><input type="text" name="activite-fin" placeholder="2016-11-13-17h"></dd>
  <dt>Description</dt>
  <dd><textarea name="activite-contenu" placeholder="Exemple"></textarea></dd>
  </dl>
  <p>
  <a href="#" class="button" title="Ajoutez une activité">Ajouter</a>
  <a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
  </p>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>