<!-- <a title="Contactez-nous" data-open="modalContacterNous">communiquer avec nous</a> -->

<div class="reveal" id="modalContacterNous" data-reveal>
  <h4>Communiquer avec nous</h4>
  <p>Veuillez spécifier votre nom et la raison de ce contact:</p>
  <form>
  <dl>
  <dt>Votre nom</dt>
  <dd><input type="text" name="contact-parQui"></dd>
  <dt>Service</dt>
  <dd>
    <select>
      <option value="Information" selected>Information</option>
      <option value="Support technique">Support technique</option>
      <option value="Administrateur">Administrateur</option>
    </select>
  </dd>
  <dt>Raison de ce contact</dt>
  <dd><textarea name="contact-raison" placeholder="Je vous écris car ..."></textarea></dd>
  </dl>
  <p>
  <a href="#" class="button" title="Nous contacter">Nous contacter</a>
  <a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
  </p>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>