<!-- <a data-open="modalProposerAppel">Proposer un appel à communication</a> -->

<div class="large reveal" id="modalProposerAppel" data-reveal>
  <h4>Proposer un appel à communication</h4>
  <p>Proposez un appel à communication qui intéressera phdAdmin.</p>
  <form>
  <dl>
  <dt>Titre</dt>
  <dd><input type="text" name="appel-titre"></dd>
  <dt>URL</dt>
  <dd><input type="text" name="appel-url"></dd>
  <dt>Lieu</dt>
  <dd><input type="text" name="appel-lieu"></dd>
  <dt>Début</dt>
  <dd><input type="text" name="appel-debut" placeholder="2016-11-11-13h"></dd>
  <dt>Fin</dt>
  <dd><input type="text" name="appel-fin" placeholder="2016-11-13-17h"></dd>
  <dt>Description</dt>
  <dd><textarea name="appel-contenu" placeholder="Exemple"></textarea></dd>
  </dl>
  <p>
  <a href="#" class="button" title="Ajoutez un appel à communication">Ajouter</a>
  <a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
  </p>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>