<a data-open="modalProposerEmploi">Proposer un emploi</a>

<div class="large reveal" id="modalProposerEmploi" data-reveal>
  <h4>Proposer un emploi</h4>
  <p>Proposez un emploi qui intéressera phdAdmin.</p>
  <form>
  <dl>
  <dt>Titre</dt>
  <dd><input type="text" name="emploi-titre"></dd>
  <dt>URL</dt>
  <dd><input type="text" name="emploi-url"></dd>
  <dt>Lieu</dt>
  <dd><input type="text" name="emploi-lieu"></dd>
  <dt>Début</dt>
  <dd><input type="text" name="emploi-debut" placeholder="2016-11-11-13h"></dd>
  <dt>Fin</dt>
  <dd><input type="text" name="emploi-fin" placeholder="2016-11-13-17h"></dd>
  <dt>Description</dt>
  <dd><textarea name="emploi-contenu" placeholder="Exemple"></textarea></dd>
  </dl>
  <p>
  <a href="#" class="button" title="Ajoutez un emploi">Ajouter</a>
  <a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
  </p>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>