<!-- <a data-open="modalProposerPublication">Proposez un publication</a> -->

<div class="large reveal" id="modalProposerPublication" data-reveal>
  <h4>Proposer un publication</h4>
  <p>Proposez un publication qui intéressera phdAdmin.</p>
  <form>
  <dl>
  <dt>Titre</dt>
  <dd><input type="text" name="publication-titre"></dd>
  <dt>URL</dt>
  <dd><input type="text" name="publication-url"></dd>
  <dt>Auteur(s)</dt>
  <dd><input type="text" name="publication-auteurs"></dd>
  <dt>Date de publication</dt>
  <dd><input type="text" name="publication-date" placeholder="2016-11-15"></dd>
  <dt>Description</dt>
  <dd><textarea name="publication-contenu" placeholder="Exemple"></textarea></dd>
  </dl>
  <p>
  <a href="#" class="button" title="Ajoutez un publication">Ajouter</a>
  <a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
  </p>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>