<!--
<a title="Contacter ce pair" data-open="modalContacterMembre"><i class="larger-text fi-at-sign"></i></a>
-->

<div class="reveal" id="modalContacterMembre" data-reveal>
  <h4>Communiquer avec <%- data.nom %></h4>
  <p>Veuillez spécifier votre nom et la raison de ce contact:</p>
  <form>
  <dl>
  <dt>Votre nom</dt>
  <dd><input type="text" name="contact-parQui" value="<%- data.moi %>"></dd>
  <dt>Raison de ce contact</dt>
  <dd>
    <select>
      <option value="Inviter" selected>Cesser d'être son ami</option>
      <option value="Information">Information</option>
      <option value="Question">Question</option>
      <option value="Support technique">Support technique</option>
    </select>
  </dd>
  <dt>Détails</dt>
  <dd><textarea name="contact-raison" placeholder="Je vous écris car ..."></textarea></dd>
  </dl>
  <p>
  <a href="#" class="button" title="Contacter ce membre">Contacter</a>
  <a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
  </p>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>