<p><a data-open="<%- data.ident %>">Trier <%- data.title %></a></p>

<div class="reveal" id="<%- data.ident %>" data-reveal>
  <form>
  <h4 class="text-center">Trier <%- data.title %></h4>
  <div class="row">
    <div class="small-6 columns">
      <div class="callout">
      <p>Trier par:</p>
      <input type="radio" name="trierPar" value="ParPertinence" id="ParPertinence" checked><label for="ParPertinence">Pertinence</label>
      <br><input type="radio" name="trierPar" value="ParTitre" id="parTitre"><label for="parTitre">Titre</label>
      <br><input type="radio" name="trierPar" value="ParDate" id="parDate"><label for="parDate">Date</label>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="callout">
      <p>En ordre:</p>
      <input type="radio" name="ordre" value="Ascendant" id="Ascendant" checked><label for="Ascendant">Ascendant</label>
      <br><input type="radio" name="ordre" value="Descendant" id="Descendant"><label for="Descendant">Descendant</label>
      </div>
    </div>
  </div>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>