<a data-open="modalProposerCongres">Proposer un congrès</a>

<div class="large reveal" id="modalProposerCongres" data-reveal>
  <h4>Proposer un congrès</h4>
  <p>Proposez un congrès qui intéressera phdAdmin.</p>
  <form>
  <dl>
  <dt>Titre</dt>
  <dd><input type="text" name="congres-titre"></dd>
  <dt>URL</dt>
  <dd><input type="text" name="congres-url"></dd>
  <dt>Lieu</dt>
  <dd><input type="text" name="congres-lieu"></dd>
  <dt>Début</dt>
  <dd><input type="text" name="congres-debut" placeholder="2016-11-11-13h"></dd>
  <dt>Fin</dt>
  <dd><input type="text" name="congres-fin" placeholder="2016-11-13-17h"></dd>
  <dt>Description</dt>
  <dd><textarea name="congres-contenu" placeholder="Exemple"></textarea></dd>
  </dl>
  <p>
  <a href="#" class="button" title="Ajoutez un congrès">Ajouter</a>
  <a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
  </p>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>