<a data-open="modalProposerBourse">Proposer une bourse</a>

<div class="large reveal" id="modalProposerBourse" data-reveal>
	<h4>Proposer une bourse</h4>
	<p>Proposez une bourse qui intéressera cette communauté.</p>
	<form>
	<dl>
	<dt>Titre</dt>
	<dd><input type="text" name="bourse-titre"></dd>
	<dt>URL</dt>
	<dd><input type="text" name="bourse-url"></dd>
	<dt>Lieu</dt>
	<dd><input type="text" name="bourse-lieu"></dd>
	<dt>Début</dt>
	<dd><input type="text" name="bourse-debut" placeholder="2016-11-11-13h"></dd>
	<dt>Fin</dt>
	<dd><input type="text" name="bourse-fin" placeholder="2016-11-13-17h"></dd>
	<dt>Description</dt>
	<dd><textarea name="bourse-contenu" placeholder="Exemple"></textarea></dd>
	</dl>
	<p>
	<a href="#" class="button" title="Ajoutez une bourse">Ajouter</a>
	<a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
	</p>
	</form>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>