<a data-open="modalChoisirSection">Choisir une section ...</a>

<div class="large reveal" id="modalChoisirSection" data-reveal>
	<h4>Choisir parmi toutes les sections du journal</h4>
	<%= partials.tableLesSections() %>
	<form>
	<div class="input-group">
		<span class="input-group-label">Proposer une section :</span>
		<input class="input-group-field" type="text" name="suggestion-section" value="">
	</div>
	</form>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>