<a data-open="modalProposerNouveau">Proposer du nouveau</a>

<div class="large reveal" id="modalProposerNouveau" data-reveal>
	<h4>Proposer du nouveau</h4>
	<p>Proposez du nouveau aux membres de phdAdmin.</p>
	<form>
	<dl>
	<dt>Titre</dt>
	<dd><input type="text" name="nouveau-titre"></dd>
	<dt>URL</dt>
	<dd><input type="text" name="nouveau-url"></dd>
	<dt>Lieu</dt>
	<dd><input type="text" name="nouveau-lieu"></dd>
	<dt>Début</dt>
	<dd><input type="text" name="nouveau-debut" placeholder="2016-11-11-13h"></dd>
	<dt>Fin</dt>
	<dd><input type="text" name="nouveau-fin" placeholder="2016-11-13-17h"></dd>
	<dt>Description</dt>
	<dd><textarea name="nouveau-contenu" placeholder="Exemple"></textarea></dd>
	</dl>
	<p>
	<a href="#" class="button" title="Ajoutez une nouveauté">Ajouter</a>
	<a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
	</p>
	</form>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>