<div class="" id="pagination">
  <ul class="pagination text-center" role="navigation" aria-label="Pagination">
  <li class="pagination-previous"><span class="strong"><a href="#" aria-label="Previous page"></a></span></li>
  <li class="current">1</li>
  <li><a href="#" aria-label="Page 2">2</a></li>
  <li><a href="#" aria-label="Page 3">3</a></li>
  <li><a href="#" aria-label="Page 4">4</a></li>
  <li><a href="#" aria-label="Page 5">5</a></li>
  <li class="ellipsis"></li>
  <li><a href="#" aria-label="Page 1000"><%- data.lastPage %></a></li>
  <li class="pagination-next"><span class="strong"><a href="#" aria-label="Next page"></a></span></li>
  </ul>
</div>
