<%
// seulement implémenter pour l'accueil en français
if (data.currentPage) {
  var nItems = 5 // impair
  var r
  var firstItem
  var lastItem

  if (data.currentPage < nItems / 2) {
    firstItem = 1
  } else {
    firstItem = data.currentPage - Math.floor(nItems / 2)
  }
  lastItem = Math.min(firstItem + nItems, data.lastPage + 1)
%>
<div class='' id='pagination'>
  <ul class='pagination text-center' role='navigation' aria-label='Pagination'>
  <% for (r = firstItem; r < lastItem; ++r) { %>
  <%= partials.pagerItem({ lastPage: data.lastPage, currentPage: data.currentPage, item: r }) %>
  <% } %>
  <li class='ellipsis'></li>
  <li><a href="/fr/accueil/<%- data.lastPage %>" aria-label='Last page'><%- data.lastPage %></a></li>
  </ul>
</div>
<% } else { %>
<div class='' id='pagination'>
  <ul class='pagination text-center' role='navigation' aria-label='Pagination'>
  <li class='pagination-previous'><span class='strong'><a href="#" aria-label='Previous page'></a></span></li>
  <li class='current'>1</li>
  <li><a href="#" aria-label='Page 2'>2</a></li>
  <li><a href="#" aria-label='Page 3'>3</a></li>
  <li><a href="#" aria-label='Page 4'>4</a></li>
  <li><a href="#" aria-label='Page 5'>5</a></li>
  <li class='ellipsis'></li>
  <li><a href="#" aria-label='Last page'><%- data.lastPage %></a></li>
  <li class='pagination-next'><span class='strong'><a href="#" aria-label='Next page'></a></span></li>
  </ul>
</div>
<% } %>