<table>
  <tr>
    <td class="em">Rendez-vous</td>
    <td class="em">Date</td>
    <td class="em">Heure</td>
    <td class="larger-text"><i class="fi-minus"></i></td>
  </tr>
  <tr>
    <td><a href="/fr/rendezVous/1">Rendez-vous #1</a></td>
    <td>2018-11-15</td>
    <td>18h17</td>
    <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/rendezVous/2">Rendez-vous #2</a></td>
    <td>2018-11-14</td>
    <td>18h17</td>
    <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
  </tr>
</table>