<table>
<tr><td width="35%"><a onclick="open_tab('apropos','a-propos-de-nous')">À propos de nous</a></td><td width="65%">Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','a-propos-du-site')">À propos du site</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/accueil">Accueil</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/moi#mon-agenda">Agenda</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#appels-a-communication">Appels</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#avis">Avis</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#mon-calendrier">Calendrier</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','charte-editorial')">Charte éditorial</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','comment-publier-avec-nous')">Comment publier avec nous</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#compte">Compte</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#conferences">Conférences</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#congres">Congrès</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','contactez-nous')">Contactez-nous</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#emplois">Emplois</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#etudes">Études</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#mes-favoris">Favoris</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-1">FAQ - Catégorie 1</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-2">FAQ - Catégorie 2</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-3">FAQ - Catégorie 3</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-4">FAQ - Catégorie 4</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-5">FAQ - Catégorie 5</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-6">FAQ - Catégorie 6</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-7">FAQ - Catégorie 7</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/faq#categorie-8">FAQ - Catégorie 8</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#financement">Financement</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#groupes">Groupes</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#mon-historique">Historique</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#mon-identite">Identité</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','indexe-du-site')">Indexe du site</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#lancements">Lancements</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/abonnezVous">M'abonner</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/moi#mes-notifications">M'aviser</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/maThese">Ma thèse</a></td><td>Aperçu ... groupe</td></tr>
<tr><td><a href="/fr/groupe1">Management des TIC</a></td><td>Aperçu ... groupe</td></tr>
<tr><td><a href="/fr/meConnecter">Me connecter</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/meDeconnecter">Me déconnecter</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/bottin#membres">Membres</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#activites">Mes activités</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#appels">Mes appels</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#articles">Mes articles</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#avis">Mes avis</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#bourses">Mes bourses</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#conferences">Mes conférences</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#congres">Mes congrès</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#emplois">Mes emplois</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#mesGroupes">Mes groupes</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#lancements">Mes lancements</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#mesOrganisations">Mes organisations</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#pairs">Mes pairs</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#mesPersonnes">Mes personnes</a></td><td>Aperçu ... onglet dans Bottin</td></tr>
<tr><td><a href="/fr/favoris#personnes">Mes personnes</a></td><td>Aperçu ... onglet dans Favoris</td></tr>
<tr><td><a href="/fr/favoris#recherches">Mes recherches</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/favoris#rendezVous">Mes rendez-vous</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#mes-meteos">Météos</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/monJournal">Mon journal</a></td><td>Aperçu ... groupe</td></tr>
<tr><td><a onclick="open_tab('apropos','notre-politique')">Notre politique</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#organisations">Organisations</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/page-ext">Page externe</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/page-int">Page interne</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/moi#ma-participation">Participer</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/bottin#personnes">Personnes</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','plan-du-site')">Plan du site</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/moi#mes-preferences">Préférences</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#quoi-faire">Quoi faire</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/agenda#rendez-vous">Rendez-vous</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/resultats">Résultats</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/section">Section</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/favoris#sections">Sections</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a href="/fr/sujet">Sujet</a></td><td>Aperçu ... page</td></tr>
<tr><td><a href="/fr/favoris#mes-sujets">Sujets</a></td><td>Aperçu ... onglet</td></tr>
<tr><td><a onclick="open_tab('apropos','votre-participation')">Votre participation</a></td><td>Aperçu ... onglet</td></tr>
</table>