					<table>
					<tr>
						<td><em><a href="/fr/accueil">Accueil</a></em></td>
						<td width="70%">Aperçu ...</td>
					</tr>
					<tr>
						<td><em><a href="/fr/agenda">Agenda</a></em></td>
						<td>Aperçu ...</td>
					</tr>
					<tr>
						<td><em><a href="/fr/apropos">À propos</a></em></td>
						<td>Aperçu ...</td>
					</tr>
					<tr>
						<td><em><a href="/fr/bottin">Bottin</a></em></td>
						<td>Aperçu ...</td>
					</tr>
					<tr>
						<td><em><a href="/fr/faq">FAQ</a></em></td>
						<td>Aperçu ...</td>
					</tr>
					<tr>
						<td><em><a href="/fr/abonnezVous">M'abonner</a></em></td>
						<td>Aperçu ...</td>
					</tr>
					<tr>
						<td><em><a href="/fr/meConnecter">Me connecter</a></em></td>
						<td>Aperçu ...</td>
					</tr>
					<tr>
						<td><em><a href="/fr/meDeconnecter">Me déconnecter</a></em></td>
						<td>Aperçu ...</td>
					</tr>
					<tr>
						<td><em><a href="/fr/moi">Moi</a></em></td>
						<td>Aperçu ...</td>
					</tr>
					<tr>
						<td><em><a href="/fr/resultats">Résultats de recherche</a></em></td>
						<td>Aperçu ...</td>
					</tr>
					<tr>
						<td><em><a href="/fr/page">Etc</a></em></td>
						<td>Aperçu ...</td>
					</tr>
					</table>