<table class="hover">
  <tr>
    <td class="em">Section</td>
    <td class="em">Breadcrumb</td>
    <td class="larger-text"><a href="#"><i class="fi-plus"></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/section">Entreprise</a></td>
    <td>Section/Entreprise/</td>
    <td class="larger-text"><a href="#"><i class="fi-plus"></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/section">Acteurs de l'entreprise</a></td>
    <td>Section/Entreprise/Acteurs de l'entreprise/</td>
    <td class="larger-text"><a href="#"><i class="fi-plus"></i></a></td>
  </tr>
</table>