<table class="hover">
  <tr>
    <td class="em">Lieu</td>
    <td class="em">Depuis</td>
    <td class="larger-text"><i class="fi-minus"></i></td>
  </tr>
  <tr>
    <td><a href="/fr/lieu/id">Montréal (Québec)</a></td>
    <td>2018-11-15-18h17</td>
    <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/lieu/id">Québec (Québec)</a></td>
    <td>2018-11-14-18h17</td>
    <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/lieu/id">Paris (France)</a></td>
    <td>2018-11-25-05h52</td>
    <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
  </tr>
</table>