				<table>
					<tr>
						<td><em>Sujet</em></td>
						<td><em>Breadcrumb</em></td>
						<td class="larger-text"><i class="fi-minus"></i></td>
					</tr>
					<tr>
						<td><a href="/fr/sujet">Agriculture</a></td>
						<td>Sujet/Agriculture/</td>
						<td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
					</tr>
					<tr>
						<td><a href="/fr/sujet">Acériculture</a></td>
						<td>Sujet/Agriculture/Acériculture/</td>
						<td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
					</tr>
				</table>