				<table>
					<tr>
						<td><em>Avis</em></td>
						<td><em>Depuis</em></td>
						<td class="larger-text"><i class="fi-minus"></i></td>
					</tr>
					<tr>
						<td><a href="/fr/avis/1">Avis #1</a></td>
						<td>2018-11-15-18h25</td>
						<td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
					</tr>
					<tr>
						<td><a href="/fr/avis/n">Avis #n</a></td>
						<td>2018-11-14-18h38</td>
						<td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
					</tr>
				</table>