<table>
  <tr>
    <td class="em">Personne</td>
    <td class="em">Depuis</td>
    <td class="larger-text"><i class="fi-minus"></i></td>
  </tr>
  <tr>
    <td><a href="/fr/personne/n">Albert Einstein</a></td>
    <td>2018-11-15-18h17</td>
    <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/personne/n">Bruno Latour</a></td>
    <td>2018-11-14-18h17</td>
    <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
  </tr>
</table>