<table class="hover">
  <tr>
    <td class="em">Moment effectué</td>
    <td class="em">Type d'interaction</td>
    <td class="em">Interaction</td>
  </tr>
  <tr>
    <td>2018-11-19-15h11</td>
    <td>Recherche</td>
    <td><a href="/fr/recherche/n">Physiciens, Albert Einstein</a></td>
  </tr>
  <tr>
    <td>2018-11-12-18h25</td>
    <td>Commentaire</td>
    <td><a href="/fr/commentaire/n">Commentaire quelconque</a></td>
  </tr>
  <tr>
    <td>2018-11-15-16h10</td>
    <td>Évaluation</td>
    <td><a href="/fr/evaluation/n">Évaluation de l'article #1</a></td>
  </tr>
  <tr>
    <td>2018-11-19-13h10</td>
    <td>Suggestion</td>
    <td><a href="/fr/suggestion/n">Suggestion du sujet "Quelconque".</a></td>
  </tr>
</table>