<table>
  <tr>
    <td class="em">Personne</td>
    <td class="em">Aperçu</td>
    <td class="larger-text"><i class="fi-plus"></i></td>
  </tr>
  <tr>
    <td><a href="/fr/personne/n">Albert Einstein</a></td>
    <td>Aperçu d'Albert Einstein</td>
    <td class="larger-text"><a title="Ajouter à mes favoris" href="#"><i class="fi-plus"></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/personne/n">Bruno Latour</a></td>
    <td>Aperçu de Bruno Latour</td>
    <td class="larger-text"><a title="Ajouter à mes favoris" href="#"><i class="fi-plus"></i></a></td>
  </tr>
</table>