<table class="hover">
<tr>
  <td class="em">Nom et lien</td>
  <td class="em">Type</td>
  <td class="larger-text"><i class="fi-minus"></i></td>
</tr>
<tr>
  <td><a href="#">Agriculture</a></td>
  <td>Sujet</td>
  <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
</tr>
<tr>
  <td><a href="#">Acériculture</a></td>
  <td>Sujet</td>
  <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
</tr>
<tr>
  <td><a href="#">Alain Farmer</a></td>
  <td>Personne</td>
  <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
</tr>
<tr>
  <td><a href="#">Site web de Sage Publications</a></td>
  <td>Ressource</td>
  <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
</tr>
</table>