<table class="hover">
  <tr>
    <td class="em">Article</td>
    <td class="em">Depuis</td>
    <td class="larger-text"><i class="fi-minus"></i></td>
  </tr>
  <tr>
    <td><a href="/fr/article/1">Article #1</a></td>
    <td>2018-11-15-18h25</td>
    <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
  </tr>
  <tr>
    <td><a href="/fr/article/n">Article #n</a></td>
    <td>2018-11-14-18h38</td>
    <td class="larger-text"><a href="#"><i class="fi-minus"></i></a></td>
  </tr>
</table>