a:hover
{ text-decoration: underline; }

.icon
{ font-size: 1.3em; }

body
{ font-family: "arial, serif"; }

.headline
{ font-family: "charter, sans-serif"; font-size: 1.3em; }

.page-main-title
{
	font-family: "lucidabright, arial black, cursive";
	font-size: 2.0em;
	text-align: center;
}

.tabs-size
{ font-size: 1.2em; font-weight: bold; }

.save-icon
{ font-size: 2.4em; }

.larger-text
{ font-size: 1.2em; }

.smaller-text
{ font-size: 0.8em; }

.very-small-text
{ font-size: 0.6em; }

.em
{ font-style: italic; }

.strong
{ font-weight: bold; }

.underlined
{ text-decoration: underline; }

th
{ font-style: italic; }

.bloc-title
{
	font-weight: bold;
	text-align: center;
}

.prev-page
{
	font-weight: bold;
}

.next-page
{
	font-weight: bold;
}

img.mmthumb
{
	display: inline-block;
   width: auto;
   height: 150px;
}

img.mmthumbSameWidth
{
	display: inline-block;
   width: 200px;
   height: auto;
}

img.mmthumbWithBorder
{
	display: inline-block;
	border: 1px solid #ddd;
   border-radius: 4px;
   padding: 5px;
   width: 200px;
   height: 150px;
}

img.mmthumbSmaller
{
	display: inline-block;
   width: 150px;
   height: 110px;
}

img.mmthumbSmallest
{
	display: inline-block;
   width: 100px;
   height: 80px;
}

.forIdentity
{
	width: 480px;
}

.forFilter
{
	width: 836px;
	margin-left: 15px;
}

.forQuestion
{
	width: 836px;
	margin-left: 15px;
}

.journal
{
   width: auto;
   height: auto;
}

p.headline
{
	font-size: 1.4em;
	margin-bottom: 4px;
}

.apercu
{
	text-align: justify;
}

.button:hover
{
    background-color: red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.member-button
{
	padding: 20px;
	font-size: 1.0em;
	font-weight: bold;
}

.alert-text
{ font-weight: bold; color: red; }

.mm-active
{ background-color: #e7e7e7; }

.enum
{
	padding: 0px;
	margin-bottom: 0px;
}
