a:hover
{ text-decoration: underline; }

.icon
{ font-size: 1.3em; }

body
{ font-family: "arial, serif"; }

.headline
{ font-family: "charter, sans-serif"; font-size: 1.3em; }

#page-main-title
{ font-family: "lucidabright, arial black, cursive"; font-size: 2.0em; }

.larger-text
{ font-size: 1.2em; }

.smaller-text
{ font-size: 0.8em; }

.very-small-text
{ font-size: 0.6em; }

.em
{ font-style: italic; }

.strong
{ font-weight: bold; }

img.mmthumb
{
	display: inline-block;
   width: auto;
   height: 150px;
}

img.mmthumbSameWidth
{
	display: inline-block;
   width: 200px;
   height: auto;
}

img.mmthumbWithBorder
{
	display: inline-block;
	border: 1px solid #ddd;
   border-radius: 4px;
   padding: 5px;
   width: 200px;
   height: 150px;
}

img.mmthumbSmaller
{
	display: inline-block;
   width: 150px;
   height: 110px;
}

img.mmthumbSmallest
{
	display: inline-block;
   width: 100px;
   height: 80px;
}

.forIdentity
{
	width: 480px;
}

.forFilter
{
	width: 836px;
	margin-left: 15px;
}

.forQuestion
{
	width: 836px;
	margin-left: 15px;
}



