<!doctype html>
<html lang="<%- data.languageCode %>">

<%= partials.mmhead({ title: "Accueil du site PhdAdmin" }) %>

<body>

<%= partials.liensPublics({ usertype: "membre" }) %>

<%= partials.displayHeader({ headerName: 'logoChercherFiltrer' }) %>

<%= partials.displayBreadcrumb({ langue: data.languageCode, currentPage: data.page, lastPage: data.lastPage, pageID: 'breadcrumbAccueil' }) %>

<%= partials.displayHeader({ page: data.page, langue: data.languageCode, headerName: 'mmPageHeaderRYM', usertype: "membre", title: "Accueil de PhdAdmin" }) %>

<div class='row'>

  <div class='small-3 columns'>
    <h5 class='bloc-title'><%- data.__("Sections") %></h5>
    <%= partials.getSections(data) %>
    <h5 class='bloc-title'><%- data.__("Sujets") %></h5>
    <%= partials.getSujets(data) %>
  </div>

  <div class='small-6 columns'>
    <div>
    <br>
    <% data.rows.forEach((row) => { %>
      <%= partials[row.tpl](Object.assign({ pathparts: data.pathparts }, row)) %>
      <hr>
    <% }) %>
    </div>
  </div>

  <div class='small-3 columns'>
    <div class=''>
      <h5 class='bloc-title'><%- data.__("En bref") %></h5>
      <% data.breves.forEach((breve) => { %>
        <%= partials.displayLeadDB(Object.assign({ pathparts: data.pathparts }, breve)) %>
      <% }) %>
    </div>
  </div>
</div>
<%= partials.footer({ pagination: true, currentPage: data.page, lastPage: data.lastPage, username: "Alain Farmer" }) %>

<%= partials.scripts() %>

</body>
</html>
