<!doctype html>
<html lang="en" dir="ltr">

<%= partials.mmhead({ title: 'PhD Agenda' }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.logoChercher() %>

<!-- title -->
<div class="row" id="title line">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h3 id="page-main-title" class="text-center">Agenda</h3>
      <p class="text-center"><em>Activités de phdAdmin</em></p>
      <blockquote class="text-center">
			Un agenda est un outil permettant d'associer des actions à des moments, et d'organiser ainsi son temps.
		</blockquote>
    </div>
  </div>
</div>

<!-- INTERFACE -->

<div class="row" id="top-row">
	<div class="large-12 medium-12 small-12 columns" id="grid-center">

		<!-- Horizontal TABS -->
		<ul class="tabs" data-tabs id="page-tabs">
		  <li class="tabs-title"><a href="#appels-a-communication"><span class="larger-text">Appels</span></a></li>
		  <li class="tabs-title is-active"><a href="#avis" aria-selected="true"><span class="larger-text">Avis</span></a></li>
		  <li class="tabs-title"><a href="#conferences"><span class="larger-text">Conférences</span></a></li>
		  <li class="tabs-title"><a href="#congres"><span class="larger-text">Congrès</span></a></li>
		  <li class="tabs-title"><a href="#emplois"><span class="larger-text">Emplois</span></a></li>
		  <li class="tabs-title"><a href="#etudes"><span class="larger-text">Études</span></a></li>
		  <li class="tabs-title"><a href="#financement"><span class="larger-text">Financement</span></a></li>
		  <li class="tabs-title"><a href="#lancements"><span class="larger-text">Lancements</span></a></li>
		  <li class="tabs-title"><a href="#quoi-faire"><span class="larger-text">Quoi faire</span></a></li>
		  <li class="tabs-title"><a href="#rendez-vous"><span class="larger-text">Rendez-vous</span></a></li>
		</ul>

		<div class="tabs-content" data-tabs-content="page-tabs">

		  <div class="tabs-panel is-active" id="avis">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Avis</h4>
							<div class="content">
							<p>Avis concernant ce qu'il y a de nouveau.<br><%= partials.modalProposerNouveau() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Avis #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Avis #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Avis #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Mes avis</h4>
							<div class="content">
							<p>Avis qui m'intéressent.<br><%= partials.modalProposerNouveau() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Avis #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Avis #4</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><i class="fi-minus"></i></a> Avis #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="appels-a-communication">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
						<h4>Appels à communication</h4>
							<div class="content">
							<p>Appels qui intéresseront phdAdmin.<br><%= partials.modalProposerAppel() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Appel #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Appel #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Appel #n<n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
						<h4>Mes appels à communication</h4>
							<div class="content">
							<p>Appels qui m'intéressent.<br><%= partials.modalProposerAppel() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Appel #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Appel #4</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Appel #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="conferences">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Conférences</h4>
							<div class="content">
							<p>Conférences qui intéresseront phdAdmin.<br><%= partials.modalProposerConference() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Conférence #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Conférence #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Conférence #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Mes conférences</h4>
							<div class="content">
							<p>Conférences qui m'intéressent.<br><%= partials.modalProposerConference() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Conférence #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Conférence #4</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Conférence #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="congres">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Congrès</h4>
							<div class="content">
							<p>Congrès qui intéresseront phdAdmin.<br><%= partials.modalProposerCongres() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Congrès #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Congrès #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Congrès #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Mes congrès</h4>
							<div class="content">
							<p>Congrès qui m'intéressent.<br><%= partials.modalProposerCongres() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Congrès #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Congrès #4</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Congrès #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="emplois">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Emplois</h4>
							<div class="content">
							<p>Emplois qui intéresseront phdAdmin.<br><%= partials.modalProposerEmploi() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Emploi #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Emploi #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Emploi #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Mes emplois</h4>
							<div class="content">
							<p>Emplois qui m'intéressent.<br><%= partials.modalProposerEmploi() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Emploi #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Emploi #4</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Emploi #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="etudes">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Études</h4>
							<div class="content">
							<p>Tâches en rapport aux études.<br><%= partials.modalProposerTache() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Tâche #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Tâche #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Tâche #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Mes études</h4>
							<div class="content">
							<p>Tâches qui m'intéressent.<br><%= partials.modalProposerTache() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Tâche #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Tâche #4</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Tâche #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		<div class="tabs-panel" id="financement">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Financement</h4>
							<div class="content">
							<p>Bourses/subventions qui intéresseront phdAdmin.<br><%= partials.modalProposerBourse() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Bourse #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Bourse #4</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Bourse #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Mon financement</h4>
							<div class="content">
							<p>Bourses/subventions qui m'intéressent.<br><%= partials.modalProposerBourse() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Bourse #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Bourse #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Bourse #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="lancements">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Lancements</h4>
							<div class="content">
							<p>Lancements [de livres] qui intéresseront phdAdmin.<br><%= partials.modalProposerLancement() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Lancement #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Lancement #4</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Lancement #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Mes lancements</h4>
							<div class="content">
							<p>Lancements [de livres] qui m'intéressent.<br><%= partials.modalProposerLancement() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Lancement #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Lancement #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Lancement #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="quoi-faire">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Quoi faire</h4>
							<div class="content">
							<p>Activités qui intéresseront phdAdmin.<br><%= partials.modalProposerActivite() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Activité #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Activité #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Activité #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Mes activités</h4>
							<div class="content">
							<p>Activités qui m'intéressent.<br><%= partials.modalProposerActivite() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Activité #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Activité #4</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Activité #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="rendez-vous">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Rendez-vous</h4>
							<div class="content">
							<p>Les rendez-vous de phdAdmin.<br><%= partials.modalProposerRendezVous() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Rendez-vous #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Rendez-vous #4</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-plus"></i></a></span> Rendez-vous #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Mes rendez-vous</h4>
							<div class="content">
							<p>Rendez-vous qui m'intéressent.<br><%= partials.modalProposerRendezVous() %></p>
							<dl>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Rendez-vous #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Rendez-vous #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt><a href="#"><span class="larger-text"><i class="fi-minus"></i></a></span> Rendez-vous #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		</div>
	</div>
</div>

<!-- FOOTER -->
<%= partials.footer({ pagination: false, lastPage: '0', updated: '2016-11-17 à 03:15' }) %>

<!-- SCRIPTS -->
<%= partials.scripts() %>

</body>
</html>