<!doctype html>
<html lang="en" dir="ltr">

<%= partials.mmhead({ title: 'PhD Agenda' }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.logoChercher() %>

<!-- title -->
<div class="row" id="title line">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h3 id="page-main-title" class="text-center">Agenda</h3>
      <p class="text-center"><em>Activités de cette communauté</em></p>
      <blockquote class="text-center">
			Un agenda est un outil permettant d'associer des actions à des moments, et d'organiser ainsi son temps.
		</blockquote>
    </div>
  </div>
</div>

<!-- INTERFACE -->

<div class="row" id="top-row">
	<div class="large-12 medium-12 small-12 columns" id="grid-center">

		<!-- Horizontal TABS -->
		<ul class="tabs" data-tabs id="page-tabs">
		  <li class="tabs-title is-active"><a href="#du-nouveau" aria-selected="true"><span class="larger-text">Du nouveau</span></a></li>
		  <li class="tabs-title"><a href="#appels-a-communication"><span class="larger-text">Appels</span></a></li>
		  <li class="tabs-title"><a href="#bourses"><span class="larger-text">Bourses</span></a></li>
		  <li class="tabs-title"><a href="#conferences"><span class="larger-text">Conférences</span></a></li>
		  <li class="tabs-title"><a href="#congres"><span class="larger-text">Congrès</span></a></li>
		  <li class="tabs-title"><a href="#emplois"><span class="larger-text">Emplois</span></a></li>
		  <li class="tabs-title"><a href="#etudes"><span class="larger-text">Études</span></a></li>
		  <li class="tabs-title"><a href="#lancements"><span class="larger-text">Lancements</span></a></li>
		  <li class="tabs-title"><a href="#quoi-faire"><span class="larger-text">Quoi faire</span></a></li>
		  <li class="tabs-title"><a href="#rendez-vous"><span class="larger-text">Rendez-vous</span></a></li>
		</ul>

		<div class="tabs-content" data-tabs-content="page-tabs">

		  <div class="tabs-panel is-active" id="du-nouveau">
				<div class="row">
					<div class="large-12 medium-12 small-12 columns">
						<div class="">
							<h4>Du nouveau</h4>
							<div class="content">
							<p>Avis concernant ce qu'il y a de nouveau.<br><%= partials.modalProposerNouveau() %></p>
							<dl>
							<dt>Avis #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Avis #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Avis #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Avis #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="appels-a-communication">
				<div class="row">
					<div class="large-12 medium-12 small-12 columns">
						<div class="">
						<h4>Appels à communication</h4>
							<div class="content">
							<p>Appels à communication actuels.<br><%= partials.modalProposerAppel() %></p>
							<dl>
							<dt>Appel #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Appel #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Appel #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Appel #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="bourses">
				<div class="row">
					<div class="large-12 medium-12 small-12 columns">
						<div class="">
							<h4>Bourses</h4>
							<div class="content">
							<p>Bourses qui intéresseront cette communauté.<br><%= partials.modalProposerBourse() %></p>
							<dl>
							<dt>Bourse #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Bourse #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Bourse #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Bourse #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="conferences">
				<div class="row">
					<div class="large-12 medium-12 small-12 columns">
						<div class="">
							<h4>Conférences</h4>
							<div class="content">
							<p>Conférences qui intéresseront cette communauté.<br><%= partials.modalProposerConference() %></p>
							<dl>
							<dt>Conférence #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Conférence #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Conférence #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Conférence #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="congres">
				<div class="row">
					<div class="large-12 medium-12 small-12 columns">
						<div class="">
							<h4>Congrès</h4>
							<div class="content">
							<p>Congrès qui intéresseront cette communauté.<br><%= partials.modalProposerCongres() %></p>
							<dl>
							<dt>Congrès #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Congrès #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Congrès #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Congrès #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="emplois">
				<div class="row">
					<div class="large-12 medium-12 small-12 columns">
						<div class="">
							<h4>Emplois</h4>
							<div class="content">
							<p>Emplois qui intéresseront cette communauté.<br><%= partials.modalProposerEmploi() %></p>
							<dl>
							<dt>Emploi #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Emploi #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Emploi #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Emploi #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="etudes">
				<div class="row">
					<div class="large-12 medium-12 small-12 columns">
						<div class="">
							<h4>Études</h4>
							<div class="content">
							<p>Tâches en rapport aux études.<br><%= partials.modalProposerTache() %></p>
							<dl>
							<dt>Tâche #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Tâche #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Tâche #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Tâche #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="lancements">
				<div class="row">
					<div class="large-12 medium-12 small-12 columns">
						<div class="">
							<h4>Lancements</h4>
							<div class="content">
							<p>Lancements [de livres] qui intéresseront cette communauté.<br><%= partials.modalProposerLancement() %></p>
							<dl>
							<dt>Lancement #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Lancement #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Lancement #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Lancement #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="quoi-faire">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<h4>Quoi faire</h4>
							<div class="content">
							<p>Activités qui intéresseront cette communauté.<br><%= partials.modalProposerActivite() %></p>
							<dl>
							<dt>Activité #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Activité #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Activité #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Activité #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="rendez-vous">
				<div class="row">
					<div class="large-12 medium-12 small-12 columns">
						<div class="">
							<h4>Rendez-vous</h4>
							<div class="content">
							<p>Les rendez-vous de la communauté.<br><%= partials.modalProposerRendezVous() %></p>
							<dl>
							<dt>Rendez-vous #1</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Rendez-vous #2</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Rendez-vous #3</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Rendez-vous #n</dt>
							<dd><p>data = <span>lieu</span> + <span>début</span> + <span>fin</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
				</div>
		  </div>

		</div>
	</div>
</div>

<!-- FOOTER -->
<%= partials.footer({ pagination: false, lastPage: '0', updated: '2016-11-13 à 19:48' }) %>

<!-- SCRIPTS -->
<%= partials.scripts() %>

</body>
</html>