<!doctype html>
<html lang="en" dir="ltr">

<%= partials.mmhead({ title: 'PhD Agenda' }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.logoChercher() %>

<!-- title -->
<div class="row" id="title line">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h3 id="page-main-title" class="text-center">Agenda</h3>
      <p class="text-center"><em>Activités de cette communauté</em></p>
      <blockquote class="text-center">Un agenda est un outil permettant d'associer des actions à des moments, et d'organiser ainsi son temps.<br>Il est utilisé afin de permettre à son utilisateur de planifier, de noter son emploi du temps, ses rendez-vous, etc.</blockquote>
    </div>
  </div>
</div>

<!-- INTERFACE -->

<div class="row" id="top-row">
	<div class="large-12 medium-12 small-12 columns" id="grid-center">

		<!-- Horizontal TABS -->
		<ul class="tabs" data-tabs id="page-tabs">
		  <li class="tabs-title is-active"><a href="#du-nouveau" aria-selected="true"><span class="larger-text">Du nouveau</span></a></li>
		  <li class="tabs-title"><a href="#appels-a-communication"><span class="larger-text">Appels</span></a></li>
		  <li class="tabs-title"><a href="#bourses"><span class="larger-text">Bourses</span></a></li>
		  <li class="tabs-title"><a href="#conferences"><span class="larger-text">Conférences</span></a></li>
		  <li class="tabs-title"><a href="#congres"><span class="larger-text">Congrès</span></a></li>
		  <li class="tabs-title"><a href="#emplois"><span class="larger-text">Emplois</span></a></li>
		  <li class="tabs-title"><a href="#etudes"><span class="larger-text">Études</span></a></li>
		  <li class="tabs-title"><a href="#lancements"><span class="larger-text">Lancements</span></a></li>
		  <li class="tabs-title"><a href="#quoi-faire"><span class="larger-text">Quoi faire</span></a></li>
		  <li class="tabs-title"><a href="#rendez-vous"><span class="larger-text">Rendez-vous</span></a></li>
		</ul>

		<div class="tabs-content" data-tabs-content="page-tabs">

		  <div class="tabs-panel is-active" id="du-nouveau">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Du nouveau</h4></div>
							<div class="content">
							<p>Avis concernant ce qu'il y a de nouveau.</p>
							<dl>
							<dt>Avis #1</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Avis #2</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Avis #3</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Avis #n</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Proposer du nouveau</h4></div>
							<div class="content">
							<p>Proposez du nouveau aux membres de la communauté.</p>
							<form>
							<dl>
							<dt>Titre</dt>
							<dd><input type="text" name="nouveau-titre"></dd>
							<dt>URL</dt>
							<dd><input type="text" name="nouveau-url"></dd>
							<dt>Lieu</dt>
							<dd><input type="text" name="nouveau-lieu"></dd>
							<dt>Moment</dt>
							<dd><input type="text" name="nouveau-moment"></dd>
							<dt>Description</dt>
							<dd><textarea name="nouveau-contenu" placeholder="Exemple"></textarea></dd>
							</dl>
							<p>
							<a href="#" class="button" title="Proposez du nouveau">Proposer</a>
							<a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
							</p>
							</form>
							</div>
						</div>
					</div>
					
				</div>
		  </div>

		  <div class="tabs-panel" id="appels-a-communication">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
						<div><h4>Appels à communication</h4></div>
							<div class="content">
							<p>Appels à communication actuels.</p>
							<dl>
							<dt>Appel #1</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Appel #2</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Appel #3</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Appel #n</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
						<div><h4>Proposer un appel à communication</h4></div>
							<div class="content">
							<p>Proposez un appel à communication qui intéressera cette communauté.</p>
							<form>
							<dl>
							<dt>Titre</dt>
							<dd><input type="text" name="appel-titre"></dd>
							<dt>URL</dt>
							<dd><input type="text" name="appel-url"></dd>
							<dt>Lieu</dt>
							<dd><input type="text" name="appel-lieu"></dd>
							<dt>Moment</dt>
							<dd><input type="text" name="appel-moment"></dd>
							<dt>Description</dt>
							<dd><textarea name="appel-contenu" placeholder="Exemple"></textarea></dd>
							</dl>
							<p>
							<a href="#" class="button" title="Proposez un appel à communication">Proposer</a>
							<a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
							</p>
							</form>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="bourses">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Bourses</h4></div>
							<div class="content">
							<p>Bourses qui intéresseront cette communauté.</p>
							<dl>
							<dt>Bourse #1</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Bourse #2</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Bourse #3</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Bourse #n</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Proposer une bourse</h4></div>
							<div class="content">
							<p>Proposez une bourse qui intéressera cette communauté.</p>
							<form>
							<dl>
							<dt>Titre</dt>
							<dd><input type="text" name="bourse-titre"></dd>
							<dt>URL</dt>
							<dd><input type="text" name="bourse-url"></dd>
							<dt>Lieu</dt>
							<dd><input type="text" name="bourse-lieu"></dd>
							<dt>Moment</dt>
							<dd><input type="text" name="bourse-moment"></dd>
							<dt>Description</dt>
							<dd><textarea name="bourse-contenu" placeholder="Exemple"></textarea></dd>
							</dl>
							<p>
							<a href="#" class="button" title="Proposez une bourse">Proposer</a>
							<a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
							</p>
							</form>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="conferences">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Conférences</h4></div>
							<div class="content">
							<p>Conférences qui intéresseront cette communauté.</p>
							<dl>
							<dt>Conférence #1</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Conférence #2</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Conférence #3</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Conférence #n</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Proposer une conférence</h4></div>
							<div class="content">
							<p>Proposez une conférence qui intéressera cette communauté.</p>
							<form>
							<dl>
							<dt>Titre</dt>
							<dd><input type="text" name="conference-titre"></dd>
							<dt>URL</dt>
							<dd><input type="text" name="conference-url"></dd>
							<dt>Lieu</dt>
							<dd><input type="text" name="conference-lieu"></dd>
							<dt>Moment</dt>
							<dd><input type="text" name="conference-moment"></dd>
							<dt>Description</dt>
							<dd><textarea name="conference-contenu" placeholder="Exemple"></textarea></dd>
							</dl>
							<p>
							<a href="#" class="button" title="Proposez une conférence">Proposer</a>
							<a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
							</p>
							</form>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="congres">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Congrès</h4></div>
							<div class="content">
							<p>Congrès qui intéresseront cette communauté.</p>
							<dl>
							<dt>Congrès #1</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Congrès #2</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Congrès #3</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Congrès #n</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Proposer un congrès</h4></div>
							<div class="content">
							<p>Proposez un congrès qui intéressera cette communauté.</p>
							<form>
							<dl>
							<dt>Titre</dt>
							<dd><input type="text" name="congres-titre"></dd>
							<dt>URL</dt>
							<dd><input type="text" name="congres-url"></dd>
							<dt>Lieu</dt>
							<dd><input type="text" name="congres-lieu"></dd>
							<dt>Moment</dt>
							<dd><input type="text" name="congres-moment"></dd>
							<dt>Description</dt>
							<dd><textarea name="congres-contenu" placeholder="Exemple"></textarea></dd>
							</dl>
							<p>
							<a href="#" class="button" title="Proposez un congrès">Proposer</a>
							<a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
							</p>
							</form>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="emplois">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Emplois</h4></div>
							<div class="content">
							<p>Emplois qui intéresseront cette communauté.</p>
							<dl>
							<dt>Emploi #1</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Emploi #2</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Emploi #3</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Emploi #n</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Proposer un emploi</h4></div>
							<div class="content">
							<p>Proposez un emploi qui intéressera cette communauté.</p>
							<form>
							<dl>
							<dt>Titre</dt>
							<dd><input type="text" name="emploi-titre"></dd>
							<dt>URL</dt>
							<dd><input type="text" name="emploi-url"></dd>
							<dt>Lieu</dt>
							<dd><input type="text" name="emploi-lieu"></dd>
							<dt>Moment</dt>
							<dd><input type="text" name="emploi-moment"></dd>
							<dt>Description</dt>
							<dd><textarea name="emploi-contenu" placeholder="Exemple"></textarea></dd>
							</dl>
							<p>
							<a href="#" class="button" title="Proposez un emploi">Proposer</a>
							<a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
							</p>
							</form>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="etudes">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Études</h4></div>
							<div class="content">
							<p>Tâches en rapport aux études.</p>
							<dl>
							<dt>Tâche #1</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Tâche #2</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Tâche #3</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Tâche #n</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Proposer une tâche</h4></div>
							<div class="content">
							<p>Proposez une tâche en rapport aux études.</p>
							<form>
							<dl>
							<dt>Titre</dt>
							<dd><input type="text" name="tache-titre"></dd>
							<dt>URL</dt>
							<dd><input type="text" name="tache-url"></dd>
							<dt>Lieu</dt>
							<dd><input type="text" name="tache-lieu"></dd>
							<dt>Moment</dt>
							<dd><input type="text" name="tache-moment"></dd>
							<dt>Description</dt>
							<dd><textarea name="tache-contenu" placeholder="Exemple"></textarea></dd>
							</dl>
							<p>
							<a href="#" class="button" title="Proposez une tâche">Proposer</a>
							<a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
							</p>
							</form>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="lancements">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Lancements</h4></div>
							<div class="content">
							<p>Lancements [de livres] qui intéresseront cette communauté.</p>
							<dl>
							<dt>Lancement #1</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Lancement #2</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Lancement #3</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Lancement #n</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Proposer un lancement</h4></div>
							<div class="content">
							<p>Proposez un lancement qui intéressera cette communauté.</p>
							<form>
							<dl>
							<dt>Titre</dt>
							<dd><input type="text" name="lancement-titre"></dd>
							<dt>URL</dt>
							<dd><input type="text" name="lancement-url"></dd>
							<dt>Lieu</dt>
							<dd><input type="text" name="lancement-lieu"></dd>
							<dt>Moment</dt>
							<dd><input type="text" name="lancement-moment"></dd>
							<dt>Description</dt>
							<dd><textarea name="lancement-contenu" placeholder="Exemple"></textarea></dd>
							</dl>
							<p>
							<a href="#" class="button" title="Proposez un lancement">Proposer</a>
							<a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
							</p>
							</form>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="quoi-faire">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Quoi faire</h4></div>
							<div class="content">
							<p>Activités qui intéresseront cette communauté.</p>
							<dl>
							<dt>Activité #1</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Activité #2</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Activité #3</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Activité #n</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Proposer quoi faire</h4></div>
							<div class="content">
							<p>Proposez une activité qui intéressera cette communauté.</p>
							<form>
							<dl>
							<dt>Titre</dt>
							<dd><input type="text" name="activite-titre"></dd>
							<dt>URL</dt>
							<dd><input type="text" name="activite-url"></dd>
							<dt>Lieu</dt>
							<dd><input type="text" name="activite-lieu"></dd>
							<dt>Moment</dt>
							<dd><input type="text" name="activite-moment"></dd>
							<dt>Description</dt>
							<dd><textarea name="activite-contenu" placeholder="Exemple"></textarea></dd>
							</dl>
							<p>
							<a href="#" class="button" title="Proposez une activité">Proposer</a>
							<a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
							</p>
							</form>
							</div>
						</div>
					</div>
				</div>
		  </div>

		  <div class="tabs-panel" id="rendez-vous">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Rendez-vous</h4></div>
							<div class="content">
							<p>Les rendez-vous de la communauté.</p>
							<dl>
							<dt>Rendez-vous #1</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Rendez-vous #2</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Rendez-vous #3</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							<dt>Rendez-vous #n</dt>
							<dd><p>data = <span>lieu</span> + <span>moment</span> + <span>description</span> + <span>URL</span></p></dd>
							</dl>
							<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
							</div>
						</div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="">
							<div><h4>Proposer un rendez-vous</h4></div>
							<div class="content">
							<p>Proposez un rendez-vous qui intéressera cette communauté.</p>
							<form>
							<dl>
							<dt>Titre</dt>
							<dd><input type="text" name="rv-titre"></dd>
							<dt>URL</dt>
							<dd><input type="text" name="rv-url"></dd>
							<dt>Lieu</dt>
							<dd><input type="text" name="rv-lieu"></dd>
							<dt>Moment</dt>
							<dd><input type="text" name="rv-moment"></dd>
							<dt>Description</dt>
							<dd><textarea name="rv-contenu" placeholder="Exemple"></textarea></dd>
							</dl>
							<p>
							<a href="#" class="button" title="Proposez un rendez-vous">Proposer</a>
							<a href="#" class="hollow button" title="Annulez cette opération">Annuler</a>
							</p>
							</form>
							</div>
						</div>
					</div>
				</div>
		  </div>

		</div>
	</div>
</div>

<!-- FOOTER -->
<%= partials.footer({ pagination: false, lastPage: '0', updated: '2016-11-12 à 00:48' }) %>

<!-- SCRIPTS -->
<%= partials.scripts() %>

</body>
</html>