<!doctype html>
<html lang="en" dir="ltr">

<%= partials.mmhead({ title: 'PhdAdmin Aidez-moi' }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.logoChercher() %>

<%= partials.titreSeulement({ title: "Aidez-moi", soustitre: "Aide fournie par phdAdmin" }) %>

<div class="row">
  <div class="small-12 columns">
    <div class="">
      <h5 class="warning callout text-center">La page <span class="em">Aidez-moi</span> est en construction.</h5>
      <h4 class="text-center"><a href="/fr/accueil">Accueil</a></h4>
    </div>
  </div>
</div>

<%= partials.scripts() %>

</body>
</html>