<!doctype html>
<html lang="en" dir="ltr">

<%= partials.mmhead({ title: 'PhD À-propos' }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.logoChercher() %>

<%= partials.titreSeulement({ title: "À propos" }) %>

<!-- INTERFACE -->

<div class="row" id="grid">

	<!-- LEFT -->

  <div class="large-3 medium-3 small-3 columns" id="grid-left">

	<!-- 	tabulations -->
	<ul class="tabs vertical" data-tabs id="apropos">
	  <li class="tabs-title is-active"><a href="/fr/#a-propos-du-site" aria-selected="true"><span class="larger-text">À propos du site</span></a></li>
	  <li class="tabs-title"><a href="/fr/#plan-du-site"><span class="larger-text">Plan du site</span></a></li>
	  <li class="tabs-title"><a href="/fr/#a-propos-de-nous"><span class="larger-text">À propos de nous</span></a></li>
	  <li class="tabs-title"><a href="/fr/#notre-politique"><span class="larger-text">Notre politique</span></a></li>
	  <li class="tabs-title"><a href="/fr/#charte-editorial"><span class="larger-text">Charte éditorial</span></a></li>
	  <li class="tabs-title"><a href="/fr/#votre-participation"><span class="larger-text">Votre participation</span></a></li>
	  <li class="tabs-title"><a href="/fr/#comment-publier-avec-nous"><span class="larger-text">Comment publier avec nous</span></a></li>
	  <li class="tabs-title"><a href="/fr/#contactez-nous"><span class="larger-text">Contactez-nous</span></a></li>
	</ul>

  </div>

  <!-- RIGHT -->
  
  <div class="large-9 medium-9 small-9 columns" id="grid-right">
  <div>

	<div class="tabs-content" data-tabs-content="apropos">

	  <div class="tabs-panel is-active" id="a-propos-du-site">
			<div class="">
				<div><h4>À propos du site</h4></div>
				<p class="text-justify">PhDadministration.net est un agrégateur de contenus destiné avant tout aux étudiants de doctorat, aux doctorants, aux thésards et aux personnels académiques en administration et en sciences sociales. Nos algorithmes cueillent en temps réel les nouvelles parutions des revues, des instituts, des bibliothèques, des universités, des groupes, centres de recherche ainsi que des blogues, des congrès, conférences, séminaires et colloques, etc.</p>
				<p class="text-justify">Nous diffusons également les articles des contributeurs du site et espérons voir des communautés d’intérêt se développer autour des 3500 sujets et plus de nos taxonomies. Les contributeurs sont invités à nous signaler les problématiques, théories et sujets importants à leurs yeux et à évaluer le travail de leurs pairs au moyen des fonctionnalités du site.</p>
				<p class="text-justify">Ce site est fabriqué par d’authentiques thésards qui ont mis de côté leur travail doctoral pour répondre à un besoin criant en gestion de la connaissance et faciliter ainsi leur propres recherches et par conséquent celles de tous les étudiants. Il est disponible en français, en anglais, en espagnol, en italien et en arabe. Nous travaillons sur une version russe, avec des diplômés ou des impétrants russes...</p>
				<p class="text-justify">Pour plus d'information au sujet du site et comment y publier, veuillez <%= partials.modalContacterNous() %></p>
				<p><a title="Haut de page" href="/fr/#"><i class="fi-arrow-up"></i></a></p>
			</div>
	  </div>

	  <div class="tabs-panel" id="plan-du-site">
			<div class="">
				<div><h4>Plan du site</h4></div>
				<p class="text-justify">Description du plan du site.</p>
				<!-- debut pages -->
				<div><h5>Pages</h5></div>
				<div class="content">
					<%= partials.tablePages() %>
				</div>
				<!-- debut rubriques -->
				<div><h5>Rubriques</h5></div>
				<div class="content">
					<%= partials.tableRubriques() %>
				</div>
			<p><a title="Haut de page" href="/fr/#"><i class="fi-arrow-up"></i></a></p>
			</div>
	  </div>
	  
	  <div class="tabs-panel" id="a-propos-de-nous">
			<div class="">
				<div><h4>À propos de nous</h4></div>
				<div class="content">
				<p>Machina Mundi est une entreprise qui ...</p>
				<dl>
				<dt>Mission</dt>
				<dd><p>La mission de Machina Mundi est ...</p></dd>
				<dt>Vision</dt>
				<dd><p>La vision de Machina Mundi est ...</p></dd>
				<dt>Valeurs</dt>
				<dd><p>Les valeurs de Machina Mundi sont ...</p></dd>
				<dt>Objectifs</dt>
				<dd><p>Les objectifs de Machina Mundi sont ...</p></dd>
				</dl>
				</div>
			<p><a title="Haut de page" href="/fr/#"><i class="fi-arrow-up"></i></a></p>
			</div>
	  </div>

	  <div class="tabs-panel" id="notre-politique">
			<div class="">
				<div><h4>Notre politique</h4></div>
				<div class="content">
				<p>Voici la politique de Machina Mundi quant à ...</p>
				<dl>
				<dt>Informations cueillies (contenus)</dt>
				<dd><p>Voici notre politique quant à la cueillette et l'exploitation de nos contenus ...</p></dd>
				<dt>Probité</dt>
				<dd><p>Nous citons toujours notre source ...<br>Nous ne tolérerons pas comportements abusifs ...</p></dd>
				<dt>Piraterie</dt>
				<dd><p>Respect des lois et des droits d'auteur ...</p></dd>
				<dt>Informations concernant les utilisateurs</dt>
				<dd><p>Voici notre politique quant à l'exploitation des informations<br>que nous recueillons en observant et en analysant le comportement des utilisateurs.</p></dd>
				<dt>Vie privée</dt>
				<dd><p>Respect de la confidentialité, non-divulgation à qui que ce soit, effacement ...</p></dd>
				</dl>
				</div>
			<p><a title="Haut de page" href="/fr/#"><i class="fi-arrow-up"></i></a></p>
			</div>
	  </div>

		<div class="tabs-panel" id="charte-editorial">
			<div class="">
				<div><h4>Charte éditorial</h4></div>
				<div class="content">
				<p class="text-justify">Cette site est pour nous un moyen d’être à l’écoute de notre communauté, mais aussi de partager avec vous nos projets et activités en lien avec la persévérance scolaire.</p>
				<p class="text-justify">Nous sommes donc très heureux d’échanger avec vous et nous vous assurons que nous ferons notre possible pour répondre à vos questions et vous faire voir le meilleur de ce que Revdec offre à ses jeunes!</p>
				<p class="text-justify">Nous vous rappelons cependant que si tous les utilisateurs de cette page sont libres de participer et de commenter les différentes publications, certaines règles doivent être considérées.</p>
				<p class="text-justify">À ce titre, et pour favoriser une ambiance de dialogue et de convivialité, nous vous invitons à prendre note de notre charte éditoriale :</p>
				<ol>
				<li><p>Les messages haineux, racistes, xénophobes, homophobes, sexistes, ou disgracieux envers l’origine ethnique, l’appartenance à une religion ou à un groupe d’âge seront supprimés.</p></li>
				<li><p>Les échanges sur cette page se déroulent en français. L'usage d'autres langues, à l'exception de quelques mots, est interdit.</p></li>
				<li><p>Les majuscules équivalent aux cris et peuvent être interprétées comme de l'agressivité. Votre message sera supprimé si vous écrivez en majuscules.</p></li>
				<li><p>Le langage grossier, vulgaire, obscène ou malveillant est interdit; tous les commentaires rédigés sur ce ton seront supprimés.</p></li>
				<li><p>Le respect mutuel est de mise entre les utilisateurs. Ainsi, il est interdit d'injurier, menacer ou harceler un utilisateur. Vous pouvez exprimer votre désaccord avec une idée sans attaquer personne.</p></li>
				<li><p>Les messages sans rapport avec le sujet seront supprimés.</p></li>
				<li><p>Il est interdit de publier des publicités ou des liens vers des sites qui n'entreraient pas dans les thèmes de conversation de la page.</p></li>
				<li><p>L'envoi de messages à répétition nuit aux échanges et ne sera pas toléré.</p></li>
				<li><p>Les messages qui exposent des problèmes à caractère trop personnel seront supprimés, mais, dans certains cas, nous pourrons y répondre par courriel.</p></li>
				<li><p>L'échange d'arguments, de vues contradictoires est un élément clé d'un débat sain, mais ne doit pas prendre la forme d'un dialogue entre deux participants qui s'interpellent sans égard aux autres participants.</p></li>
				</ol>
				<p>Tout contenu qui ne respecterait pas les conditions ci-dessus sera supprimé sans préavis.</p>
				<p>Soyons tolérants, respectueux et responsables, sur Facebook comme ailleurs!</p>
				<p>Claude Berthiaume</p>
				</div>
			<p><a title="Haut de page" href="/fr/#"><i class="fi-arrow-up"></i></a></p>
			</div>
	  </div>

	  <div class="tabs-panel" id="votre-participation">
			<div class="">
				<div><h4>Votre participation</h4></div>
				<div class="content">
				<p>Votre participation est une dimension fondamentale de la connaissance ...</p>
				<dl>
				<dt>Pourquoi participer</dt>
				<dd><p>Voici pourquoi participer ...</p></dd>
				<dt>Comment commencer</dt>
				<dd><p>Voici comment commencer à participer ... D'abord s'inscrire et s'informer.</p></dd>
				<dt>Comment participer</dt>
				<dd>
					<ul>
					<li>Fréquentez le site.</li>
					<li>Commentez un article.</li>
					<li>Évaluez un article.</li>
					<li>Classez un article.</li>
					<li>Publiez avec nous.</li>
					<li>Invitez vos collègues à s'abonner.</li>
					</ul>
				</dd>
				</dl>
				</div>
			<p><a title="Haut de page" href="/fr/#"><i class="fi-arrow-up"></i></a></p>
			</div>
	  </div>

	  <div class="tabs-panel" id="comment-publier-avec-nous">
			<div class="">
				<div><h4>Comment publier avec nous</h4></div>
				<div class="content">
				<p>Voici comment publier avec nous ...</p>
				<dl>
					<dt>Critères d'admissibilité</dt>
					<dd><p>Voici les critères d'admissibilité ...</p></dd>
					<dt>Formation</dt>
					<dd><p>Vous former à la pratique d'écrire journalistiquement ...</p></dd>
					<dt>Démarche</dt>
					<dd><p>Voici la démarche ...</p></dd>
					<dt>Évaluation</dt>
					<dd><p>Critères d'évaluation ...</p></dd>
					<dt>Pour plus d'information</dt>
					<dd><p class="text-justify">Pour plus d'information au sujet de comment publier avec nous,<br>veuillez <%= partials.modalContacterNous() %></p></dd>
				</dl>
				</div>
			<p><a title="Haut de page" href="/fr/#"><i class="fi-arrow-up"></i></a></p>
			</div>
	  </div>

	  <div class="tabs-panel" id="contactez-nous">
		<div class="">
			<div><h4>Contactez-nous</h4></div>
			<div class="content">
				<dl>
				<dt>Nom</dt>
				<dd><p>Machina Mundi Multimédia Inc.</p></dd>
				<dt>Contact</dt>
				<dd><p><%= partials.modalContacterNous() %></p></dd>
				<dt>Facebook</dt>
				<dd><p><a href="https://www.facebook.com/alain.farmer">https://www.facebook.com/machina.mundi</a></p></dd>
				</dl>		
			</div>
			<p><a title="Haut de page" href="/fr/#"><i class="fi-arrow-up"></i></a></p>
		</div>
	  </div>
    </div>
  </div>

    </div>
  </div>
</div>
<br>

<!-- FOOTER -->
<%= partials.footer({ pagination: false, lastPage: '0', updated: '2016-11-03 à 07:03' }) %>

<!-- SCRIPTS -->
<%= partials.scripts() %>

</body>
</html>