<!doctype html>
<html lang="fr" dir="ltr">

<%= partials.mmhead({ title: 'Articles' }) %>

<body><br>

<!-- Article 1 -->

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h4 class="text-left">TITRE #1</h4>
    </div>
  </div>
</div>
<div class="row">
   <div class="large-3 medium-3 small-3 columns">
    <div class="callout">
      <h4 class="text-center">IMAGE</h4>
    </div>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <div class="callout">
      <h4 class="text-justify">TEXTE</h4>
    </div>
  </div>
</div>

<br><br>

<!-- Article 1 test -->

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="">
      <h4 class="headline"><a target="_blank" href="/fr/page-int" title="Exemple d'un article interne">Mission SOCLIM – Carnet de bord #2</a></h4>
    </div>
  </div>
</div>
<div class="row">
   <div class="large-3 medium-3 small-3 columns">
    <div class="text-center">
      <img title="© Julien Boulanger" class="mmthumb" src="http://www.cite-sciences.fr/fileadmin/_processed_/csm_KERGUELEN-tempete-2_24df1f8d69.jpg">
    </div>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <div class="">
      <p class="text-justify">Le Marion Dufresne vient de rejoindre les îles Kerguelen. Suite de l'expédition <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="SOUTHERN OCEAN AND CLIMATE FIELD STUDIES WITH INNOVATIVE TOOLS">SOCLIM</span> dans l'océan Austral. Nous avons atteint depuis peu la région de Kerguelen, dans les Cinquantièmes hurlants...</p>
    </div>
  </div>
</div>

<br><br>

<!-- Article 2 -->

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h4 class="text-left">TITRE #2</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-9 medium-9 small-9 columns">
    <div class="callout">
      <h4 class="text-justify">TEXTE</h4>
    </div>
  </div>
  <div class="large-3 medium-3 small-3 columns">
    <div class="callout">
      <h4 class="text-center">IMAGE</h4>
    </div>
  </div>
</div>

<!-- Article 2 test -->

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="">
      <h4 class="headline"><a target="_blank" href="/fr/page-int" title="Exemple d'un article interne">Mission SOCLIM – Carnet de bord #2</a></h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-9 medium-9 small-9 columns">
    <div class="">
      <div class="content"><p class="text-justify">This article examines theoretically and empirically the determinants of the levels of transparency in Local Governments based on the agency and legitimacy theories. For the purpose of this study, the analysis is based on the Spanish municipalities over a period of 4 years...</p></div>
    </div>
  </div>
  <div class="large-3 medium-3 small-3 columns">
    <div class="">
      <img title="© Julien Boulanger" class="mmthumb" src="http://www.cite-sciences.fr/fileadmin/_processed_/csm_KERGUELEN-tempete-2_24df1f8d69.jpg">
    </div>
  </div>
</div>

<br><br>

<!-- Article 3 -->
<div class="row">
  <div class="large-9 medium-9 small-9 columns">
    <div class="callout">
      <h4 class="text-left">TITRE #3</h4>
      <blockquote class="text-justify">CITATION</blockquote>
    </div>
  </div>
  <div class="large-3 medium-3 small-3 columns">
    <div class="callout">
      <h4 class="text-center">IMAGE</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h4 class="text-justify">TEXTE</h4>
    </div>
  </div>
</div>

      <!-- article 3 test -->
		<div class="row">
		  <div class="large-9 medium-9 small-9 columns">
			 <div class="">
				<h4 class="headline"><a target="_blank" href="/fr/page-ext" title="Exemple d'un article externe">Determinants of Local<br>Governments' Transparency</a></h4>
				<blockquote class="text-justify"><em>The crisis has impact on Local Government<br>forcing it to be more transparent<br>in management of public resources.</em></blockquote>
			 </div>
		  </div>
		  <div class="large-3 medium-3 small-3 columns">
			 <div class="">
				<img src="/img/dans-articles/Philippe_Couillard.jpg" class="mmthumb" title="Philippe Couillard">
			 </div>
		  </div>
		</div>
		<div class="row">
		  <div class="large-12 medium-12 small-12 columns">
			 <div class="">
				<div class="content"><p class="text-justify">This article examines theoretically and empirically the determinants of the levels of transparency in Local Governments based on the agency and legitimacy theories. For the purpose of this study, the analysis is based on the Spanish municipalities over a period of 4 years...</p></div>
			 </div>
		  </div>
		</div>
		<!-- end -->

<br><br>

<!-- Article 4 -->
<div class="row">
  <div class="large-3 medium-3 small-3 columns">
    <div class="callout">
      <h4 class="text-center">IMAGE</h4>
    </div>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <div class="callout">
      <h4 class="text-left">TITRE #4</h4>
      <blockquote class="text-justify">CITATION</blockquote>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h4 class="text-justify">TEXTE</h4>
    </div>
  </div>
</div>

<!-- Article 4 test -->
<div class="row">
  <div class="large-3 medium-3 small-3 columns">
    <div class="">
      <img src="/img/dans-articles/Philippe_Couillard.jpg" class="mmthumb" title="Philippe Couillard">
    </div>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <div class="">
      <h4 class="headline"><a target="_blank" href="/fr/page-ext" title="Exemple d'un article externe">Determinants of Local<br>Governments' Transparency</a></h4>
      <blockquote class="text-justify"><em>The crisis has impact on Local Government<br>forcing it to be more transparent<br>in management of public resources.</em></blockquote>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="">
      <div class="content"><p class="text-justify">This article examines theoretically and empirically the determinants of the levels of transparency in Local Governments based on the agency and legitimacy theories. For the purpose of this study, the analysis is based on the Spanish municipalities over a period of 4 years...</p></div>
    </div>
  </div>
</div>

<br><br>

<!-- Article 5 -->
<div class="row">
  <div class="large-9 medium-9 small-9 columns">
    <div class="callout">
      <h4 class="text-left">TITRE #5</h4>
    </div>
  </div>
  <div class="large-3 medium-3 small-3 columns">
    <div class="callout">
      <h4 class="text-center">IMAGE</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h4 class="text-justify">TEXTE</h4>
    </div>
  </div>
</div>

<!-- Article 5 test -->
<div class="row">
  <div class="large-9 medium-9 small-9 columns">
    <div class="">
      <h4 class="headline"><a target="_blank" href="http://aas.sagepub.com/cgi/content/abstract/0095399715607287v1?rss=1">The Corrupted Industry</a></h4>
      <h5 class="headline"><a target="_blank" href="http://aas.sagepub.com/cgi/content/abstract/0095399715607287v1?rss=1">the <em>Wagon-Wheel Effect</em></a></h5>
    </div>
  </div>
  <div class="large-3 medium-3 small-3 columns">
    <div class="">
      <img src="/img/dans-articles/wagonwheel.jpg" class="mmthumb" title="image de Google Images">
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="">
      <p class="text-justify"><img src="/img/dans-articles/lettrine.gif" width="30" height="30" alt="N" title="lettrine">ote that the present study addresses a topic neglected by the public administration literature: government corruption and its effects on public service systems. Specifically, the study focuses on the institutionalized form of government corruption and offers a framework to explain... </p>
    </div>
  </div>
</div>

<br><br>

<!-- Article 6 -->
<div class="row">
  <div class="large-3 medium-3 small-3 columns">
    <div class="callout">
      <h4 class="text-center">IMAGE</h4>
    </div>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <div class="callout">
      <h4 class="text-left">TITRE #6</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h4 class="text-justify">TEXTE</h4>
    </div>
  </div>
</div>

<!-- Article 6 test -->
<div class="row">
  <div class="large-3 medium-3 small-3 columns">
    <div class="">
      <img src="/img/dans-articles/wagonwheel.jpg" class="mmthumb" title="image de Google Images">
    </div>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <div class="">
      <h4 class="headline"><a target="_blank" href="http://aas.sagepub.com/cgi/content/abstract/0095399715607287v1?rss=1">The Corrupted Industry</a></h4>
      <h5 class="headline"><a target="_blank" href="http://aas.sagepub.com/cgi/content/abstract/0095399715607287v1?rss=1">the <em>Wagon-Wheel Effect</em></a></h5>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="">
      <p class="text-justify"><img src="/img/dans-articles/lettrine.gif" width="30" height="30" alt="N" title="lettrine">ote that the present study addresses a topic neglected by the public administration literature: government corruption and its effects on public service systems. Specifically, the study focuses on the institutionalized form of government corruption and offers a framework to explain... </p>
    </div>
  </div>
</div>

<br><br>

<!-- Article 7 -->
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h4 class="text-left">TITRE #7</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h4 class="text-justify">TEXTE</h4>
    </div>
  </div>
</div>

<!-- Article 7 test -->
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="">
      <h4 class="headline"><a target="_blank" href="http://fr.reuters.com/article/sportsNews/idFRMT1IDAT00004SU20151114">L'Argentine et le Brésil se neutralisent</a></h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="">
      <p class="text-justify">Les deux géants du continent sud-américain se sont neutralisés à Buenos Aires lors de la troisième journée des qualifications pour la Coupe du Monde 2018 en Russie. C'est le Parisien Ezequiel Lavezzi qui ouvrait le score pour l'Argentine, idéalement servi par Gonzalo Higuain (1-0, 33e).</p>
    </div>
  </div>
</div>

<br><br>

<!-- Article 8 -->
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h4 class="text-right">TITRE #8</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h4 class="text-right">TEXTE</h4>
    </div>
  </div>
</div>

<!-- Article 8 test -->
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h4 class="headline text-right"><a target="_blank" href="http://fr.reuters.com/article/sportsNews/idFRMT1IDAT00004SU20151114"><span>رفضت المعارضة الفنزويلية</span></a></h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <p class="text-right">س، 31 أكتوبر/تشرين الأول (راديو هافانا كوبا) : رفضت المعارضة الفنزويلية العرض الذي تقدم به الرئيس نيكولاس مادورو بالمشاركة في حوار وطني بعد الانتخابات التشريعية التي ستجري في السادس من ديسمبر/كانون الأول. 
         </p>
    </div>
  </div>
</div>

<!-- 	SCRIPTS -->
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.min.js"></script>
<script>
	$(document).foundation();
</script>

</body>
</html>