<!doctype html>
<html lang="en" dir="ltr">

<%= partials.mmhead({ title: 'PhdAdmin Bottin' }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.logoChercher() %>

<%= partials.titreSeulement({ title: "Bottin", soustitre: "Répertoire des membres, pairs, groupes, organisations, personnes et lieux." }) %>

<div class="row">

  <!-- LEFT -->
  <div class="small-3 columns">
  <ul class="tabs vertical" data-tabs id="toc">
    <li class="tabs-title is-active"><a href="#membres" aria-selected="true"><span class="tabs-size">Membres</span></a></li>
    <li class="tabs-title"><a href="#pairs"><span class="tabs-size">&nbsp;&nbsp; Mes pairs</span></a></li>
    <li class="tabs-title"><a href="#groupes"><span class="tabs-size">Groupes</span></a></li>
    <li class="tabs-title"><a href="#mesGroupes"><span class="tabs-size">&nbsp;&nbsp; Mes groupes</span></a></li>
    <li class="tabs-title"><a href="#organisations"><span class="tabs-size">Organisations</span></a></li>
    <li class="tabs-title"><a href="#mesOrganisations"><span class="tabs-size">&nbsp;&nbsp; Mes organisations</span></a></li>
    <li class="tabs-title"><a href="#personnes"><span class="tabs-size">Personnes</span></a></li>
    <li class="tabs-title"><a href="#mesPersonnes"><span class="tabs-size">&nbsp;&nbsp; Mes personnes</span></a></li>
    <li class="tabs-title"><a href="#lieux"><span class="tabs-size">Lieux</span></a></li>
    <li class="tabs-title"><a href="#mesLieux"><span class="tabs-size">&nbsp;&nbsp; Mes lieux</span></a></li>
  </ul>
  </div>

  <!-- RIGHT -->

  <div class="small-9 columns">
  <div>

  <div class="tabs-content" data-tabs-content="toc">

    <div class="tabs-panel is-active" id="membres">
    <div class="">
      <h4>Membres</h4>
      <p>Voici le répertoire de tous les membres du site.<br>Pour consulter un membre, cliquez sur l'image ou le nom correspondant.</p>
      <select id="filtrer-membres">
      <option value="filtrer-membres-par-aucun">Aucun filtrage</option>
      <option value="filtrer-membres-autocomplete" selected>Afficher que les membres qui contiennent le(s) terme(s) ci-dessous</option>
      </select>
      <div class="row">
        <div class="input-group forFilter">
          <span class="input-group-label">Filtrer :</span>
          <input class="input-group-field" type="text" name="filtrerMesOrganisations" placeholder="Autocomplete">
        </div>
      </div>
      <br>
      <!-- row-1 -->
      <div class="row">
        <form>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/profil-membre"><img src="/img/membres/me.jpg" class="mmthumb" alt="MEMBRE"></a>
            <h5><a href="/fr/profil-membre">Alain Farmer</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/journal2"><img src="/img/membres/me.jpg" class="mmthumb" alt="MEMBRE"></a>
            <h5><a href="/fr/journal2">Claude Berthiaume</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/profil-membre"><img src="/img/membres/me.jpg" class="mmthumb" alt="MEMBRE"></a>
            <h5><a href="/fr/profil-membre">Robert Ducharme</a></h5>
          </div>
        </div>
        </form>
      </div>
      <hr>
      <!-- end row-1 -->
      <!-- row-2 -->
      <div class="row">
        <form>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/profil-membre"><img src="/img/membres/me.jpg" class="mmthumb" alt="MEMBRE"></a>
            <h5><a href="/fr/profil-membre">Platon</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/profil-membre"><img src="/img/membres/me.jpg" class="mmthumb" alt="MEMBRE"></a>
            <h5><a href="/fr/profil-membre">Karl Marx</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/profil-membre"><img src="/img/membres/me.jpg" class="mmthumb" alt="MEMBRE"></a>
            <h5><a href="/fr/profil-membre">Bruno Latour</a></h5>
          </div>
        </div>
        </form>
      </div>
      <!-- end row-2 -->
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
    </div>
    </div>

    <div class="tabs-panel" id="pairs">
    <div class="">
      <h4>Pairs</h4>
      <p>Pour <span class="em">ajouter un pair</span>, consultez <a href="#membres"><span class="em">Liste de tous les membres</span></a>, cliquez sur le lien <i class="fi-link"></i> correspondant.</p>
      <select id="filtrer-pairs">
      <option value="filtrer-pairs-par-aucun">Aucun filtrage</option>
      <option value="filtrer-pairs-autocomplete" selected>Afficher que les pairs qui contiennent le(s) terme(s) ci-dessous</option>
      </select>
      <div class="row">
        <div class="input-group forFilter">
          <span class="input-group-label">Filtrer :</span>
          <input class="input-group-field" type="text" name="filtrerMesOrganisations" placeholder="Autocomplete">
        </div>
      </div>
      <h4>Mes pairs</h4>
      <br>
      <!-- row-1 -->
      <div class="row">
        <form>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/profil-pair"><img src="/img/membres/me.jpg" class="mmthumb" alt="PAIR"></a>
            <h5><a href="/fr/profil-pair">Alain Farmer</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/journal2"><img src="/img/membres/me.jpg" class="mmthumb" alt="PAIR"></a>
            <h5><a href="/fr/journal2">Claude Berthiaume</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/profil-pair"><img src="/img/membres/me.jpg" class="mmthumb" alt="PAIR"></a>
            <h5><a href="/fr/profil-pair">Robert Ducharme</a></h5>
          </div>
        </div>
        </form>
      </div>
      <hr>
      <!-- end row-1 -->
      <!-- row-2 -->
      <div class="row">
        <form>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/profil-pair"><img src="/img/membres/me.jpg" class="mmthumb" alt="PAIR"></a>
            <h5><a href="/fr/profil-pair">Platon</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/profil-pair"><img src="/img/membres/me.jpg" class="mmthumb" alt="PAIR"></a>
            <h5><a href="/fr/profil-pair">Karl Marx</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/profil-pair"><img src="/img/membres/me.jpg" class="mmthumb" alt="PAIR"></a>
            <h5><a href="/fr/profil-pair">Bruno Latour</a></h5>
          </div>
        </div>
        </form>
      </div>
      <!-- end row-2 -->
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
    </div>
    </div>

	<%= partials.ajouterGroupe() %>

    <div class="tabs-panel" id="groupes">
    <div class="">
      <h4>Groupes</h4>
      <p>Choisir parmi les groupes de phdAdmin ou <span class="strong">proposer un groupe</span> <a class="icon" data-toggle="ajouter-groupe-dropdown" title="Ajouter un groupe"><i class="fi-plus"></i></a></p>
      <hr>
      <!-- row-1 -->
      <div class="row">
        <form>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/groupe1"><img src="/img/groupes/groupe-3.jpeg" alt="Groupe #1" class="mmthumb"></a>
            <h5><a href="/fr/groupe1">Management des TIC</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/groupe1"><img src="/img/groupes/groupe-3.jpeg" alt="Groupe #2" class="mmthumb"></a>
            <h5><a href="/fr/groupe1">Groupe #2</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/groupe1"><img src="/img/groupes/groupe-3.jpeg" class="mmthumb" alt="Groupe #3"></a>
            <h5><a href="/fr/groupe1">Groupe #3</a></h5>
          </div>
        </div>
        </form>
      </div>
      <!-- row-2 -->
      <hr>
      <div class="row">
        <form>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/groupe1"><img src="/img/groupes/groupe-1.jpeg" alt="Groupe #4" class="mmthumb"></a>
            <h5><a href="/fr/groupe1">Groupe #4</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/groupe1"><img src="/img/groupes/groupe-1.jpeg" alt="Groupe #5" class="mmthumb"></a>
            <h5><a href="/fr/groupe1">Groupe #5</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/groupe1"><img src="/img/groupes/groupe-1.jpeg" class="mmthumb" alt="Groupe #6"></a>
            <h5><a href="/fr/groupe1">Groupe #6</a></h5>
          </div>
        </div>
        </form>
      </div>
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
      <!-- end row-2 -->
      <br>
    </div>
    </div>

    <div class="tabs-panel" id="mesGroupes">
    <div class="">
      <h4>Groupes</h4>
      <p>Pour <span class="em">joindre un groupe</span>, consultez <a href="#groupes"><span class="em">Liste des groupes</span></a>, puis consultez le groupe correspondant.</p>
      <hr>
      <h4>Mes groupes</h4>
      <br>
      <!-- row-1 -->
      <div class="row">
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/journal1"><img src="/img/groupes/news.png" alt="Mon journal" class="mmthumb"></a>
            <h5><a href="/fr/journal1">Mon journal</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/these1"><img src="/img/groupes/thesePhd.jpeg" alt="Ma thèse" class="mmthumb"></a>
            <h5><a href="/fr/these1">Ma thèse</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/groupe1"><img src="/img/groupes/groupe-3.jpeg" alt="Groupe #3" class="mmthumb"></a>
            <h5><a href="/fr/groupe1">Management des TIC</a></h5>
          </div>
        </div>
      </div>
      <!-- row-2 -->
      <hr>
      <div class="row">
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/journal2"><img src="/img/groupes/news.png" alt="Journal de Claude Berthiaume" class="mmthumb"></a>
            <h5><a href="/fr/journal2">Claude Berthiaume</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/these2"><img src="/img/groupes/thesePhd.jpeg" alt="Thèse de Claude Berthiaume" class="mmthumb"></a>
            <h5><a href="/fr/these2">Claude Berthiaume</a></h5>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="text-center">
            <a href="/fr/groupe1"><img src="/img/groupes/groupe-1.jpeg" class="mmthumb" alt="Groupe #6"></a>
            <h5><a href="/fr/groupe1">Groupe #6</a></h5>
          </div>
        </div>
        </form>
      </div>
      <!-- end row-2 -->
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
    </div>
    </div>

    <div class="tabs-panel" id="organisations">
    <div class="">
      <h4>Organisations</h4>
      <p>Consulter une organisation ou <span class="strong">proposer une organisation</span> <%= partials.ajouterOrganisation() %></p>
      <h5>Affichage</h5>
    <select id="trier-organisations">
      <option value="trier-organisations-par-nom" selected>Tableau trié par Nom</option>
      <option value="trier-organisations-par-apercu">Tableau trié par Aperçu</option>
    </select>
    <select id="filtrer-organisations">
      <option value="filtrer-organisations-par-aucun">Aucun filtrage</option>
      <option value="filtrer-organisations-autocomplete" selected>Afficher que les organisations qui contiennent le(s) terme(s) ci-dessous</option>
    </select>
      <div class="row">
      <div class="input-group forFilter">
        <span class="input-group-label">Filtrer :</span>
        <input class="input-group-field" type="text" name="filtrerOrganisations" placeholder="Autocomplete">
      </div>
    </div>
      <%= partials.tableLesOrganisations() %>
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
    </div>
    </div>

    <div class="tabs-panel" id="mesOrganisations">
    <div class="">
      <h4>Mes organisations</h4>
      <p>Voici l'interface pour suivre les organisations qui m'intéressent.</p>
      <h5>Affichage</h5>
    <select id="trier-mes-orgs">
      <option value="trier-mes-orgs-par-nom" selected>Tableau trié par Nom</option>
      <option value="trier-mes-orgs-par-apercu">Tableau trié par Aperçu</option>
    </select>
    <select id="filtrer-mes-orgs">
      <option value="filtrer-mes-orgs-par-aucun">Aucun filtrage</option>
      <option value="filtrer-mes-orgs-autocomplete" selected>Afficher que mes organisations qui contiennent le(s) terme(s) ci-dessous</option>
    </select>
      <div class="row">
      <div class="input-group forFilter">
        <span class="input-group-label">Filtrer :</span>
        <input class="input-group-field" type="text" name="filtrerMesOrgs" placeholder="Autocomplete">
      </div>
    </div>
      <%= partials.tableMesOrganisations() %>
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
    </div>
    </div>

    <div class="tabs-panel" id="personnes">
    <div class="">
      <h4>Personnes</h4>
      <p>Consulter une personne ou <span class="strong">proposer une personne</span> <%= partials.ajouterPersonne() %></p>
      <h5>Affichage</h5>
    <select id="trier-personnes">
      <option value="trier-personnes-par-nom" selected>Tableau trié par Nom</option>
      <option value="trier-personnes-par-apercu">Tableau trié par Aperçu</option>
    </select>
    <select id="filtrer-personnes">
      <option value="filtrer-personnes-par-aucun">Aucun filtrage</option>
      <option value="filtrer-personnes-autocomplete" selected>Afficher que les personnes qui contiennent le(s) terme(s) ci-dessous</option>
    </select>
      <div class="row">
      <div class="input-group forFilter">
        <span class="input-group-label">Filtrer :</span>
        <input class="input-group-field" type="text" name="filtrerPersonnes" placeholder="Autocomplete">
      </div>
    </div>
      <%= partials.tableLesPersonnes() %>
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
    </div>
    </div>

    <div class="tabs-panel" id="mesPersonnes">
    <div class="">
      <h4>Mes personnes</h4>
      <p>Voici l'interface pour suivre les personnes qui m'intéressent.</p>
      <h5>Affichage</h5>
    <select id="trier-mes-personnes">
      <option value="trier-mes-personnes-par-nom" selected>Tableau trié par Nom</option>
      <option value="trier-mes-personnes-par-apercu">Tableau trié par Aperçu</option>
    </select>
    <select id="filtrer-mes-personnes">
      <option value="filtrer-mes-personnes-par-aucun">Aucun filtrage</option>
      <option value="filtrer-mes-personnes-autocomplete" selected>Afficher que mes personnes qui contiennent le(s) terme(s) ci-dessous</option>
    </select>
      <div class="row">
      <div class="input-group forFilter">
        <span class="input-group-label">Filtrer :</span>
        <input class="input-group-field" type="text" name="filtrerMesPersonnes" placeholder="Autocomplete">
      </div>
    </div>
      <%= partials.tableMesPersonnes() %>
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
    </div>
    </div>

    <%= partials.ajouterLieu() %>

    <div class="tabs-panel" id="lieux">
    <div class="">
      <h4>Lieux</h4>
      <p>Consulter un lieu ou <span class="strong">proposer un lieu</span> <a class="icon" data-toggle="ajouter-lieu-dropdown" title="Ajouter un lieu"><i class="fi-plus"></i></a></p>
      <h5>Affichage</h5>
    <select id="trier-lieux">
      <option value="trier-lieux-par-nom" selected>Tableau trié par Nom</option>
      <option value="trier-lieux-par-apercu">Tableau trié par Aperçu</option>
    </select>
    <select id="filtrer-lieux">
      <option value="filtrer-lieux-par-aucun">Aucun filtrage</option>
      <option value="filtrer-lieux-autocomplete" selected>Afficher que les lieux qui contiennent le(s) terme(s) ci-dessous</option>
    </select>
      <div class="row">
      <div class="input-group forFilter">
        <span class="input-group-label">Filtrer :</span>
        <input class="input-group-field" type="text" name="filtrerLieux" placeholder="Autocomplete">
      </div>
    </div>
      <%= partials.tableLesLieux() %>
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
    </div>
    </div>

    <div class="tabs-panel" id="mesLieux">
    <div class="">
      <h4>Mes lieux</h4>
      <p>Voici l'interface pour suivre les lieux qui m'intéressent.</p>
      <h5>Affichage</h5>
    <select id="trier-mes-lieux">
      <option value="trier-mes-lieux-par-nom" selected>Tableau trié par Lieu</option>
      <option value="trier-mes-lieux-par-apercu">Tableau trié par Date</option>
    </select>
    <select id="filtrer-mes-lieux">
      <option value="filtrer-mes-lieux-par-aucun">Aucun filtrage</option>
      <option value="filtrer-mes-lieux-autocomplete" selected>Afficher que mes lieux qui contiennent le(s) terme(s) ci-dessous</option>
    </select>
      <div class="row">
      <div class="input-group forFilter">
        <span class="input-group-label">Filtrer :</span>
        <input class="input-group-field" type="text" name="filtrerMesLieux" placeholder="Autocomplete">
      </div>
    </div>
      <%= partials.tableMesLieux() %>
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
    </div>
    </div>

    </div>
    </div>
  </div>

</div>
<br>

<%= partials.footer({ pagination: false, lastPage: '0', updated: '2016-11-25 à 05:53' }) %>

<%= partials.scripts() %>

</body>
</html>