<!doctype html>
<html lang="fr" dir="ltr">

<head>
  <title><%- data.app.siteTitle %> - <%- data.__("En détail") %> - <%- data.doc.nom %></title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/foundation-icons.css" />
  <link rel="stylesheet" href="/css/machina.css">
  <link rel="shortcut icon" href="/favicon.ico">
</head>

<body>

<!-- <%= JSON.stringify(data, null, " ") %> -->

<%= partials.detailedTopRow(data) %>

<%= partials.detailedLogoAndLinks(data) %>

<% if (data.iscopyright === true) { %> <!-- if EXT -->

<div class="row" id="content-pane">
  <div class="small-6 columns">
    <div class="callout" id="article">
      <%= partials.detailedMemeQueLead(data) %>
      <%= partials.detailedConsultation(data) %>
      <% if (data.app.usertype) { %>
         <%= partials.detailedEvaluation(data) %>
         <%= partials.detailedCommenter(data) %>
      <% } %>
    </div>
  </div>
  <div class="small-6 columns">
    <div id="metadata">
      <%= partials.detailedInformation(data) %>
      <%= partials.detailedAttributs(data) %>
    </div>
  </div>
</div>

<% } else { %> <!-- else INT -->

<div class="row" id="content-pane">
  <div class="small-6 columns">
    <div class="callout" id="article">
      <%= data.doc.contenu.replace(/<\/div>/g, '') %>
    </div>
  </div>
  <div class="small-6 columns">
    <div id="metadata">
      <%= partials.detailedInformation(data) %>
      <%= partials.detailedAttributs(data) %>
      <% if (data.app.usertype) { %>
         <%= partials.detailedEvaluation(data) %>
         <%= partials.detailedCommenter(data) %>
      <% } %>
    </div>
  </div>
</div>

<% } %> <!-- endif -->

<%= partials.displayDropdown({ dropName: "ajouter-lien-dropdown" }) %>

<%= partials.displayDropdown({ dropName: "add-keyword-dropdown" }) %>

<%= partials.displayDropdown({ dropName: "ajouter-sujet-dropdown" }) %>

<%= partials.footer({ pagination: false, lastPage: '0', username: 'Alain Farmer' }) %>

<%= partials.scripts() %>

</body>
</html>