<!doctype html>
<html lang="fr" dir="ltr">

<%= partials.mmhead({ title: "PhdAdmin Article-int" }) %>

<body>

<!-- <%= JSON.stringify(data, null, " ") %> -->

<%= partials.detailedTopRow() %>

<%= partials.detailedLogoAndLinks() %>

<div class="row" id="content-pane">

  <div class="small-6 columns">
    <div class="callout" id="article">
      <%- data.contenu %>
    </div>
  </div>

  <div class="small-6 columns">
    <div id="metadata">
      <%= partials.detailedInformation() %>
      <%= partials.displayDropdown({ dropName: "ajouter-lien-dropdown" }) %>
      <%= partials.displayDropdown({ dropName: "add-keyword-dropdown" }) %>
      <%= partials.displayDropdown({ dropName: "ajouter-sujet-dropdown" }) %>
      <%= partials.detailedAttributs() %>
      <%= partials.detailedEvaluation() %>
      <%= partials.detailedCommenter() %>
    </div>
  </div>

</div>

<%= partials.footer({ pagination: false, lastPage: "0", username: "Alain Farmer" }) %>

<%= partials.scripts() %>

</body>
</html>