<!doctype html>
<html lang="en" dir="ltr">

<%= partials.mmhead({ title: 'PhD En-construction' }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.logoChercher() %>

<%= partials.titreSeulement({ title: "En construction" }) %>

<!-- INTERFACE -->
<div class="row" id="title line">
  <div class="large-12 medium-12 small-12 columns">
    <div class="">
      <h5 class="warning callout text-center">Cette page, ou cette fonction, est en <strong>construction</strong>. À la prochaine.</h5>
      <h4 class="text-center"><a href="/fr/accueil">Accueil</a></h4>
    </div>
  </div>
</div>

<!-- SCRIPTS -->
<%= partials.scripts() %>

</body>
</html>