<!doctype html>
<html lang='en' dir='ltr'>

<%= partials.mmhead({ title: "PhdAdmin FAQ" }) %>

<body>

<%= partials.liensPublics({ usertype: "membre" }) %>

<%= partials.displayHeader({ headerName: 'logoChercher' }) %>

<%= partials.displayHeader({ headerName: 'titreSeulement', title: "FAQ", soustitre: "Foire Aux Questions" }) %>

<div class='row'>

  <div class='small-3 columns'>
    <div class='callout' id="compte">
    <h5 class='bloc-title'>Catégories de questions</h5>
    <div class=''>
    <ul class='menu vertical'>
      <li><a href="#categorie-1"><span class='tabs-size'>Catégorie 1</span></a></li>
      <li><a href="#categorie-2"><span class='tabs-size'>Catégorie 2</span></a></li>
      <li><a href="#categorie-3"><span class='tabs-size'>Catégorie 3</span></a></li>
      <li><a href="#categorie-4"><span class='tabs-size'>Catégorie 4</span></a></li>
      <li><a href="#categorie-5"><span class='tabs-size'>Catégorie 5</span></a></li>
      <li><a href="#categorie-6"><span class='tabs-size'>Catégorie 6</span></a></li>
      <li><a href="#categorie-7"><span class='tabs-size'>Catégorie 7</span></a></li>
      <li><a href="#categorie-8"><span class='tabs-size'>Catégorie 8</span></a></li>
    </ul>
    </div>
    </div>
  </div>
  
  <div class='small-9 columns'>
    <div>

    <div class='callout' id="categorie-1">
      <h4>Catégorie 1</h4>
      <div class='content callout' id="question-1.1">
        <p class='strong'>Question 1.1</p>
        <p>Réponse 1.1</p>
      </div>
      <div class='row'>
        <div class='input-group forQuestion'>
          <span class='input-group-label'>Poser question :</span>
          <textarea class='input-group-field' type='text' name='poserQuestion' placeholder="Est-ce que ..."></textarea>
        </div>
      </div>
      <a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a>
    </div>

    <div class='callout' id="categorie-2">
      <h4>Catégorie 2</h4>
      <div class='content callout' id="question-2.1">
        <p class='strong'>Question 2.1</p>
        <p>Réponse 2.1</p>
      </div>
      <div class='row'>
        <div class='input-group forQuestion'>
          <span class='input-group-label'>Poser question :</span>
          <textarea class='input-group-field' type='text' name='poserQuestion' placeholder="Est-ce que ..."></textarea>
        </div>
      </div>
      <a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a>
    </div>

    <div class='callout' id="categorie-3">
      <h4>Catégorie 3</h4>
      <div class='content callout' id="question-3.1">
        <p class='strong'>Question 3.1</p>
        <p>Réponse 3.1</p>
      </div>
      <div class='row'>
        <div class='input-group forQuestion'>
          <span class='input-group-label'>Poser question :</span>
          <textarea class='input-group-field' type='text' name='poserQuestion' placeholder="Est-ce que ..."></textarea>
        </div>
      </div>
      <a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a>
    </div>

    <div class='callout' id="categorie-4">
      <h4>Catégorie 4</h4>
      <div class='content callout' id="question-4.1">
        <p class='strong'>Question 4.1</p>
        <p>Réponse 4.1</p>
      </div>
      <div class='row'>
        <div class='input-group forQuestion'>
          <span class='input-group-label'>Poser question :</span>
          <textarea class='input-group-field' type='text' name='poserQuestion' placeholder="Est-ce que ..."></textarea>
        </div>
      </div>
      <a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a>
    </div>

    <div class='callout' id="categorie-5">
      <h4>Catégorie 5</h4>
      <div class='content callout' id="question-5.1">
        <p class='strong'>Question 5.1</p>
        <p>Réponse 5.1</p>
      </div>
      <div class='row'>
        <div class='input-group forQuestion'>
          <span class='input-group-label'>Poser question :</span>
          <textarea class='input-group-field' type='text' name='poserQuestion' placeholder="Est-ce que ..."></textarea>
        </div>
      </div>
      <a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a>
    </div>

    <div class='callout' id="categorie-6">
      <h4>Catégorie 6</h4>
      <div class='content callout' id="question-6.1">
        <p class='strong'>Question 6.1</p>
        <p>Réponse 6.1</p>
      </div>
      <div class='row'>
        <div class='input-group forQuestion'>
          <span class='input-group-label'>Poser question :</span>
          <textarea class='input-group-field' type='text' name='poserQuestion' placeholder="Est-ce que ..."></textarea>
        </div>
      </div>
      <a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a>
    </div>

    <div class='callout' id="categorie-7">
      <h4>Catégorie 7</h4>
      <div class='content callout' id="question-7.1">
        <p class='strong'>Question 7.1</p>
        <p>Réponse 7.1</p>
      </div>
      <div class='row'>
        <div class='input-group forQuestion'>
          <span class='input-group-label'>Poser question :</span>
          <textarea class='input-group-field' type='text' name='poserQuestion' placeholder="Est-ce que ..."></textarea>
        </div>
      </div>
      <a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a>
    </div>

    <div class='callout' id="categorie-8">
      <h4>Catégorie 8</h4>
      <div class='content callout' id="question-8.1">
        <p class='strong'>Question 8.1</p>
        <p>Réponse 8.1</p>
      </div>
     <div class='row'>
        <div class='input-group forQuestion'>
          <span class='input-group-label'>Poser question :</span>
          <textarea class='input-group-field' type='text' name='poserQuestion' placeholder="Est-ce que ..."></textarea>
        </div>
      </div>
      <a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a>
    </div>

    </div>
  </div>
</div>

<%= partials.footer({ pagination: false, lastPage: "0", username: "Alain Farmer" }) %>

<%= partials.scripts() %>

</body>
</html>