<!doctype html>
<html lang="en" dir="ltr">

<%= partials.mmhead({ title: 'PhD FAQ' }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.logoChercher() %>

<%= partials.titreSeulement({ title: "Foire Aux Questions (FAQ)" }) %>

<!-- INTERFACE -->

<div class="row" id="grid">

	<!-- LEFT -->

  <div class="large-3 medium-3 small-3 columns" id="grid-left">

	<!-- Categories -->
    <div class="callout" id="compte">
		<h5 class="text-center"><strong>Catégories de questions</strong></h5>
		<div class="">
      <ul class="menu vertical">
		<li><a href="#categorie-1"><span class="larger-text">Catégorie 1</span></a></li>
		<li><a href="#categorie-2"><span class="larger-text">Catégorie 2</span></a></li>
		<li><a href="#categorie-3"><span class="larger-text">Catégorie 3</span></a></li>
		<li><a href="#categorie-4"><span class="larger-text">Catégorie 4</span></a></li>
		<li><a href="#categorie-5"><span class="larger-text">Catégorie 5</span></a></li>
		<li><a href="#categorie-6"><span class="larger-text">Catégorie 6</span></a></li>
		<li><a href="#categorie-7"><span class="larger-text">Catégorie 7</span></a></li>
		<li><a href="#categorie-8"><span class="larger-text">Catégorie 8</span></a></li>
		</ul>
		</div>
    </div>

  </div>

  <!-- CENTER -->
  
  <div class="large-9 medium-9 small-9 columns" id="grid-center">
    <div>

		<a name="categorie-1"></a>
		<div class="callout" id="bloc-1">
			<div><h4>Catégorie 1</h4></div>
			<div class="content callout">
				<p><strong>Question 1.1</strong></p>
				<p>Réponse 1.1</p>
			</div>
			<p>
				<a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a>
				<a href="#" class="hollow button" title="Poser une question">Poser une question</a>
			</p>
		</div>

		<a name="categorie-2"></a>
		<div class="callout" id="bloc-2">
			<div><h4>Catégorie 2</h4></div>
			<div class="content callout">
				<p><strong>Question 2.1</strong></p>
				<p>Réponse 2.1</p>
			</div>
			<p>
				<a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a>
				<a href="#" class="hollow button" title="Poser une question">Poser une question</a>
			</p>
		</div>

		<a name="categorie-3"></a>
		<div class="callout" id="bloc-3">
			<div><h4>Catégorie 3</h4></div>
			<div class="content callout">
				<p><strong>Question 3.1</strong></p>
				<p>Réponse 3.1</p>
			</div>
			<p>
				<a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a>
				<a href="#" class="hollow button" title="Poser une question">Poser une question</a>
			</p>
		</div>

		<a name="categorie-4"></a>
		<div class="callout" id="bloc-4">
			<div><h4>Catégorie 4</h4></div>
			<div class="content callout">
				<p><strong>Question 4.1</strong></p>
				<p>Réponse 4.1</p>
			</div>
			<p>
				<a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a>
				<a href="#" class="hollow button" title="Poser une question">Poser une question</a>
			</p>
		</div>

		<a name="categorie-5"></a>
		<div class="callout" id="bloc-5">
			<div><h4>Catégorie 5</h4></div>
			<div class="content callout">
				<p><strong>Question 5.1</strong></p>
				<p>Réponse 5.1</p>
			</div>
			<p>
				<a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a>
				<a href="#" class="hollow button" title="Poser une question">Poser une question</a>
			</p>
		</div>

		<a name="categorie-6"></a>
		<div class="callout" id="bloc-6">
			<div><h4>Catégorie 6</h4></div>
			<div class="content callout">
				<p><strong>Question 6.1</strong></p>
				<p>Réponse 6.1</p>
			</div>
			<p>
				<a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a>
				<a href="#" class="hollow button" title="Poser une question">Poser une question</a>
			</p>
		</div>

		<a name="categorie-7"></a>
		<div class="callout" id="bloc-7">
			<div><h4>Catégorie 7</h4></div>
			<div class="content callout">
				<p><strong>Question 7.1</strong></p>
				<p>Réponse 7.1</p>
			</div>
			<p>
				<a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a>
				<a href="#" class="hollow button" title="Poser une question">Poser une question</a>
			</p>
		</div>

		<a name="categorie-8"></a>
		<div class="callout" id="bloc-8">
			<div><h4>Catégorie 8</h4></div>
			<div class="content callout">
				<p><strong>Question 8.1</strong></p>
				<p>Réponse 8.1</p>
			</div>
			<p>
				<a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a>
				<a href="#" class="hollow button" title="Poser une question">Poser une question</a>
			</p>
		</div>

    </div>
  </div>
</div>

<!-- FOOTER -->
<%= partials.footer({ pagination: false, lastPage: '0', updated: '2016-11-03 à 07:15' }) %>

<!-- SCRIPTS -->
<%= partials.scripts() %>

</body>
</html>