<!doctype html>
<html lang='fr' dir='ltr'>

<%= partials.mmhead({ title: "Groupe Management des TIC de PhdAdmin" }) %>

<body>

<%= partials.liensPublics({ usertype: "membre" }) %>

<%= partials.displayHeader({ headerName: 'logoChercherFiltrer' }) %>

<%= partials.displayBreadcrumb({ pageID: 'breadcrumbGroupe1' }) %>

<%= partials.displayHeader({ headerName: 'mmPageHeader', usertype: "membre", title: "Management des TIC" }) %>

<div class='row'>

  <div class='small-3 columns'>
    <h5 class='bloc-title'><%- data.__("Sections") %></h5>
    <%= partials.getSections(data) %>
    <h5 class='bloc-title'><%- data.__("Sujets") %></h5>
    <%= partials.getSujets(data) %>
  </div>

  <div class='small-6 columns'>
    <div>
    <br>
    <%= partials.displayLead({ thisLead: "article1" }) %>
    <hr>
    <%= partials.displayLead({ thisLead: "article2" }) %>
    <hr>
    <%= partials.displayLead({ thisLead: "article3" }) %>
    <hr>
    <%= partials.displayLead({ thisLead: "article4" }) %>
    <hr>
    <%= partials.displayLead({ thisLead: "article5" }) %>
    <hr>
    </div>
  </div>

  <div class='small-3 columns'>
    <div class=''>
      <h5 class='bloc-title'><%- data.__("En bref") %></h5>
      <%= partials.displayLead({ thisLead: "breve1" }) %>
      <%= partials.displayLead({ thisLead: "breve2" }) %>
      <%= partials.displayLead({ thisLead: "breve3" }) %>
      <%= partials.displayLead({ thisLead: "breve4" }) %>
    </div>
  </div>
</div>

<%= partials.footer({ pagination: true, lastPage: "2 000 000", username: "Alain Farmer" }) %>

<%= partials.scripts() %>

</body>
</html>