<!doctype html>
<html>
<%= partials.mmhead(data) %>
<body>
<br>

<div class="row">
  <div class="small-4 columns">
    <div class="">
      <img src="/img/MM.jpeg" alt="Machina Mundi Multi Média Inc.">
    </div>
  </div>
  <div class="small-8 columns">
    <div class="">
      <h1>PhD Administration</h1>
      <h3 class="em">Machina Mundi Multi Média Inc.</h3>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="small-12 columns">
    <div class="callout">
      <h1 class="text-center"><a href="/fr/accueil">ACCUEIL</a></h1>
      <p class="em text-center">Éventuellement 6 liens, exprimés dans la langue de l'interlocuteur.</p>
    </div>
  </div>
</div>

<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>