<!doctype html>
<html lang='en' dir='ltr'>

<%= partials.mmhead({ title: "PhdAdmin Me-connecter" }) %>

<body>


<%= partials.displayHeader({ headerName: 'titreSeulement', title: "Me connecter", soustitre: "Compléter le formulaire ci-dessous" }) %>





<%= partials.liensPublics({ data: data, usertype: "membre" }) %>

<%= partials.displayHeader({ data: data, headerName: 'logoChercherFiltrer' }) %>

<%= partials.displayHeader({ data: data, page: data.page, langue:
  data.languageCode, headerName: 'mmPageHeaderRYM', usertype: "membre",
  title: data.__('Me connecter'), soustitre: data.__('Compléter le formulaire ci-dessous') }) %>



<div class='row' id='form'>
  <div class='small-6 columns'>
    <div class='callout'>
    <form>
      <label><span class='strong'>Utilisateur</span> <input type='text' name="username"></label>
      <label><span class='strong'>Mot-de-passe</span> <input type='text' name="password"></label>
      <p>
      <input class='button' type='submit' name="me-connecter" value="Me connecter">
      &nbsp; <span class='strong'>ou</span>, si je ne suis pas membre, <a href="/fr/abonnez-vous"><span class='larger-text'>m'abonner</span></a>
    </p>
    </form>
    </div>
  </div>
  <div class='small-6 columns'>
    <div class='callout'>
      <p class='text-left'><a href="/fr/en-construction"><span class='larger-text'>Avez-vous oublié votre mot-de-passe ?</span></a></p>
      <p class='text-justify'>Soyez sans crainte. Nous vous posterons une clef temporaire, qui vous permettra de changer votre mot-de-passe.</p>
      <p class='text-left'><a href="/fr/en-construction"><span class='larger-text'>Utiliser un certificat pour vous connecter ?</span></a></p>
      <p class='text-justify'>Avec ce certificat, sans frais, il ne sera pas nécessaire de taper <span class='em'>Utilisateur</span>, ni le <span class='em'>Mot-de-passe</span>. Explication de comment obtenir et exploiter ce certificat.</p>
    </div>
  </div>
</div>

<div class='row'>
  <!-- COL1 -->
  <div class='small-3 columns' id="col-1">
    <div class='secondary callout'>
      <a href="/fr/agenda#du-nouveau"><h5>Du nouveau</h5></a>
      <p>Ce site met l'accent sur la participation de ses lecteurs.<br><a href="/fr/agenda#du-nouveau">En savoir plus ...</a></p>
      </div>
  </div>
  <!-- COL2 -->
  <div class='small-3 columns' id="col-2">
    <div class='secondary callout'>
      <a href="/fr/agenda#du-nouveau"><h5>Du nouveau</h5></a>
      <p>Ce site met l'accent sur la participation de ses lecteurs.<br><a href="/fr/agenda#du-nouveau">En savoir plus ...</a></p>
      </div>
  </div>
  <!-- COL3 -->
  <div class='small-3 columns' id="col-3">
    <div class='secondary callout'>
      <a href="/fr/agenda#du-nouveau"><h5>Du nouveau</h5></a>
      <p>Ce site met l'accent sur la participation de ses lecteurs.<br><a href="/fr/agenda#du-nouveau">En savoir plus ...</a></p>
      </div>
  </div>
  <!-- COL4 -->
  <div class='small-3 columns' id="col-4">
    <div class='secondary callout'>
      <a href="/fr/agenda#du-nouveau"><h5>Du nouveau</h5></a>
      <p>Ce site met l'accent sur la participation de ses lecteurs.<br><a href="/fr/agenda#du-nouveau">En savoir plus ...</a></p>
      </div>
  </div>
</div>

<%= partials.scripts() %>

</body>
</html>