<!doctype html>
<html lang='en' dir='ltr'>

<%= partials.mmhead({ title: "PhdAdmin Me-déconnecter" }) %>

<body>

<%= partials.liensPublics({ data: data, usertype: "membre" }) %>

<%= partials.displayHeader({ data: data, headerName: 'logoChercherFiltrer' }) %>

<%= partials.displayHeader({ data: data, page: data.page, langue:
  data.languageCode, headerName: 'titreSeulement', usertype: "membre",
  title: data.__('Me déconnecter'), soustitre: data.__('Merci d\'avoir fréquenté notre site') }) %>

<div class='row'>
  <div class='small-12 columns'>
    <div class=''>
      <h4 class='text-center'><a href="/fr/me-connecter">Me connecter</a></h4>
    </div>
  </div>
</div>

<%= partials.scripts() %>

</body>
</html>