<!doctype html>
<html lang="en" dir="ltr">

<%= partials.mmhead({ title: 'PhdAdmin Me-déconnecter' }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.displayHeader({ headerName: 'logoChercher' }) %>

<%= partials.displayHeader({ headerName: 'titreSeulement', title: "Me déconnecter", soustitre: "Merci d'avoir fréquenté notre site" }) %>

<div class="row">
  <div class="small-12 columns">
    <div class="">
      <h4 class="text-center"><a href="/fr/me-connecter">Me connecter</a></h4>
    </div>
  </div>
</div>

<%= partials.scripts() %>

</body>
</html>