<!doctype html>
<html lang="en" dir="ltr">

<%= partials.mmhead({ title: 'PhD Me-connecter' }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.logoChercher() %>

<%= partials.titreSeulement({ title: "Me connecter" }) %>

<!-- INTERFACE -->

<!-- start form -->
<div class="row" id="authenticate">

  <div class="large-6 medium-6 small-6 columns">
    <div class="callout">
		<form>
      <label><strong>Utilisateur</strong> <input type="text" name="username"></label>
      <label><strong>Mot-de-passe</strong> <input type="text" name="password"></label>
      <p>
			<input class="button" type="submit" name="meConnecter" value="Me connecter">
			&nbsp; <strong>ou</strong>, si je ne suis pas membre, <a href="/fr/abonnez-vous"><span class="larger-text">m'abonner</span></a>
		</p>
		</form>
    </div>
  </div>

  <div class="large-6 medium-6 small-6 columns">
    <div class="callout">
      <p class="text-left"><a href="/fr/new-password"><span class="larger-text">Avez-vous oublié votre mot-de-passe ?</span></a></p>
      <p class="text-justify">Soyez sans crainte. Nous vous posterons une clef temporaire, qui vous permettra de changer votre mot-de-passe.</p>
      <p class="text-left"><a href="/fr/certificat"><span class="larger-text">Utiliser un certificat pour vous connecter ?</span></a></p>
      <p class="text-justify">Avec ce certificat, sans frais, il ne sera pas nécessaire de taper <em>Utilisateur</em>, ni le <em>Mot-de-passe</em>. Explication de comment obtenir et exploiter ce certificat.</p>
    </div>
  </div>

</div>
<!-- end form -->

<!-- 4 column grid row -->
<div class="row" id="grid">
	<!-- COL1 -->
  <div class="large-3 medium-3 small-3 columns" id="col-1">
		<div class="secondary callout">
			<a href="/fr/agenda#du-nouveau"><h5>Du nouveau</h5></a>
			<p>Ce site met l'accent sur la participation de ses lecteurs.<br><a href="/fr/agenda#du-nouveau">En savoir plus ...</a></p>
      </div>
  </div>
  <!-- COL2 -->
  <div class="large-3 medium-3 small-3 columns" id="col-2">
		<div class="secondary callout">
			<a href="/fr/agenda#du-nouveau"><h5>Du nouveau</h5></a>
			<p>Ce site met l'accent sur la participation de ses lecteurs.<br><a href="/fr/agenda#du-nouveau">En savoir plus ...</a></p>
      </div>
  </div>
  <!-- COL3 -->
  <div class="large-3 medium-3 small-3 columns" id="col-3">
		<div class="secondary callout">
			<a href="/fr/agenda#du-nouveau"><h5>Du nouveau</h5></a>
			<p>Ce site met l'accent sur la participation de ses lecteurs.<br><a href="/fr/agenda#du-nouveau">En savoir plus ...</a></p>
      </div>
  </div>
  <!-- COL4 -->
  <div class="large-3 medium-3 small-3 columns" id="col-4">
		<div class="secondary callout">
			<a href="/fr/agenda#du-nouveau"><h5>Du nouveau</h5></a>
			<p>Ce site met l'accent sur la participation de ses lecteurs.<br><a href="/fr/agenda#du-nouveau">En savoir plus ...</a></p>
      </div>
  </div>
</div>
<!-- 4 column grid row -->

<!-- SCRIPTS -->
<%= partials.scripts() %>

</body>
</html>