<!doctype html>
<html lang="en" dir="ltr">

<%= partials.mmhead({ title: 'PhD Moi' }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.logoChercher() %>

<%= partials.titreSeulement({ title: "Moi" }) %>

<!-- INTERFACE -->

<div class="row" id="grid">

	<!-- LEFT -->
  <div class="large-3 medium-3 small-3 columns" id="grid-left">
	<!-- 	tabulations -->
	<ul class="tabs vertical" data-tabs id="compte">
	  <li class="tabs-title is-active"><a href="#mon-etat-de-compte" aria-selected="true"><span class="larger-text">État de compte</span></a></li>
	  <li class="tabs-title"><a href="#mon-identification"><span class="larger-text">Identification</span></a></li>
	  <li class="tabs-title"><a href="#mes-preferences"><span class="larger-text">Préférences</span></a></li>
	  <li class="tabs-title"><a href="#mes-sujets"><span class="larger-text">Sujets de recherche</span></a></li>
	  <li class="tabs-title"><a href="#mes-favoris"><span class="larger-text">Favoris</span></a></li>
	  <li class="tabs-title"><a href="#mes-notifications"><span class="larger-text">Notifications</span></a></li>
	  <li class="tabs-title"><a href="#ma-participation"><span class="larger-text">Participation</span></a></li>
	  <li class="tabs-title"><a href="#mes-pairs"><span class="larger-text">Pairs</span></a></li>
	  <li class="tabs-title"><a href="#mes-groupes"><span class="larger-text">Groupes</span></a></li>
	  <li class="tabs-title"><a href="#mon-agenda"><span class="larger-text">Agenda</span></a></li>
	  <li class="tabs-title"><a href="#mon-calendrier"><span class="larger-text">Calendrier</span></a></li>
	  <li class="tabs-title"><a href="#mes-meteos"><span class="larger-text">Météos</span></a></li>
	</ul>
  </div>

  <!-- RIGHT -->
  
  <div class="large-9 medium-9 small-9 columns" id="grid-right">
  <div>

	<form>
	<div class="tabs-content" data-tabs-content="compte">
	  <div class="tabs-panel is-active" id="mon-etat-de-compte">
			<div class="" id="bloc-1">
			<div><h4>État de compte</h4></div>
			<div class="content">
				<dl>
				<dt>Type de compte</dt>
				<dd><p>Platine</p></dd>
				<dt>Coût mensuel</dt>
				<dd><p>$100</p></dd>
				<dt>Déduction en fonction de ma participation</dt>
				<dd><p>$90</p></dd>
				<dt>Total à payer</dt>
				<dd><p>$10</p></dd>
				<dt>Échéance</dt>
				<dd><p>2016-11-01</p></dd>
				<dt>Paiement</dt>
				<dd>
					<div class="row">
					<fieldset class="large-12 columns">
						<input type="radio" name="paiement" value="carte de crédit" id="carte"><label for="carte">Carte de crédit</label>
						<input type="radio" name="paiement" value="paypal" id="paypal"><label for="paypal">Paypal</label>
						<input type="radio" name="paiement" value="bitcoin" id="bitcoin"><label for="bitcoin">Bitcoin</label>
						<input type="radio" name="paiement" value="autre" id="autre"><label for="autre">Autre ...</label>
					</fieldset>
					</div>
				</dd>
				<dt></dt>
				<dd>
					<div class="row">
					<fieldset class="large-12 columns">
						<p>
						<input class="button" name="payer" value="Payer dès maintenant ...">
						<span>&nbsp;</span>
						<input class="button" type="submit" name="donate" value="&nbsp;&nbsp;Faire un don ...&nbsp;&nbsp;">
						</p>
					</fieldset>
					</div>
				</dd>
				</dl>
			</div>
		</div>
	  </div>
	  </form>

	  <div class="tabs-panel" id="mon-identification">
		<div class="" id="bloc-2">
			<div><h4>Identification</h4></div>
			<form>
			<div class="content">
				<dl>
				<dt>Nom de famille</dt>
				<dd><p><input type="text" name="nomFamille" value="Farmer"></p></dd>
				<dt>Prénom</dt>
				<dd><p><input type="text" name="prenom" value="Alain"></p></dd>
				<dt>Utilisateur</dt>
				<dd><p><input type="text" name="username" value="alain"></p></dd>
				<dt>Mot de passe</dt>
				<dd><p><input type="text" name="password" value="************"></p></dd>
				<dt>Courriel</dt>
				<dd><p><input type="text" name="courriel" value="alain_farmer@yahoo.com"></p></dd>
				<dt>Géolocalisation</dt>
				<dd><p><input type="text" name="geolocalisation" value="Montréal"></p></dd>
				</dl>
				<p><input class="button" type="submit" name="enregistrer" value="Enregistrer"></p>
			</div>
			</form>
		</div>
	  </div>

	  <div class="tabs-panel" id="mes-preferences">
		<div class="" id="bloc-3">
			<div><h4>Préférences</h4></div>
			<!-- photo -->
			<div class="row" id="form-photo">
				<div class="large-6 medium-6 small-6 columns">
					<div class="">
						<p><strong>Ma photo</strong></p>
						<p>Photo qui accompagne mes contributions.</p>
						<form>
							<label for="fileUpload" class="button">Téléverser image ...</label>
							<input type="file" id="fileUpload" class="show-for-sr">
						</form>
						<p class="text-center"><em>Veuillez téléverser une image d'une taille d'environ 200 pixels par 200 pixels.</em></p>
					</div>
				</div>
				<div class="large-6 medium-6 small-6 columns">
					<div class="">
						<p class="text-center"><img src="/img/membres/me.jpg" width="200" height="200" alt="Alain"></p>
					</div>
				</div>
			</div>
			<!-- informations -->
			<div class="content">
				<dl>
				<dt>Langues <%= partials.ajouterLangue() %></dt>
				<dd><p>Français, Anglais</p></dd>
				<dt>Lieux <%= partials.ajouterLieu() %></dt>
				<dd><p>Montréal, Québec, Canada</p></dd>
				<dt>Thème <%= partials.choisirTheme() %></dt>
				<dd><p>Pas de thème particulier.</p></dd>
				<dt>Traduire avec Google Translate</dt>
				<dd>
					<form>
						<input type="radio" name="traduire" value="Non" id="Non"><label for="Non">Non</label>
						<input type="radio" name="traduire" value="Oui" id="Oui" checked><label for="Oui">Oui</label>
						<input type="checkbox" id="aviser" checked><label for="aviser">M'aviser lorsqu'il s'agit d'une traduction</label>
					</form>
				</dd>
				</dl>
			</div>
			<!-- fin -->
		</div>
	  </div>

	  <div class="tabs-panel" id="mes-sujets">
		<div class="" id="bloc-4">
			<div><h4>Mes sujets de recherche</h4></div>
			<div class="content">
				<!-- debut table -->
				<%= partials.tableMesSujets() %>
				<!-- fin table -->
			</div>
			<div><h4>Tous les sujets de recherche</h4></div>
			<div class="content">
				<!-- debut table -->
				<%= partials.tableTousSujets() %>
				<!-- fin table -->
				<div class="row">
					<div class="large-1 medium-1 small-1 columns">&nbsp;</div>
					<div class="large-3 medium-3 small-3 columns">
						<div class="text-right"><a href="#" class="button" title="Proposer un sujet ">Proposer un sujet</a></div>
					</div>
					<div class="large-6 medium-6 small-6 columns">
						<div class="text-left"><input type="text" name="suggestion-sujet" value=""></div>
					</div>
					<div class="large-2 medium-2 small-2 columns">&nbsp;</div>
				</div>
				<!-- end row -->
			</div>
			<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
		</div>
	  </div>

	  <div class="tabs-panel" id="mes-favoris">
		<div class="" id="bloc-5">
			<div><h4>Favoris</h4></div>
			<p>Favoris seront privilégiés lors de l'affichage des informations.<br>Ils sont spécifiés en contexte, en cliquant sur <i class="fi-star"></i> .<br></p>
			<div><h5>Affichage</h5></div>
			<div class="row">
				<div class="large-6 medium-6 small-6 columns">
					<div class="">
						<p class="text-left">Présentement: <em>Aucun filtrage</em>.</p>
					</div>
				</div>
				<div class="large-6 medium-6 small-6 columns">
					<div class="">
						<p class="text-left">Présentement: Tableau trié par <em>Nom</em>.</p>
					</div>
				</div>
			</div>
			<div class="row" id="">
			  <div class="large-2 medium-2 small-2 columns">
				 <div class="">
					<p class="text-right">Filtrer par :</p>
				 </div>
			  </div>
			  <div class="large-4 medium-4 small-4 columns">
				 <div class="">
					<!-- begin dropdown menu -->
					<div class="text-left">
					<ul class="menu dropdown" data-dropdown-menu>
					  <li class="active">
						 <a href="#"><strong>Choisir type</strong></a>
						 <ul class="menu">
							<li><a href="#">Aucun filtrage</a></li>
							<li><a href="#">Articles</a></li>
							<li><a href="#">Personnes</a></li>
							<li><a href="#">Ressources</a></li>
							<li><a href="#">Sections</a></li>
							<li><a href="#">Sujets</a></li>
							<li><a href="#">Type n</a></li>
						 </ul>
					  </li>
					</ul>
					</div>
					<!-- end dropdown menu -->
				 </div>
			  </div>
			  <div class="large-2 medium-2 small-2 columns">
				 <div class="">
					<p class="text-right">Trier par :</p>
				 </div>
			  </div>
			  <div class="large-4 medium-4 small-4 columns">
				 <div class="">
					<!-- begin dropdown menu -->
					<div class="text-left">
					<ul class="menu dropdown" data-dropdown-menu>
					  <li class="active">
						 <a href="#"><strong>Choisir tri</strong></a>
						 <ul class="menu">
							<li><a href="#">Nom</a></li>
							<li><a href="#">Type</a></li>
						 </ul>
					  </li>
					</ul>
					</div>
					<!-- end dropdown menu -->
				 </div>
			  </div>
			</div>
			<br>
			
			<div><h4>Mes favoris</h4></div>
			<div class="content">
				<!-- debut table -->
				<p><%= partials.tableFavoris() %></p>
				<!-- fin table -->
				<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
			</div>
		</div>
	  </div>

	<div class="tabs-panel" id="mes-notifications">
		<div class="" id="bloc-6">
			<div><h4>Notifications</h4></div>
			<p>Notifications sont spécifiées en contexte, en cliquant sur <i class="fi-rss"></i> .<br></p>
			<div><h5>Préférences</h5></div>
			<div class="content">
			<p class="secondary callout">Notifications sont souhaitées:
				&nbsp;<input type="radio" name="notifications" value="Oui" id="Oui"><label for="Oui">Oui</label>
				&nbsp;<input type="radio" name="notifications" value="Non" id="Non"><label for="Non">Non</label>
			</p>
			<p class="secondary callout">Comment recevoir notifications:
				&nbsp;<input type="radio" name="reception" value="courriel" id="courriel"><label for="courriel">par courriel</label>
				&nbsp;<input type="radio" name="reception" value="messagerie" id="messagerie"><label for="messagerie">par messagerie</label>
				&nbsp;<input type="radio" name="reception" value="site" id="site"><label for="site">en consultant site web</label>
			</p>
			<p class="secondary callout">Fréquence des notifications:
				<br><br><input type="radio" name="frequence" value="Immédiatement" id="Immédiatement"><label for="Immédiatement">Immédiatement</label>
				&nbsp;<input type="radio" name="frequence" value="heure" id="heure"><label for="heure">1 fois par heure</label>
				&nbsp;<input type="radio" name="frequence" value="jour" id="jour"><label for="jour">1 fois par jour</label>
				&nbsp;<input type="radio" name="frequence" value="hebdo" id="hebdo"><label for="hebdo">1 fois par semaine</label>
				&nbsp;<input type="radio" name="frequence" value="never" id="never"><label for="never">Jamais</label>
			</p>
			
			<div><h5>Affichage</h5></div>
			<div class="row">
				<div class="large-6 medium-6 small-6 columns">
					<div class="">
						<p class="text-left">Présentement: <em>Aucun filtrage</em>.</p>
					</div>
				</div>
				<div class="large-6 medium-6 small-6 columns">
					<div class="">
						<p class="text-left">Présentement: Tableau trié par <em>Nom</em>.</p>
					</div>
				</div>
			</div>
			
			<div class="row" id="">
			  <div class="large-2 medium-2 small-2 columns">
				 <div class="">
					<p class="text-right">Filtrer par :</p>
				 </div>
			  </div>
			  <div class="large-4 medium-4 small-4 columns">
				 <div class="">
					<!-- begin dropdown menu -->
					<div class="text-left">
					<ul class="menu dropdown" data-dropdown-menu>
					  <li class="active">
						 <a href="#"><strong>Choisir type</strong></a>
						 <ul class="menu">
							<li><a href="#">Aucun filtrage</a></li>
							<li><a href="#">Sujet</a></li>
							<li><a href="#">Personne</a></li>
							<li><a href="#">Ressource</a></li>
							<li><a href="#">Type n</a></li>
						 </ul>
					  </li>
					</ul>
					</div>
					<!-- end dropdown menu -->
				 </div>
			  </div>
			  <div class="large-2 medium-2 small-2 columns">
				 <div class="">
					<p class="text-right">Trier par :</p>
				 </div>
			  </div>
			  <div class="large-4 medium-4 small-4 columns">
				 <div class="">
					<!-- begin dropdown menu -->
					<div class="text-left">
					<ul class="menu dropdown" data-dropdown-menu>
					  <li class="active">
						 <a href="#"><strong>Choisir tri</strong></a>
						 <ul class="menu">
							<li><a href="#">Nom</a></li>
							<li><a href="#">Type</a></li>
						 </ul>
					  </li>
					</ul>
					</div>
					<!-- end dropdown menu -->
				 </div>
			  </div>

			</div>
			<div><br><h5>Ressources et termes concernés par les notifications</h5></div>
			<!-- debut table -->
			<%= partials.tableNotifications() %>
			<!-- fin table -->
			<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
		</div>
		</div>
	</div>

	  <div class="tabs-panel" id="ma-participation">
		<div class="" id="bloc-8">
			<div><h4>Participation</h4></div>
				<div class="content">
				<dl>
				<dt>État de mon profil</dt>
				<dd>
					<blockquote>Mon profil est complété à 50%.<br>Le compléter afin d'en retirer tous les bénéfices.</blockquote>
				</dd>
				<dt>Historique de ma participation</dt>
				<dd>
					<ul>
					<li><em>Participant depuis</em>: 2008-01-01</li>
					<li><em>Dernière participation</em>: 2016-10-28 à 18h10.</li>
					<li><em>Points cumulés</em>: 12 345 points</li>
					<li><em>Réputation</em>: très fiable.</li>
					</ul>
				</dd>
				<dt>Paramètres de ma participation</dt>
				<dd>
					<ul>
					<li><a href="/fr/moi#mes-notifications">Notifications</a></li>
					<li><a href="#">Sécurité</a></li>
					<li><a href="#">Confidentialité</a></li>
					<li><a href="#">Vie privée</a></li>
					</ul>
				</dd>
				</dl>
				<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
			</div>
		</div>
	  </div>

	  <div class="tabs-panel" id="mes-pairs">
		<div class="" id="bloc-9">

			<!-- Membres -->
			<div class="content">
				<h4>Membres</h4>
				<ul>
					<li><a href="/fr/bottin#membres"><em>Liste de tous les membres</em></a>, pour choisir des pairs.<br></li>
					<li><em>Joindre un pair</em>, c'est-à-dire l'inviter à devenir un de mes pairs.<br></li>
				</ul>
			</div>

			<!-- Pairs -->
			<div><h4>Mes pairs</h4></div>

			<!-- row-1 -->
			<div class="row">
				<form>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Alain Farmer</h5>
						<a href="#"><img src="/img/membres/me.jpg" width="200" height="200" alt="Pair #1"></a>
							<!-- start nested row -->
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Consulter son profil" href="#"><i class="fi-torso"></i></a>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<%= partials.modalContacterPair({ moi: 'Alain Farmer', nom: 'Alain Farmer', nombre: '1' }) %>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Larguer ce pair" href="#"><i class="fi-unlink"></i></a>
									</div>
								</div>
							</div>
							<!-- end nested row -->
					</div>
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Claude Berthiaume</h5>
						<a href="#"><img src="/img/membres/me.jpg" width="200" height="200" alt="Pair #2"></a>
							<!-- start nested row -->
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Consulter son profil" href="#"><i class="fi-torso"></i></a>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<%= partials.modalContacterPair({ moi: 'Alain Farmer', nom: 'Claude Berthiaume', nombre: '2' }) %>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Larguer ce pair" href="#"><i class="fi-unlink"></i></a>
									</div>
								</div>
							</div>
							<!-- end nested row -->
					</div>
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Robert Ducharme</h5>
						<a href="#"><img src="/img/membres/me.jpg" width="200" height="200" alt="Pair #3"></a>
							<!-- start nested row -->
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Consulter son profil" href="#"><i class="fi-torso"></i></a>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<%= partials.modalContacterPair({ moi: 'Alain Farmer', nom: 'Robert Ducharme', nombre: '3' }) %>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Larguer ce pair" href="#"><i class="fi-unlink"></i></a>
									</div>
								</div>
							</div>
							<!-- end nested row -->
					</div>
				</div>
				</form>
			</div>
			<hr>
			<!-- end row-1 -->

			<!-- row-2 -->
			<div class="row">
				<form>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Platon</h5>
						<a href="#"><img src="/img/membres/me.jpg" width="200" height="200" alt="Pair #1"></a>
							<!-- start nested row -->
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Consulter son profil" href="#"><i class="fi-torso"></i></a>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<%= partials.modalContacterPair({ moi: 'Alain Farmer', nom: 'Platon', nombre: '4' }) %>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Larguer ce pair" href="#"><i class="fi-unlink"></i></a>
									</div>
								</div>
							</div>
							<!-- end nested row -->
					</div>
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Karl Marx</h5>
						<a href="#"><img src="/img/membres/me.jpg" width="200" height="200" alt="Pair #2"></a>
							<!-- start nested row -->
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Consulter son profil" href="#"><i class="fi-torso"></i></a>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<%= partials.modalContacterPair({ moi: 'Alain Farmer', nom: 'Karl Marx', nombre: '5' }) %>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Larguer ce pair" href="#"><i class="fi-unlink"></i></a>
									</div>
								</div>
							</div>
							<!-- end nested row -->
					</div>
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Bruno Latour</h5>
						<a href="#"><img src="/img/membres/me.jpg" width="200" height="200" alt="Pair #3"></a>
							<!-- start nested row -->
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Consulter son profil" href="#"><i class="fi-torso"></i></a>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<%= partials.modalContacterPair({ moi: 'Alain Farmer', nom: 'Bruno Latour', nombre: '6' }) %>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Larguer ce pair" href="#"><i class="fi-unlink"></i></a>
									</div>
								</div>
							</div>
							<!-- end nested row -->
					</div>
				</div>
				</form>
			</div>
			<hr>
			<!-- end row-2 -->
			<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
		</div>
	  </div>

	  <div class="tabs-panel" id="mes-groupes">
		<div class="" id="bloc-10">

			<!-- Groupes -->
			<div class="content">
				<h4>Groupes</h4>
				<ul>
					<li><a href="/fr/bottin#groupes"><em>Liste de tous les groupes</em></a>, pour consulter d'autres groupes, choisir un groupe.<br></li>
					<li><em>Joindre un groupe</em>, c'est-à-dire m'inviter à devenir un des membres du groupe.<br></li>
				</ul>
			</div>

			<div><h4>Mes groupes</h4></div>
			
			<!-- row-1 -->
			<div class="row">
				<form>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Groupe #1</h5>
						<a href="#"><img src="/img/groupes/groupe-1.jpeg" alt="Groupe #1" width="200" height="200"></a>
							<!-- start nested row -->
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Consulter ce groupe" href="#"><i class="fi-torsos-all"></i></a>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<%= partials.modalContacterMonGroupe({ moi: 'Alain Farmer', nom: 'Groupe #1', nombre: '1' }) %>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Quitter ce groupe" href="#"><i class="fi-unlink"></i></a>
									</div>
								</div>
							</div>
							<!-- end nested row -->
					</div>
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Groupe #2</h5>
						<a href="#"><img src="/img/groupes/groupe-3.jpeg" alt="Groupe #2" width="200" height="200"></a>
							<!-- start nested row -->
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Consulter ce groupe" href="#"><i class="fi-torsos-all"></i></a>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<%= partials.modalContacterMonGroupe({ moi: 'Alain Farmer', nom: 'Groupe #2', nombre: '2' }) %>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Quitter ce groupe" href="#"><i class="fi-unlink"></i></a>
									</div>
								</div>
							</div>
							<!-- end nested row -->
					</div>
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Groupe #3</h5>
						<a href="#"><img src="/img/groupes/groupe-2.jpeg" width="200" height="200" alt="Groupe #3"></a>
							<!-- start nested row -->
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Consulter ce groupe" href="#"><i class="fi-torsos-all"></i></a>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<%= partials.modalContacterMonGroupe({ moi: 'Alain Farmer', nom: 'Groupe #3', nombre: '3' }) %>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Quitter ce groupe" href="#"><i class="fi-unlink"></i></a>
									</div>
								</div>
							</div>
							<!-- end nested row -->
					</div>
				</div>
				</form>
			</div>

			<!-- row-2 -->
			<hr>
			<div class="row">
				<form>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Groupe #4</h5>
						<a href="#"><img src="/img/groupes/groupe-1.jpeg" alt="Groupe #1" width="200" height="200"></a>
							<!-- start nested row -->
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Consulter ce groupe" href="#"><i class="fi-torsos-all"></i></a>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<%= partials.modalContacterMonGroupe({ moi: 'Alain Farmer', nom: 'Groupe #4', nombre: '4' }) %>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Quitter ce groupe" href="#"><i class="fi-unlink"></i></a>
									</div>
								</div>
							</div>
							<!-- end nested row -->
					</div>
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Groupe #5</h5>
						<a href="#"><img src="/img/groupes/groupe-1.jpeg" alt="Groupe #2" width="200" height="200"></a>
							<!-- start nested row -->
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Consulter ce groupe" href="#"><i class="fi-torsos-all"></i></a>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<%= partials.modalContacterMonGroupe({ moi: 'Alain Farmer', nom: 'Groupe #5', nombre: '5' }) %>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Quitter ce groupe" href="#"><i class="fi-unlink"></i></a>
									</div>
								</div>
							</div>
							<!-- end nested row -->
					</div>
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Groupe #6</h5>
						<a href="#"><img src="/img/groupes/groupe-1.jpeg" width="200" height="200" alt="Groupe #3"></a>
							<!-- start nested row -->
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Consulter ce groupe" href="#"><i class="fi-torsos-all"></i></a>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<%= partials.modalContacterMonGroupe({ moi: 'Alain Farmer', nom: 'Groupe #6', nombre: '6' }) %>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<a class="icon" title="Quitter ce groupe" href="#"><i class="fi-unlink"></i></a>
									</div>
								</div>
							</div>
							<!-- end nested row -->
					</div>
				</div>
				</form>
			</div>
			<hr>
			<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
			<!-- end row-2 -->
			<br>
		</div>
	  </div>

	  <div class="tabs-panel" id="mon-agenda">
		<div class="" id="bloc-11">
			<div><h4>Agenda</h4></div>

			<div class="float-right">
				<h5>Légende</h5>
				<p>
				<span title="U" class="success badge">U</span> Tâches ajoutées par l'<strong>utilisateur</strong><br>
				<span title="G" class="warning badge">G</span> Tâches héritées de ses <strong>groupes</strong><br>
				<span title="S" class="alert badge">S</span> Tâches ajoutées par le <strong>système</strong><br>
				</p>
				<img src="/img/placeholders/agenda.jpg" width="400">
			</div>

			<div><h5>Fonctions</h5></div>
			<div class="content">
				<ul>
					<li><strong><%= partials.modalAjouterTache() %></strong><br></li>
					<li><strong>Modifier</strong> une tâche<br></li>
					<li><strong>Commuter</strong> l'accomplissement d'une tâche<br></li>
					<li><strong>Retirer</strong> une tâche<br></li>
				</ul>
			</div>

			<div class="row">
				<div class="large-5 medium-5 small-5 columns">
					<div class="">

						<br><br>
						
						<p class="text-left">Présentement: <em>Aucun filtrage</em>.</p>
						<table>
							<tr>
							<td class="text-right">Filtrer par :</td>
							<td class="text-left">
								<!-- begin dropdown menu -->
								<ul class="menu dropdown" data-dropdown-menu>
								<li class="active">
									<a href="#"><strong>Choisir type</strong></a>
									<ul class="menu">
									<li><a href="#">Aucun filtrage</a></li>
									<li><a href="#">Utilisateur</a></li>
									<li><a href="#">Groupes</a></li>
									<li><a href="#">Système</a></li>
									</ul>
								</li>
								</ul>
								<!-- end dropdown menu -->
							</td>
							</tr>
						</table>
						
						<br>

						<p class="text-left">Présentement: Trié par <em>Moment</em>.</p>
						<table>
							<tr>
							<td class="text-right">Trier par :</td>
							<td class="text-left">
								<!-- begin dropdown menu -->
								<ul class="menu dropdown" data-dropdown-menu>
								<li class="active">
									<a href="#"><strong>Choisir tri</strong></a>
									<ul class="menu">
									<li><a href="#">Moment</a></li>
									<li><a href="#">Type</a></li>
									<li><a href="#">Tâche</a></li>
									<li><a href="#">Accomplie</a></li>
									</ul>
								</li>
								</ul>
								<!-- end dropdown menu -->
							</td>
							</tr>
						</table>

					</div>
				</div>
			</div>

			<!-- table -->
			<%= partials.tableTaches() %>
			<!-- end table -->
			<a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a>
		</div>
	  </div>

	  <div class="tabs-panel" id="mon-calendrier">
		<div class="" id="bloc-12">
			<div><h4>Calendrier</h4></div>
			<div class="content">
				<p>
				<span title="T" class="secondary badge">T</span> Tâches de l'agenda de l'<strong>utilisateur</strong><br>
				<span title="U" class="success badge">U</span> Activités ajoutées par l'<strong>utilisateur</strong><br>
				<span title="G" class="warning badge">G</span> Activités héritées de ses <strong>groupes</strong><br>
				<span title="S" class="alert badge">S</span> Activités ajoutées par le <strong>système</strong><br>
				<span title="Ajouter une activité" class="badge">+</span> <%= partials.modalAjouterActivite() %>
				</p>
				<!-- <img src="/img/placeholders/calendrier.png" alt="Agenda" style="height: 80%;"> -->
				<%= partials.calendrier2016() %>
			</div>
			<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
		</div>
	  </div>

	  <div class="tabs-panel" id="mes-meteos">
		<div class="" id="bloc-7">
			<div><h4>Météos</h4></div>
			<div><p>Météo des lieux que vous avez choisis dans <a href="#mes-preferences"><span class="larger-text">Préférences</span></a>.</p></div>
			<div class="row">
				<form>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Montréal (Québec)</h5>
						<a href="#meteo-1"><img src="/img/placeholders/meteo.png" alt="Météo du lieu #1"></a>
					</div>
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Québec (Québec)</h5>
						<a href="#meteo-2"><img src="/img/placeholders/meteo.png" alt="Météo du lieu #2"></a>
					</div>
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Paris (France)</h5>
						<a href="#meteo-3"><img src="/img/placeholders/meteo.png" alt="Météo du lieu #3"></a>
					</div>
				</div>
				</form>
			</div>
			<div class="content">
				<br><p>&nbsp;</p>
			</div>
		</div>
	  </div>

	  </div>
    </div>
  </div>
 
</div>

<!-- FOOTER -->
<%= partials.footer({ pagination: false, lastPage: '0', updated: '2016-11-13 à 23:02' }) %>

<!-- SCRIPTS -->
<%= partials.scripts() %>

</body>
</html>