<!doctype html>
<html lang="en" dir="ltr">

<%= partials.mmhead({ title: 'PhD Moi' }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.logoChercher() %>

<%= partials.titreSeulement({ title: "Moi" }) %>

<!-- INTERFACE -->

<div class="row" id="grid">

	<!-- LEFT -->
  <div class="large-3 medium-3 small-3 columns" id="grid-left">
	<!-- 	tabulations -->
	<ul class="tabs vertical" data-tabs id="tabsMoi">
	  <li class="tabs-title is-active"><a href="#compte" aria-selected="true"><span class="larger-text">Compte</span></a></li>
	  <li class="tabs-title"><a href="#mon-identite"><span class="larger-text">Identité</span></a></li>
	  <li class="tabs-title"><a href="#mes-preferences"><span class="larger-text">Préférences</span></a></li>
	  <li class="tabs-title"><a href="#mes-favoris"><span class="larger-text">Favoris</span></a></li>
	  <li class="tabs-title"><a href="#mes-notifications"><span class="larger-text">M'aviser</span></a></li>
	  <li class="tabs-title"><a href="#ma-participation"><span class="larger-text">Participer</span></a></li>
	  <li class="tabs-title"><a href="#mon-historique"><span class="larger-text">Historique</span></a></li>
	  <li class="tabs-title"><a href="#mon-agenda"><span class="larger-text">Agenda</span></a></li>
	  <li class="tabs-title"><a href="#mon-calendrier"><span class="larger-text">Calendrier</span></a></li>
	  <li class="tabs-title"><a href="#mes-meteos"><span class="larger-text">Météos</span></a></li>
	</ul>
  </div>

  <!-- RIGHT -->
  
  <div class="large-9 medium-9 small-9 columns" id="grid-right">
  <div>

	<form>
	<div class="tabs-content" data-tabs-content="tabsMoi">
	  <div class="tabs-panel is-active" id="compte">
			<div class="">
			<h4>Compte</h4>
			<div class="content">
				<dl>
				<dt>Type de compte</dt>
				<dd><p>Platine</p></dd>
				<dt>Coût mensuel</dt>
				<dd><p>$100</p></dd>
				<dt>Déduction en fonction de ma participation</dt>
				<dd><p>$90</p></dd>
				<dt>Total à payer</dt>
				<dd><p>$10</p></dd>
				<dt>Échéance</dt>
				<dd><p>2016-12-01</p></dd>
				<dt>Paiement</dt>
				<dd>
					<div class="row">
					<fieldset class="large-12 columns">
						<input type="radio" name="paiement" value="carte de crédit" id="carte"><label for="carte">Carte de crédit</label>
						<input type="radio" name="paiement" value="paypal" id="paypal"><label for="paypal">Paypal</label>
						<input type="radio" name="paiement" value="bitcoin" id="bitcoin"><label for="bitcoin">Bitcoin</label>
						<input type="radio" name="paiement" value="autre" id="autre"><label for="autre">Autre ...</label>
					</fieldset>
					</div>
				</dd>
				<dt></dt>
				<dd>
					<div class="row">
					<fieldset class="large-12 columns">
						<p>
						<input class="button" name="payer" value="Payer dès maintenant ...">
						<span>&nbsp;</span>
						<input class="button" type="submit" name="donate" value="&nbsp;&nbsp;Faire un don ...&nbsp;&nbsp;">
						</p>
					</fieldset>
					</div>
				</dd>
				</dl>
			</div>
		</div>
	  </div>
	  </form>

	  <div class="tabs-panel" id="mon-identite">
		<div class="">
			<h4>Identité</h4>
			<form>
			<!-- Grid row -->
			<div class="row" id="title line">
			  <div class="large-5 medium-5 small-5 columns">
				 <div class="">
					<p class="text-center"><u>Remplir obligatoirement</u></p>
					<dl>
					<dt>Nom de famille</dt>
					<dd><p><input type="text" name="nomFamille" value="Farmer"></p></dd>
					<dt>Prénom</dt>
					<dd><p><input type="text" name="prenom" value="Alain"></p></dd>
					<dt>Utilisateur</dt>
					<dd><p><input type="text" name="username" value="alainf"></p></dd>
					<dt>Mot de passe</dt>
					<dd><p><input type="password" name="password" value="************"></p></dd>
					</dl>
				 </div>
			  </div>
			  <div class="large-7 medium-7 small-7 columns">
				 <div class="">
					<p class="text-center"><u>Remplir facultativement</u></p>
					<dl>
					<dt>Courriel</dt>
					<dd>
						<div class="input-group">
							<input class="input-group-field" type="text" name="courriel" value="alain_farmer@yahoo.com">
							<a title="Partager cette information ?" class="input-group-button success button">
								<span class="larger-text"><i class="fi-check"></i></span>
							</a>
						</div>
					</dd>
					<dt>Facebook</dt>
					<dd>
						<div class="input-group">
							<input class="input-group-field" type="url" name="facebook" value="https://www.facebook.com/alain.farmer">
							<a title="Partager cette information ?" class="input-group-button success button">
								<span class="larger-text"><i class="fi-check"></i></span>
							</a>
						</div>
					</dd>
					<dt>Code postal</dt>
					<dd>
						<div class="input-group">
							<input class="input-group-field" type="text" name="geolocalisation" value="H4G 1H7">
							<a title="Partager cette information ?" class="input-group-button success button">
								<span class="larger-text"><i class="fi-check"></i></span>
							</a>
						</div>
					</dd>
					<dt>Téléphone</dt>
					<dd>
						<div class="input-group">
							<input class="input-group-field" type="text" name="telephone" value="514-710-1752">
							<a title="Partager cette information ?" class="input-group-button alert button">
								<span class="larger-text"><i class="fi-lock"></i></span>
							</a>
						</div>
					</dd>
					</dl>
				 </div>
			</div>
			</div>
			</form>
		</div>
	  </div>

	  <div class="tabs-panel" id="mes-preferences">
		<div class="">
			<h4>Préférences</h4>
			<!-- photo -->
			<div class="row" id="form-photo">
				<div class="large-6 medium-6 small-6 columns">
					<div class="">
						<p><strong>Ma photo</strong></p>
						<p>Photo qui accompagne mes contributions.</p>
						<form>
							<label for="fileUpload" class="button">Téléverser image ...</label>
							<input type="file" id="fileUpload" class="show-for-sr">
						</form>
						<p class="text-center"><em>Veuillez téléverser une image d'une taille d'environ 200 pixels par 200 pixels.</em></p>
					</div>
				</div>
				<div class="large-6 medium-6 small-6 columns">
					<div class="">
						<p class="text-center"><img src="/img/membres/me.jpg" width="200" height="200" alt="Alain"></p>
					</div>
				</div>
			</div>
			<!-- informations -->
			<div class="content">
				<dl>
				<dt>Lieux <%= partials.ajouterLieu() %></dt>
				<dd><p>Montréal, Québec, Canada</p></dd>
				<dt>Langues <%= partials.ajouterLangue() %></dt>
				<dd><p>Français, Anglais</p></dd>
				<dt>Traduire avec Google Translate</dt>
				<dd>
					<form>
						<input type="radio" name="traduire" value="Non" id="Non"><label for="Non">Non</label>
						<input type="radio" name="traduire" value="Oui" id="Oui" checked><label for="Oui">Oui</label>
						<input type="checkbox" id="aviser" checked><label for="aviser">M'aviser lorsqu'il s'agit d'une traduction</label>
					</form>
				</dd>
				</dl>
			</div>
			<!-- fin -->
		</div>
	  </div>

	  <div class="tabs-panel" id="mes-favoris">
		<div class="">
			<h4>Favoris</h4>
			<p>Favoris seront privilégiés lors de l'affichage des informations.
			<br>Ils sont spécifiés en contexte, en cliquant sur <i class="fi-star"></i> .
			<br>Voir aussi la page <a href="/fr/favoris">Favoris</a> pour les consulter par onglet.</p>
			<h5>Affichage</h5>
			<select id="filtrer">
				<option value="filtrer-favoris-par-Aucun" selected>Aucun filtrage</option>
				<option value="filtrer-favoris-par-Articles">Favoris filtrés par Articles</option>
				<option value="filtrer-favoris-par-Personnes">Favoris filtrés par Personnes</option>
				<option value="filtrer-favoris-par-Ressources">Favoris filtrés par Ressources</option>
				<option value="filtrer-favoris-par-Sections">Favoris filtrés par Sections</option>
				<option value="filtrer-favoris-par-Sujets">Favoris filtrés par Sujets</option>
				<option value="filtrer-favoris-par-Avis">Favoris filtrés par Avis</option>
				<option value="filtrer-favoris-par-Appels">Favoris filtrés par Appels à communication</option>
				<option value="filtrer-favoris-par-Bourses">Favoris filtrés par Bourses</option>
				<option value="filtrer-favoris-par-Conférences">Favoris filtrés par Conférences</option>
				<option value="filtrer-favoris-par-Congrès">Favoris filtrés par Congrès</option>
				<option value="filtrer-favoris-par-Emplois">Favoris filtrés par Emplois</option>
				<option value="filtrer-favoris-par-Taches">Favoris filtrés par tâches</option>
				<option value="filtrer-favoris-par-Lancements">Favoris filtrés par Lancements</option>
				<option value="filtrer-favoris-par-Activités">Favoris filtrés par Activités</option>
				<option value="filtrer-favoris-par-Rendez-vous">Favoris filtrés par Rendez-vous</option>
			</select>
			<select id="trier">
				<option value="trier-favoris-par-nom" selected>Tableau trié par Nom</option>
				<option value="trier-favoris-par-type">Tableau trié par Type</option>
			</select>
			<br>
			<h4>Mes favoris</h4>
			<div class="content">
				<p><%= partials.tableFavoris() %></p>
				<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
			</div>
		</div>
	  </div>

	<div class="tabs-panel" id="mes-notifications">
		<div class="">
			<h4>M'aviser</h4>
			<p>Notifications sont spécifiées en contexte, en cliquant sur <i class="fi-rss"></i> .<br></p>
			<h5>Préférences</h5>
			<select id="notifications">
				<option value="notifications-oui" selected>Notifications sont souhaitées</option>
				<option value="notifications-non">Notifications ne sont pas souhaitées</option>
			</select>
			<select id="recevoir-notifications">
				<option value="par-courriel">Recevoir notifications par courriel</option>
				<option value="par-messagerie">Recevoir notifications par messagerie</option>
				<option value="par-site" selected>Recevoir notifications en consultant ce site</option>
			</select>
			<select id="frequence-notifications">
				<option value="immediatement">Recevoir notifications immédiatement</option>
				<option value="par-heure">Recevoir notifications 1 fois par heure</option>
				<option value="par-jour" selected>Recevoir notifications 1 fois par jour</option>
				<option value="par-semaine">Recevoir notifications 1 fois par semaine</option>
				<option value="par-mois">Recevoir notifications 1 fois par mois</option>
				<option value="jamais">Ne jamais recevoir de notifications</option>
			</select>
			<select id="filtrer">
				<option value="aucun" selected>Aucun filtrage</option>
				<option value="filtrer-par-sujet">Notifications filtrées par sujet</option>
				<option value="filtrer-par-personne">Notifications filtrées par personne</option>
				<option value="filtrer-par-ressource">Notifications filtrées par ressource</option>
				<option value="filtrer-par-typen">Notifications filtrées par ... n</option>
			</select>
			<select id="trier">
				<option value="trier-par-nom" selected>Tableau trié par Nom</option>
				<option value="trier-par-type">Tableau trié par Type</option>
			</select>
			<div class="content">
				<h5>Ressources et termes concernés par les notifications</h5>
				<%= partials.tableNotifications() %>
				<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
			</div>
		</div>
	</div>

	  <div class="tabs-panel" id="ma-participation">
		<div class="">
			<h4>Participer</h4>
			<br>
			<div class="row">
				 <div class="large-7 medium-7 small-7 columns">
					<div class="">
						<span>Révéler mon <em>nom</em> aux membres ?</span>
						<div class="switch">
							<input class="switch-input" type="checkbox" id="revelerMonNom" name="revelerMonNom">
							<label class="switch-paddle" for="revelerMonNom">
								<span class="switch-active" aria-hidden="true">&nbsp;&nbsp;<i class="fi-lock"></i></span>
								<span class="switch-inactive" aria-hidden="true"><i class="fi-check"></i></span>
							</label>
						</div>
						<span>Afficher ma <em>photo</em> partout dans le site ?</span>
						<div class="switch">
							<input class="switch-input" type="checkbox" id="afficherMaPhoto" name="afficherMaPhoto">
							<label class="switch-paddle" for="afficherMaPhoto">
								<span class="switch-active" aria-hidden="true">&nbsp;&nbsp;<i class="fi-lock"></i></span>
								<span class="switch-inactive" aria-hidden="true"><i class="fi-check"></i></span>
							</label>
						</div>
						<span>Membres me contacter <em>directement</em> ?</span>
						<div class="switch">
							<input class="switch-input" type="checkbox" id="meContacterDirectement" name="meContacterDirectement">
							<label class="switch-paddle" for="meContacterDirectement">
								<span class="switch-active" aria-hidden="true">&nbsp;&nbsp;<i class="fi-lock"></i></span>
								<span class="switch-inactive" aria-hidden="true"><i class="fi-check"></i></span>
							</label>
						</div>
						<span>Partager mes <em>favoris</em> avec mes pairs ?</span>
						<div class="switch">
							<input class="switch-input" type="checkbox" id="partagerFavorisAvecPairs" name="partagerFavorisAvecPairs">
							<label class="switch-paddle" for="partagerFavorisAvecPairs">
								<span class="switch-active" aria-hidden="true">&nbsp;&nbsp;<i class="fi-lock"></i></span>
								<span class="switch-inactive" aria-hidden="true"><i class="fi-check"></i></span>
							</label>
						</div>
						<span>Partager mon <em>agenda</em> avec mes pairs ?</span>
						<div class="switch">
							<input class="switch-input" type="checkbox" id="partagerMoiAvecPairs" name="partagerMoiAvecPairs">
							<label class="switch-paddle" for="partagerMoiAvecPairs">
								<span class="switch-active" aria-hidden="true">&nbsp;&nbsp;<i class="fi-lock"></i></span>
								<span class="switch-inactive" aria-hidden="true"><i class="fi-check"></i></span>
							</label>
						</div>
					</div>
				 </div>
				<div class="large-5 medium-5 small-5 columns">
					<div class="">
						<dl>
						<dt>Participant depuis:</dt>
						<dd>2008-01-01<br><br></dd>
						<dt>Dernière participation:</dt>
						<dd>2016-10-28-18h10<br><br></dd>
						<dt>Fréquentation:</dt>
						<dd>92 visites<br><br></dd>
						<dt>Points cumulés:</dt>
						<dd>12 345 points<br><br></dd>
						<dt>Réputation:</dt>
						<dd>Fiable</dd>
						</dl>
					 </div>
				</div>
			<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
			</div>
		</div>
	  </div>

	  <div class="tabs-panel" id="mon-historique">
		<div class="">
			<h4>Historique</h4>
			<p>Historique de ma participation, de toutes mes interactions.</p>
			<h5>Affichage</h5>
			<select id="filtrer">
				<option value="filtrer-historique-par-Aucun" selected>Aucun filtrage</option>
				<option value="filtrer-historique-par-Date">Historique filtré par Date</option>
				<option value="filtrer-historique-par-Nom">Historique filtré par Nom</option>
				<option value="filtrer-historique-par-Type">Historique filtré par Type</option>
			</select>
			<select id="trier">
				<option value="trier-historique-par-date" selected>Tableau trié par Date</option>
				<option value="trier-historique-par-nom">Tableau trié par Nom</option>
				<option value="trier-historique-par-type">Tableau trié par Type</option>
			</select>
			<br>
			<h4>Mes interactions</h4>
			<div class="content">
				<p><%= partials.tableMesInteractions() %></p>
				<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
			</div>
		</div>
	  </div>

	  <div class="tabs-panel" id="mon-agenda">
		<div class="">
			<h4>Agenda</h4>

			<div class="float-right">
				<h5>Légende</h5>
				<p>
				<span title="U" class="success badge">U</span> Tâches ajoutées par l'<strong>utilisateur</strong><br>
				<span title="G" class="warning badge">G</span> Tâches héritées de ses <strong>groupes</strong><br>
				<span title="S" class="alert badge">S</span> Tâches ajoutées par le <strong>système</strong><br>
				</p>
				<img src="/img/placeholders/agenda.jpg" width="400">
			</div>

			<div><h5>Fonctions</h5></div>
			<div class="content">
				<ul>
					<li><strong><%= partials.modalAjouterTache() %></strong><br></li>
					<li><strong>Modifier</strong> une tâche<br></li>
					<li><strong>Commuter</strong> l'accomplissement d'une tâche<br></li>
					<li><strong>Retirer</strong> une tâche<br></li>
				</ul>
			</div>

			<div class="row">
				<div class="large-5 medium-5 small-5 columns">
					<div class="">
						<br><br>
						<p class="text-left">Présentement: <em>Aucun filtrage</em>.</p>
						<table>
							<tr>
							<td class="text-right">Filtrer par :</td>
							<td class="text-left">
								<!-- begin dropdown menu -->
								<ul class="menu dropdown" data-dropdown-menu>
								<li class="active">
									<a href="#"><strong>Choisir type</strong></a>
									<ul class="menu">
									<li><a href="#">Aucun filtrage</a></li>
									<li><a href="#">Utilisateur</a></li>
									<li><a href="#">Groupes</a></li>
									<li><a href="#">Système</a></li>
									</ul>
								</li>
								</ul>
								<!-- end dropdown menu -->
							</td>
							</tr>
						</table>
						<br>
						<p class="text-left">Présentement: Trié par <em>Moment</em>.</p>
						<table>
							<tr>
							<td class="text-right">Trier par :</td>
							<td class="text-left">
								<!-- begin dropdown menu -->
								<ul class="menu dropdown" data-dropdown-menu>
								<li class="active">
									<a href="#"><strong>Choisir tri</strong></a>
									<ul class="menu">
									<li><a href="#">Moment</a></li>
									<li><a href="#">Type</a></li>
									<li><a href="#">Tâche</a></li>
									<li><a href="#">Accomplie</a></li>
									</ul>
								</li>
								</ul>
								<!-- end dropdown menu -->
							</td>
							</tr>
						</table>

					</div>
				</div>
			</div>
			<!-- table -->
			<%= partials.tableTaches() %>
			<!-- end table -->
			<a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a>
		</div>
	  </div>

	  <div class="tabs-panel" id="mon-calendrier">
		<div class="">
			<h4>Calendrier</h4>
			<div class="content">
				<p>
				<span title="A" class="success badge">A</span> Activités choisies parmi <strong>Agenda public</strong><br>
				<span title="T" class="secondary badge">T</span> Tâches de l'agenda de l'<strong>utilisateur</strong><br>
				<span title="U" class="badge">U</span> Activités ajoutées par l'<strong>utilisateur</strong><br>
				<span title="G" class="warning badge">G</span> Activités héritées de ses <strong>groupes</strong><br>
				<span title="S" class="alert badge">S</span> Activités ajoutées par le <strong>système</strong><br>
				</p>
				<p><strong><%= partials.modalAjouterActivite() %></strong></p>
				<!-- <img src="/img/placeholders/calendrier.png" alt="Agenda" style="height: 80%;"> -->
				<%= partials.calendrier2016() %>
			</div>
			<p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
		</div>
	  </div>

	  <div class="tabs-panel" id="mes-meteos">
		<div class="">
			<h4>Météos</h4>
			<div><p>Météo des lieux que vous avez choisis dans <a href="#mes-preferences"><span class="larger-text">Préférences</span></a>.</p></div>
			<div class="row">
				<form>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Montréal (Québec)</h5>
						<a href="#meteo-1"><img src="/img/placeholders/meteo.png" alt="Météo du lieu #1"></a>
					</div>
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Québec (Québec)</h5>
						<a href="#meteo-2"><img src="/img/placeholders/meteo.png" alt="Météo du lieu #2"></a>
					</div>
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<div class="text-center">
						<h5>Paris (France)</h5>
						<a href="#meteo-3"><img src="/img/placeholders/meteo.png" alt="Météo du lieu #3"></a>
					</div>
				</div>
				</form>
			</div>
			<div class="content">
				<br><p>&nbsp;</p>
			</div>
		</div>
	  </div>

	  </div>
    </div>
  </div>
 
</div>

<!-- FOOTER -->
<%= partials.footer({ pagination: false, lastPage: '0', updated: '2016-11-16 à 00:27' }) %>

<!-- SCRIPTS -->
<%= partials.scripts() %>

</body>
</html>