<!doctype html>
<html lang='en' dir='ltr'>

<%= partials.mmhead({ title: "PhdAdmin Moi" }) %>

<body>

<%= partials.liensPublics({ usertype: "membre" }) %>

<%= partials.displayHeader({ headerName: 'logoChercher' }) %>

<%= partials.displayHeader({ headerName: 'titreSeulement', title: "Moi", soustitre: "Informations qui me concernent" }) %>

<div class='row'>

  <div class='small-3 columns'>
  <ul class='tabs vertical' data-tabs id="tabsMoi">
    <li class='tabs-title is-active'><a href="#compte" aria-selected='true'><span class='tabs-size'>Compte</span></a></li>
    <li class='tabs-title'><a href="#mon-identite"><span class='tabs-size'>Identité</span></a></li>
    <li class='tabs-title'><a href="#mes-preferences"><span class='tabs-size'>Préférences</span></a></li>
    <li class='tabs-title'><a href="#mes-favoris"><span class='tabs-size'>Favoris</span></a></li>
    <li class='tabs-title'><a href="#mes-notifications"><span class='tabs-size'>M'aviser</span></a></li>
    <li class='tabs-title'><a href="#ma-participation"><span class='tabs-size'>Participer</span></a></li>
    <li class='tabs-title'><a href="#mon-historique"><span class='tabs-size'>Historique</span></a></li>
    <li class='tabs-title'><a href="#mon-agenda"><span class='tabs-size'>Agenda</span></a></li>
    <li class='tabs-title'><a href="#mon-calendrier"><span class='tabs-size'>Calendrier</span></a></li>
    <li class='tabs-title'><a href="#mes-meteos"><span class='tabs-size'>Météos</span></a></li>
  </ul>
  </div>

  <div class='small-9 columns'>
  <div>

  <div class='tabs-content' data-tabs-content="tabsMoi">
    <div class='tabs-panel is-active' id="compte">
      <div class=''>
      <h4>Compte</h4>
      <div class='content'>
        <dl>
        <dt>Type de compte</dt>
        <dd><p>Platine</p></dd>
        <dt>Coût mensuel</dt>
        <dd><p>$100</p></dd>
        <dt>Déduction en fonction de ma participation</dt>
        <dd><p>$90</p></dd>
        <dt>Total à payer</dt>
        <dd><p>$10</p></dd>
        <dt>Échéance</dt>
        <dd><p>2016-12-01</p></dd>
        <dt>Paiement</dt>
        <dd>
          <div class='row'>
          <fieldset class='small-12 columns'>
            <input type='radio' name='paiement' value="carte de crédit" id="carte"><label for="carte">Carte de crédit</label>
            <input type='radio' name='paiement' value="paypal" id="paypal"><label for="paypal">Paypal</label>
            <input type='radio' name='paiement' value="bitcoin" id="bitcoin"><label for="bitcoin">Bitcoin</label>
            <input type='radio' name='paiement' value="autre" id="autre"><label for="autre">Autre ...</label>
          </fieldset>
          </div>
        </dd>
        <dt></dt>
        <dd>
          <div class='row'>
          <fieldset class='small-12 columns'>
            <p>
            <input class='button' name='payer' value="Payer dès maintenant ...">
            <span>&nbsp;</span>
            <input class='button' type='submit' name='donate' value="&nbsp;&nbsp;Faire un don ...&nbsp;&nbsp;">
            </p>
          </fieldset>
          </div>
        </dd>
        </dl>
      </div>
    </div>
    </div>

    <div class='tabs-panel' id="mon-identite">
    <div class=''>
      <h4>Identité</h4>
      <form>
      <div class='row'>
        <div class='small-5 columns'>
         <div class=''>
          <br>
          <p class='text-center underlined'>Remplir obligatoirement</p>
          <dl>
          <dt>Nom de famille</dt>
          <dd><p><input type='text' name="nomFamille" value="Farmer"></p></dd>
          <dt>Prénom</dt>
          <dd><p><input type='text' name="prenom" value="Alain"></p></dd>
          <dt>Utilisateur</dt>
          <dd><p><input type='text' name="username" value="alainf"></p></dd>
          <dt>Mot de passe</dt>
          <dd><p><input type='password' name="password" value="************"></p></dd>
          </dl>
         </div>
        </div>
        <div class='small-7 columns'>
         <div class=''>
          <br>
          <p class='text-center underlined'>Remplir facultativement</p>
          <dl>
          <dt>Courriel</dt>
          <dd>
            <div class='input-group forIdentity'>
              <input class='input-group-field' type='text' name="courriel" value="alain_farmer@yahoo.com">
              <a title="Partager cette information ?" class='input-group-button success button'>
                <span class='tabs-size'><i class='fi-check'></i></span>
              </a>
            </div>
          </dd>
          <dt>Facebook</dt>
          <dd>
            <div class='input-group forIdentity'>
              <input class='input-group-field' type='url' name="facebook" value="https://www.facebook.com/alain.farmer">
              <a title="Partager cette information ?" class='input-group-button success button'>
                <span class='tabs-size'><i class='fi-check'></i></span>
              </a>
            </div>
          </dd>
          <dt>Code postal</dt>
          <dd>
            <div class='input-group forIdentity'>
              <input class='input-group-field' type='text' name="geolocalisation" value="H4G 1H7">
              <a title="Partager cette information ?" class='input-group-button success button'>
                <span class='tabs-size'><i class='fi-check'></i></span>
              </a>
            </div>
          </dd>
          <dt>Téléphone</dt>
          <dd>
            <div class='input-group forIdentity'>
              <input class='input-group-field' type='text' name="telephone" value="514-710-1752">
              <a title="Partager cette information ?" class='input-group-button alert button'>
                <span class='tabs-size'><i class='fi-lock'></i></span>
              </a>
            </div>
          </dd>
          </dl>
         </div>
      </div>
      </div>
      </form>
      <p class='strong larger-text text-left'>&nbsp;<a href="/fr/profil-moi">Consulter mon profil public</a></p>
    </div>
    </div>

    <div class='tabs-panel' id="mes-preferences">
    <div class=''>
      <h4>Préférences</h4>
      <!-- photo -->
      <div class='row' id="form-photo">
        <div class='small-6 columns'>
          <div class=''>
            <p class='strong'>Ma photo</p>
            <p>Photo qui accompagne mes contributions.</p>
            <form>
              <label for='fileUpload' class='button'>Téléverser image ...</label>
              <input type='file' id='fileUpload' class='show-for-sr'>
            </form>
            <p class='em text-center'>Veuillez téléverser une image d'une taille d'environ 200 pixels par 200 pixels.</p>
          </div>
        </div>
        <div class='small-6 columns'>
          <div class=''>
            <p class='text-center'><img src="/img/membres/me.jpg" class='mmthumb' alt="Alain"></p>
          </div>
        </div>
      </div>
      <!-- informations -->
      <div class='content'>
        <dl>
        <dt>Lieux <a class='icon' data-toggle="ajouter-lieu-dropdown" title="Ajouter un lieu"><i class='fi-plus'></i></a></dt>
        <dd><p>Montréal (Québec), Québec (Québec), Paris (France)</p></dd>
        <dt>Langues <a class='icon' data-toggle="ajouter-langue-dropdown" title="Ajouter une langue"><i class='fi-plus'></i></a></dt>
        <dd><p>Français, Anglais</p></dd>
        <dt>Traduire avec Google Translate</dt>
        <dd>
          <form>
            <input type='radio' name="traduire" value="Non" id="Non"><label for="Non">Non</label>
            <input type='radio' name="traduire" value="Oui" id="Oui" checked><label for="Oui">Oui</label>
            <input type='checkbox' id="aviser" checked><label for="aviser">M'aviser lorsqu'il s'agit d'une traduction</label>
          </form>
        </dd>
        </dl>
      </div>
      <!-- fin -->
    </div>
    </div>

    <div class='tabs-panel' id="mes-favoris">
    <div class=''>
      <h4>Favoris</h4>
      <p>Favoris seront privilégiés lors de l'affichage des informations.
      <br>Ils sont spécifiés en contexte, en cliquant sur <i class='fi-star'></i> .
      <br>Voir aussi la page <a href="/fr/favoris">Favoris</a> pour les consulter par onglet.</p>
      <h5>Affichage</h5>
      <select id="trier-favoris">
        <option value="trier-favoris-par-nom" selected>Tableau trié par Nom</option>
        <option value="trier-favoris-par-type">Tableau trié par Type</option>
      </select>
      <select id="filtrer-favoris">
        <option value="filtrer-favoris-par-aucun">Aucun filtrage</option>
        <option value="filtrer-favoris-par-autocomplete" selected>Afficher que les favoris qui contiennent le(s) terme(s) ci-dessous</option>
        <option value="filtrer-favoris-par-articles">Afficher que les Articles</option>
        <option value="filtrer-favoris-par-personnes">Afficher que les Personnes</option>
        <option value="filtrer-favoris-par-ressources">Afficher que les Ressources</option>
        <option value="filtrer-favoris-par-sections">Afficher que les Sections</option>
        <option value="filtrer-favoris-par-sujets">Afficher que les Sujets</option>
        <option value="filtrer-favoris-par-aAvis">Afficher que les Avis</option>
        <option value="filtrer-favoris-par-appels">Afficher que les Appels à communication</option>
        <option value="filtrer-favoris-par-bourses">Afficher que les Bourses</option>
        <option value="filtrer-favoris-par-conférences">Afficher que les Conférences</option>
        <option value="filtrer-favoris-par-congrès">Afficher que les Congrès</option>
        <option value="filtrer-favoris-par-emplois">Afficher que les Emplois</option>
        <option value="filtrer-favoris-par-taches">Afficher que les tâches</option>
        <option value="filtrer-favoris-par-lancements">Afficher que les Lancements</option>
        <option value="filtrer-favoris-par-activités">Afficher que les Activités</option>
        <option value="filtrer-favoris-par-rendez-vous">Afficher que les Rendez-vous</option>
      </select>
      <div class='row'>
        <div class='input-group forFilter'>
          <span class='input-group-label'>Filtrer :</span>
          <input class='input-group-field' type='text' name="filtrerMesFavoris" placeholder="Autocomplete">
        </div>
      </div>
      <h4>Mes favoris</h4>
      <div class='content'>
        <p><%= partials.displayTable({ tableName: 'tableFavoris' }) %></p>
        <p><a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a></p>
      </div>
    </div>
  </div>

  <div class='tabs-panel' id="mes-notifications">
    <div class=''>
      <h4>M'aviser</h4>
      <p>Notifications sont spécifiées en contexte, en cliquant sur <i class='fi-rss'></i> .<br></p>
      <h5>Préférences</h5>
      <select id="notifications">
        <option value="notifications-oui" selected>Notifications sont souhaitées</option>
        <option value="notifications-non">Notifications ne sont pas souhaitées</option>
      </select>
      <select id="recevoir-notifications">
        <option value="par-courriel">Recevoir notifications par courriel</option>
        <option value="par-messagerie">Recevoir notifications par messagerie</option>
        <option value="par-site" selected>Recevoir notifications en consultant ce site</option>
      </select>
      <select id="frequence-notifications">
        <option value="immediatement">Recevoir notifications immédiatement</option>
        <option value="par-heure">Recevoir notifications 1 fois par heure</option>
        <option value="par-jour" selected>Recevoir notifications 1 fois par jour</option>
        <option value="par-semaine">Recevoir notifications 1 fois par semaine</option>
        <option value="par-mois">Recevoir notifications 1 fois par mois</option>
        <option value="jamais">Ne jamais recevoir de notifications</option>
      </select>
      <select id="trier-notifications">
        <option value="trier-par-nom" selected>Tableau trié par Nom</option>
        <option value="trier-par-type">Tableau trié par Type</option>
      </select>
      <select id="filtrer-notifications">
        <option value="filtrer-avis-par-aucun">Aucun filtrage</option>
        <option value="filtrer-avis-par-autocomplete" selected>Afficher que les notifications qui contiennent le(s) terme(s) ci-dessous</option>
        <option value="filtrer-avis-par-sujet">Afficher que les sujets</option>
        <option value="filtrer-avis-par-personne">Afficher que les personnes</option>
        <option value="filtrer-avis-par-ressource">Afficher que les ressources</option>
      </select>
      <div class='row'>
        <div class='input-group forFilter'>
          <span class='input-group-label'>Filtrer :</span>
          <input class='input-group-field' type='text' name="filtrerMesNotifications" placeholder="Autocomplete">
        </div>
      </div>
      <div class='content'>
        <h5>Ressources et termes concernés par les notifications</h5>
        <%= partials.displayTable({ tableName: 'tableNotifications' }) %>
        <p><a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a></p>
      </div>
    </div>
  </div>

    <div class='tabs-panel' id="ma-participation">
    <div class=''>
      <h4>Participer</h4>
      <br>
      <div class='row'>
         <div class='small-7 columns'>
          <div class=''>
            <span>Afficher mon <span class='em'>nom</span> dans le site ?</span>
            <div class='switch'>
              <input class='switch-input' type='checkbox' id="afficherMonNom" name="afficherMonNom">
              <label class='switch-paddle' for="afficherMonNom">
                <span class='switch-active' aria-hidden='true'>&nbsp;&nbsp;<i class='fi-lock'></i></span>
                <span class='switch-inactive' aria-hidden='true'><i class='fi-check'></i></span>
              </label>
            </div>
            <span>Afficher ma <span class='em'>photo</span> dans le site ?</span>
            <div class='switch'>
              <input class='switch-input' type='checkbox' id="afficherMaPhoto" name="afficherMaPhoto">
              <label class='switch-paddle' for="afficherMaPhoto">
                <span class='switch-active' aria-hidden='true'>&nbsp;&nbsp;<i class='fi-lock'></i></span>
                <span class='switch-inactive' aria-hidden='true'><i class='fi-check'></i></span>
              </label>
            </div>
            <span>Membres me contacter <span class='em'>directement</span> ?</span>
            <div class='switch'>
              <input class='switch-input' type='checkbox' id="meContacterDirectement" name="meContacterDirectement">
              <label class='switch-paddle' for="meContacterDirectement">
                <span class='switch-active' aria-hidden='true'>&nbsp;&nbsp;<i class='fi-lock'></i></span>
                <span class='switch-inactive' aria-hidden='true'><i class='fi-check'></i></span>
              </label>
            </div>
            <span>Partager mes <span class='em'>favoris</span> avec mes <span class="underlined">pairs</span> ?</span>
            <div class='switch'>
              <input class='switch-input' type='checkbox' id="partagerFavorisAvecPairs" name="partagerFavorisAvecPairs">
              <label class='switch-paddle' for="partagerFavorisAvecPairs">
                <span class='switch-active' aria-hidden='true'>&nbsp;&nbsp;<i class='fi-lock'></i></span>
                <span class='switch-inactive' aria-hidden='true'><i class='fi-check'></i></span>
              </label>
            </div>
            <span>Partager mon <span class='em'>agenda</span> avec mes <span class="underlined">pairs</span> ?</span>
            <div class='switch'>
              <input class='switch-input' type='checkbox' id="partagerMoiAvecPairs" name="partagerMoiAvecPairs">
              <label class='switch-paddle' for="partagerMoiAvecPairs">
                <span class='switch-active' aria-hidden='true'>&nbsp;&nbsp;<i class='fi-lock'></i></span>
                <span class='switch-inactive' aria-hidden='true'><i class='fi-check'></i></span>
              </label>
            </div>
            <span>Partager mon <span class='em'>calendrier</span> avec mes <span class="underlined">pairs</span> ?</span>
            <div class='switch'>
              <input class='switch-input' type='checkbox' id="partagerCalendrierAvecPairs" name="partagerCalendrierAvecPairs">
              <label class='switch-paddle' for="partagerCalendrierAvecPairs">
                <span class='switch-active' aria-hidden='true'>&nbsp;&nbsp;<i class='fi-lock'></i></span>
                <span class='switch-inactive' aria-hidden='true'><i class='fi-check'></i></span>
              </label>
            </div>
          </div>
         </div>
        <div class='small-5 columns'>
          <div class=''>
            <dl>
            <dt>Participant depuis:</dt>
            <dd>2008-01-01<br><br></dd>
            <dt>Dernière participation:</dt>
            <dd>2016-10-28-18h10<br><br></dd>
            <dt>Fréquentation:</dt>
            <dd>92 visites<br><br></dd>
            <dt>Points cumulés:</dt>
            <dd>12 345 points<br><br></dd>
            <dt>Réputation:</dt>
            <dd>Fiable</dd>
            </dl>
           </div>
        </div>
      </div>
    </div>
    </div>

    <div class='tabs-panel' id="mon-historique">
    <div class=''>
      <h4>Historique</h4>
      <p>Historique de ma participation, de toutes mes interactions.</p>
      <h5>Affichage</h5>
      <select id="trier-historique">
        <option value="trier-historique-par-moment" selected>Tableau trié par Moment effectué</option>
        <option value="trier-historique-par-type">Tableau trié par Type d'interaction</option>
        <option value="trier-historique-par-nom">Tableau trié par Interaction</option>
      </select>
      <select id="filtrer-historique">
        <option value="filtrer-historique-par-aucun">Aucun filtrage</option>
        <option value="filtrer-historique-interaction" selected>Afficher que les interactions qui contiennent le(s) terme(s) ci-dessous</option>
        <option value="filtrer-historique-commentaires">Afficher que les Commentaires</option>
        <option value="filtrer-historique-evaluations">Afficher que les Évaluations</option>
        <option value="filtrer-historique-recherches">Afficher que les Recherches</option>
        <option value="filtrer-historique-suggestions">Afficher que les Suggestions</option>
      </select>
      <div class='row'>
        <div class='input-group forFilter'>
          <span class='input-group-label'>Filtrer :</span>
          <input class='input-group-field' type='text' name="filtrerMesInteractions" placeholder="Autocomplete">
        </div>
      </div>
      <h4>Mes interactions</h4>
      <div class='content'>
        <p><%= partials.displayTable({ tableName: 'tableMesInteractions' }) %></p>
        <p><a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a></p>
      </div>
    </div>
    </div>

    <div class='tabs-panel' id="mon-agenda">
    <div class=''>
      <h4>Agenda</h4>
      <div class='row'>
        <div class='small-6 columns'>
          <div class=''>
            <h5>Légende</h5>
            <p>
            <span title="U" class='success badge'>U</span> Tâches ajoutées par l'<span class='strong'>utilisateur</span><br>
            <span title="G" class='warning badge'>G</span> Tâches héritées de ses <span class='strong'>groupes</span><br>
            <span title="S" class='alert badge'>S</span> Tâches ajoutées par le <span class='strong'>système</span><br>
            </p>
          </div>
        </div>
        <div class='small-6 columns'>
          <h5>Fonctions</h5>
          <div class='content'>
            <ul>
              <li><span class='strong'><a data-open='modalAjouterTache'>Ajouter une tâche</a></span><br></li>
              <li><span class='strong'>Modifier</span> une tâche<br></li>
              <li><span class='strong'>Retirer</span> une tâche<br></li>
            </ul>
          </div>
        </div>
      </div>
      <h5>Affichage</h5>
      <select id="trier-taches">
        <option value="trier-taches-par-nom" selected>Tableau trié par Moment</option>
        <option value="trier-taches-par-type">Tableau trié par Type</option>
        <option value="trier-taches-par-type">Tableau trié par Nom</option>
        <option value="trier-taches-par-accomplie">Tableau trié par Accomplie</option>
      </select>
      <select id="filtrer-taches">
        <option value="filtrer-taches-par-aucun">Aucun filtrage</option>
        <option value="filtrer-taches-par-autocomplete" selected>Afficher que les tâches qui contiennent le(s) terme(s) ci-dessous</option>
        <option value="filtrer-taches-de-type-U">Afficher que les tâches ajoutées par l'utilisateur</option>
        <option value="filtrer-taches-de-type-G">Afficher que les tâches héritées de ses groupes</option>
        <option value="filtrer-taches-de-type-S">Afficher que les tâches ajoutées par le système</option>
      </select>
      <div class='row'>
        <div class='input-group forFilter'>
          <span class='input-group-label'>Filtrer :</span>
          <input class='input-group-field' type='text' name="filtrerMesTaches" placeholder="Autocomplete">
        </div>
      </div>
      <h4>Mes tâches</h4>
      <div class='content'>
        <%= partials.displayTable({ tableName: 'tableTaches' }) %>
        <p><a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a></p>
      </div>
    </div>
    </div>

    <div class='tabs-panel' id="mon-calendrier">
    <div class=''>
      <h4>Calendrier</h4>
      <div class='content'>
        <p>
        <span title="A" class='success badge'>A</span> Activités choisies parmi <span class='strong'>Agenda public</span><br>
        <span title="T" class='secondary badge'>T</span> Tâches de l'agenda de l'<span class='strong'>utilisateur</span><br>
        <span title="U" class='badge'>U</span> Activités ajoutées par l'<span class='strong'>utilisateur</span><br>
        <span title="G" class='warning badge'>G</span> Activités héritées de ses <span class='strong'>groupes</span><br>
        <span title="S" class='alert badge'>S</span> Activités ajoutées par le <span class='strong'>système</span><br>
        </p>
        <p class='strong'><a data-open='modalAjouterActivite'>Ajouter une activité</a></p>
        <!-- <img src="/img/placeholders/calendrier.png" alt="Agenda" style="height: 80%;"> -->
        <%= partials.calendrier2016() %>
      </div>
      <p><a title='Haut de page' href="#"><i class='fi-arrow-up'></i></a></p>
    </div>
    </div>

    <div class='tabs-panel' id="mes-meteos">
    <div class=''>
      <h4>Météos</h4>
      <div><p>Météo des lieux que vous avez choisis dans <a href="#mes-preferences"><span class='tabs-size'>Préférences</span></a>.</p></div>
      <div class='row'>
        <form>
        <div class='small-4 columns'>
          <div class='text-center'>
            <h5>Montréal (Québec)</h5>
            <a href="#meteo-1"><img src="/img/placeholders/meteo.png" alt="Météo du lieu #1"></a>
          </div>
        </div>
        <div class='small-4 columns'>
          <div class='text-center'>
            <h5>Québec (Québec)</h5>
            <a href="#meteo-2"><img src="/img/placeholders/meteo.png" alt="Météo du lieu #2"></a>
          </div>
        </div>
        <div class='small-4 columns'>
          <div class='text-center'>
            <h5>Paris (France)</h5>
            <a href="#meteo-3"><img src="/img/placeholders/meteo.png" alt="Météo du lieu #3"></a>
          </div>
        </div>
        </form>
      </div>
      <div class='content'>
        <br><p>&nbsp;</p>
      </div>
    </div>
    </div>

    </div>
    </div>
  </div>
 
</div>

<%= partials.footer({ pagination: false, lastPage: "0", username: "Alain Farmer" }) %>

<%= partials.displayModal({ modalName: 'modalAjouterTache' }) %>

<%= partials.displayModal({ modalName: 'modalAjouterActivite' }) %>

<%= partials.displayDropdown({ dropName: 'ajouter-lieu-dropdown' }) %>

<%= partials.displayDropdown({ dropName: 'ajouter-langue-dropdown' }) %>

<%= partials.scripts() %>

</body>
</html>