<!doctype html>
<html lang="fr" dir="ltr">

<%= partials.mmhead({ title: 'Test Zurb' }) %>

<body><br>

<p><a data-toggle="myTarget">Show/Hide!</a></p>

<ul class="menu hide" id="myTarget" data-toggler="hide">
  <li><a href="#0">One</a></li>
  <li><a href="#0">Two</a></li>
  <li><a href="#0">Three</a></li>
  <li><a href="#0">Four</a></li>
</ul>

<div class="row">
  <div class="small-12 columns">
    <div class="callout">
      <p><a class="show-on-focus" href="#mainContent">Skip to Content</a></p>
    </div>
    <header id="header" role="banner">Banner</header>
    <main id="mainContent" role="main" tabindex="0">MAIN</main>
  </div>
</div>

<div class="small-12 columns">
  <ul class="tabs" data-tabs id="tabsProfil">
    <li class="tabs-title is-active"><a href="#compte" aria-selected="true"><span class="tabs-size">Compte</span></a></li>
    <li class="tabs-title"><a href="#mon-identite"><span class="tabs-size">Identité</span></a></li>
    <li class="tabs-title"><a href="#mes-preferences"><span class="tabs-size">Préférences</span></a></li>
    <li class="tabs-title"><a href="#mes-favoris"><span class="tabs-size">Favoris</span></a></li>
    <li class="tabs-title"><a href="#mes-notifications"><span class="tabs-size">M'aviser</span></a></li>
    <li class="tabs-title"><a href="#ma-participation"><span class="tabs-size">Participer</span></a></li>
    <li class="tabs-title"><a href="#mon-historique"><span class="tabs-size">Historique</span></a></li>
    <li class="tabs-title"><a href="#mon-agenda"><span class="tabs-size">Agenda</span></a></li>
    <li class="tabs-title"><a href="#mon-calendrier"><span class="tabs-size">Calendrier</span></a></li>
    <li class="tabs-title"><a href="#mes-meteos"><span class="tabs-size">Météos</span></a></li>
  </ul>
</div>

<br>
<div class="row">
  <div class="small-12 columns">
    <div class="">
      <div class="expanded button-group">
        <a class="hollow button member-button" href="#">Inviter</a>
        <a class="hollow button member-button" href="#">Contacter</a>
        <a class="hollow button member-button" href="/fr/journal1">Journal</a>
        <a class="hollow button member-button" href="/fr/these1">Thèse</a>
        <a class="hollow button member-button" href="#">Publications</a>
        <a class="button member-button" href="#">Sujets</a>
        <a class="hollow button member-button" href="#">Groupes</a>
        <a class="hollow button member-button" href="#">Pairs</a>
        <a class="hollow button member-button" href="#">Favoris</a>
        <a class="hollow button member-button" href="#">Agenda</a>
        <a class="hollow button member-button" href="#">Calendrier</a>
      </div>
    </div>
  </div>
</div>
<br>

<div class="small-4 columns">
  <%= partials.modalContacterPair({ moi: 'Alain Farmer', nom: 'Karl Marx', nombre: '5' }) %>
</div>

<div style="clear:left">
  <p><a onclick="open_tab('apropos','a-propos-du-site')">À propos du site</a>
  <p><a onclick="open_tab('apropos','plan-du-site')">Plan du site</a>
  <p><a onclick="open_tab('apropos','indexe-du-site')">Indexe du site</a>
  <p><a onclick="open_tab('apropos','a-propos-de-nous')">À propos de nous</a>
  <p><a onclick="open_tab('apropos','notre-politique')">Notre politique</a>
  <p><a onclick="open_tab('apropos','charte-editorial')">Charte éditorial</a>
  <p><a onclick="open_tab('apropos','votre-participation')">Votre participation</a>
  <p><a onclick="open_tab('apropos','comment-publier-avec-nous')">Comment publier avec nous</a>
  <p><a onclick="open_tab('apropos','contactez-nous')">Contactez-nous</a>
</div>

<ul id="foobar" class="tabs" data-tabs>
  <li class="tabs-title is-active"><a href="#panel1">Tab 1</a></li>
  <li class="tabs-title"><a href="#panel2">Tab 2</a></li>
  <li class="tabs-title"><a href="#panel3">Tab 3</a></li>
</ul>

<div class="tabs-content small-3 column" data-tabs-content="foobar">
  <div class="tabs-panel is-active" id="panel1">
    <p>Panel 1 - Lorem ipsum 1</p>
  </div>
  <div class="tabs-panel" id="panel2">
    <p>Panel 2 - Lorem ipsum dolor 2</p>
  </div>
  <div class="tabs-panel" id="panel3">
    <p>Panel 3 - Lorem ipsum dolor 3</p>
  </div>
</div>

<div style="clear:left">
  <a class="button" onclick="open_tab('foobar','panel1')">Remote Open 1</a>
  <a class="button" onclick="open_tab('foobar','panel2')">Remote Open 2</a>
  <a class="button" onclick="open_tab('foobar','panel3')">Remote Open 3</a>
</div>

<script>
function open_tab(tab_id,panel) {
  $("#"+tab_id).foundation("selectTab",$("#"+panel));
}
</script>

<p>Deep linking was set as a default parameter in 3.2.3. If you download the latest version, 3.2.4, your deep linking should work fine. In case you don't want to update all of Foundation (although I recommend you keep up to date) to the latest version, you can just download the latest version of Tabs from the repository: jquery.foundation.tabs.js and replace the old tabs with this one. In, 3.2.4, if you want to disable deep linking you have to explicitly set deep_linking to false when you initialize the plugin.

<pre>$(document).foundationTabs({deep_linking: false});</pre>

<p><a href="/fr/apropos#plan-du-site">Plan du site</a></p>

<div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
  <div class="progress-meter" style="width: 25%"></div>
</div>

<div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
  <div class="progress-meter" style="width: 50%"></div>
</div>

<div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
  <div class="progress-meter" style="width: 75%"></div>
</div>

<div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
  <div class="progress-meter" style="width: 100%"></div>
</div>

<ul class="no-bullet">
  <li>List item with a much longer description or more content.</li>
  <li>List item</li>
  <li>List item
    <ul>
      <li>Nested list item</li>
      <li>Nested list item</li>
      <li>Nested list item</li>
    </ul>
  </li>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ul>

<p class="larger-text"><a href="#"><i class="fi-plus"></i></a></p>
<p class="larger-text"><a href="#"><i class="fi-minus"></i></a></p>

<%= partials.modalChoisirSujet() %>

<div class="input-group">
  <span class="input-group-label">Trier:</span>
  <select class="input-group-select">
  <option value="trier-par-pertinence" selected>Données triées par pertinence</option>
  <option value="trier-par-titre">Données triées par titre</option>
  <option value="trier-par-date">Données triées par date</option>
  </select>
</div>

<div class="input-group">
  <span class="input-group-label">Facebook:</span>
  <input class="input-group-field" type="url" name="facebook" value="https://www.facebook.com/alain.farmer">
  <a title="Partager cette information ?" class="input-group-button success button">
  <span class="larger-text"><i class="fi-check"></i></span>
  </a>
</div>

<div class="input-group">
  <span class="input-group-label">Facebook:</span>
  <input class="input-group-field" type="url" name="facebook" value="https://www.facebook.com/alain.farmer">
  <a title="Partager cette information ?" class="input-group-button alert button">
  <span class="larger-text"><i class="fi-lock"></i></span>
  </a>
</div>

<div class="row" id="top-row">
  <div class="small-12 columns">
    <!-- Horizontal TABS -->
    <ul class="tabs" data-tabs id="page-tabs">
    <li class="tabs-title is-active"><a href="#compte" aria-selected="true"><span class="larger-text">Compte</span></a></li>
    <li class="tabs-title"><a href="#mon-identite"><span class="larger-text">Identité</span></a></li>
    <li class="tabs-title"><a href="#mes-preferences"><span class="larger-text">Préférences</span></a></li>
    <li class="tabs-title"><a href="#mes-favoris"><span class="larger-text">Favoris</span></a></li>
    <li class="tabs-title"><a href="#mes-notifications"><span class="larger-text">Notifications</span></a></li>
    <li class="tabs-title"><a href="#ma-participation"><span class="larger-text">Participation</span></a></li>
    <li class="tabs-title"><a href="#mon-agenda"><span class="larger-text">Agenda</span></a></li>
    <li class="tabs-title"><a href="#mon-calendrier"><span class="larger-text">Calendrier</span></a></li>
    <li class="tabs-title"><a href="#mes-meteos"><span class="larger-text">Météos</span></a></li>
    </ul>
    
  </div>
</div>

<%= partials.modalChoisirSujet() %>

<div class="switch">
  <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch">
  <label class="switch-paddle" for="yes-no">
    <span class="switch-active" aria-hidden="true">Oui</span>
    <span class="switch-inactive" aria-hidden="true">N</span>
  </label>
</div>

<ul class="accordion" data-accordion>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Janvier</a>
    <div class="accordion-content" data-tab-content>
      <table>
      <tr><td width="10%"><span class="em">Date</span></td><td width="90%"><span class="em">Tâches</span></td></tr>
      <tr><td>2016-01-01</td><td>Tâches</td></tr>
      <tr><td>2016-01-02</td><td>Tâches</td></tr>
      <tr><td>2016-01-03</td><td>Tâches</td></tr>
      <tr><td>2016-01-04</td><td>Tâches</td></tr>
      <tr><td>2016-01-05</td><td>Tâches</td></tr>
      <tr><td>2016-01-06</td><td>Tâches</td></tr>
      <tr><td>2016-01-07</td><td>Tâches</td></tr>
      <tr><td>2016-01-08</td><td>Tâches</td></tr>
      <tr><td>2016-01-09</td><td>Tâches</td></tr>
      <tr><td>2016-01-10</td><td>Tâches</td></tr>
      <tr><td>2016-01-11</td><td>Tâches</td></tr>
      <tr><td>2016-01-12</td><td>Tâches</td></tr>
      <tr><td>2016-01-13</td><td>Tâches</td></tr>
      <tr><td>2016-01-14</td><td>Tâches</td></tr>
      <tr><td>2016-01-15</td><td>Tâches</td></tr>
      <tr><td>2016-01-16</td><td>Tâches</td></tr>
      <tr><td>2016-01-17</td><td>Tâches</td></tr>
      <tr><td>2016-01-18</td><td>Tâches</td></tr>
      <tr><td>2016-01-19</td><td>Tâches</td></tr>
      <tr><td>2016-01-20</td><td>Tâches</td></tr>
      <tr><td>2016-01-21</td><td>Tâches</td></tr>
      <tr><td>2016-01-22</td><td>Tâches</td></tr>
      <tr><td>2016-01-23</td><td>Tâches</td></tr>
      <tr><td>2016-01-24</td><td>Tâches</td></tr>
      <tr><td>2016-01-25</td><td>Tâches</td></tr>
      <tr><td>2016-01-26</td><td>Tâches</td></tr>
      <tr><td>2016-01-27</td><td>Tâches</td></tr>
      <tr><td>2016-01-28</td><td>Tâches</td></tr>
      <tr><td>2016-01-29</td><td>Tâches</td></tr>
      <tr><td>2016-01-30</td><td>Tâches</td></tr>
      <tr><td>2016-01-31</td><td>Tâches</td></tr>
      </table>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Février</a>
    <div class="accordion-content" data-tab-content>
      Février
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Mars</a>
    <div class="accordion-content" data-tab-content>
      Mars
    </div>
  </li>
  <!-- ... -->
</ul>

<!-- debut toggle-dropdown -->
<a class="button" data-toggle="question-1-dropdown" title="Poser une question">Poser une question</a>
<div class="dropdown-pane" id="question-1-dropdown" data-dropdown data-auto-focus="true">
  <p><span class="strong">Poser une question</span></p>
  <div class="row">
    <div class="small-12 columns">
      <form>
        <label>Question<input type="text" name="Question" placeholder="Question"></label>
        <input class="button" type="submit" name="ajouterQuestion" value="Ajouter">&nbsp;
      </form>
    </div>
  </div>
</div>
<!-- fin toggle-dropdown -->

<div class="row">
  <div class="small-6 columns">
    <div class="callout">
      <h3>Sections</h3>
      <ul>
        <% data.lesSections.forEach((item) => { %>
        <li><%- item %></li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="callout">
      <h3>Sujets</h3>
      <ul>
        <% data.lesSujets.forEach((item) => { %>
        <li><%- item %></li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>

<!-- pagination dans breadcrumb -->
<div class="" id="pagination-mini">
  <ul class="pagination text-center" role="navigation" aria-label="Pagination">
    <li class="pagination-previous"><a href="#" aria-label="Previous page"></a></li>
    <li class="pagination-next"><a href="#" aria-label="Next page"></a></li>
  </ul>
</div>

<p class="icon"><a title="Mon agenda" href="#"><i class="fi-plus"></a></i></p>

      <!-- nested ROW -->
      <div class="row" id="form-photo">
        <div class="small-6 columns">
          <div class="">
            <p><span class="strong">Ma photo</span></p>
            <p>Photo qui accompagne mes contributions.</p>
            <form>
              <label for="fileUpload" class="button">Téléverser image ...</label>
              <input type="file" id="fileUpload" class="show-for-sr">
            </form>
            <p class="text-center"><span class="em">Veuillez téléverser une image d'une taille d'environ 200 pixels par 200 pixels.</span></p>
          </div>
        </div>
        <div class="small-6 columns">
          <div class="">
            <p class="text-center"><img src="/img/membres/me.jpg" class="mmthumb" alt="Alain"></p>
          </div>
        </div>
      </div>

<div class="row">
  <div class="small-3 columns">
    <div class="callout clearfix">
      <ul class="vertical dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">Section 1</a>
        <ul class="menu vertical nested">
        <li><a href="#">Sous-section 1A</a></li>
        <li><a href="#">Sous-section 1B</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Section 2</a>
        <ul class="menu vertical nested">
        <li><a href="#">Sous-section 2A</a></li>
        <li><a href="#">Sous-section 2B</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Section 3</a>
        <ul class="menu vertical nested">
        <li><a href="#">Sous-section 3A</a></li>
        <li><a href="#">Sous-section 3B</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Section 4</a>
        <ul class="menu vertical nested">
        <li><a href="#">Sous-section 4A</a></li>
        <li><a href="#">Sous-section 4B</a></li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-12 columns">
    <div class="callout primary clearfix">
      <a class="alert button float-left">Float left</a>
      <a class="warning button float-right">Float right</a>
    </div>
  </div>
</div>

<p>Goutte qui fait déborder le <s>verre</s>.</p>
<p>Goutte qui fait déborder le <b>vase</b>.</p>

<!-- Vertical TABS -->

<div class="row collapse">
  <div class="small-3 columns">
    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Tab 1</a></li>
      <li class="tabs-title"><a href="#panel2v">Tab 2</a></li>
      <li class="tabs-title"><a href="#panel3v">Tab 3</a></li>
      <li class="tabs-title"><a href="#panel4v">Tab 4</a></li>
      <li class="tabs-title"><a href="#panel5v">Tab 5</a></li>
      <li class="tabs-title"><a href="#panel6v">Tab 6</a></li>
    </ul>
    </div>
    <div class="small-9 columns">
    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
      <div class="tabs-panel is-active" id="panel1v">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="tabs-panel" id="panel2v">
        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
      </div>
      <div class="tabs-panel" id="panel3v">
        <img class="thumbnail" src="/img/dans-articles/wagonwheel.jpg" class="mmthumb">
      </div>
      <div class="tabs-panel" id="panel4v">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="tabs-panel" id="panel5v">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="tabs-panel" id="panel6v">
        <img class="thumbnail" src="/img/dans-articles/Philippe_Couillard.jpg">
      </div>
    </div>
  </div>
</div>

<!-- Horizontal TABS -->

<ul class="tabs" data-tabs id="example-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
  <li class="tabs-title"><a href="#panel2">Tab 2</a></li>
  <li class="tabs-title"><a href="#panel3">Tab 3</a></li>
  <li class="tabs-title"><a href="#panel4">Tab 4</a></li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel is-active" id="panel1">
    <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
  </div>
  <div class="tabs-panel" id="panel2">
    <p>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
  </div>
  <div class="tabs-panel" id="panel3">
    <p>CLONE de Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
     <p>CLONE de Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
      <p>CLONE de Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
  </div>
  <div class="tabs-panel" id="panel4">
    <p>CLONE de Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
  </div>
</div>

<!-- TOOLTIPS -->

<span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="SOUTHERN OCEAN AND CLIMATE FIELD STUDIES WITH INNOVATIVE TOOLS">SOCLIM</span>

<p>
The <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="Fancy word for a beetle.">scarabaeus</span> hung quite clear of any branches, and, if allowed to fall, would have fallen at our feet. Legrand immediately took the scythe, and cleared with it a circular space, three or four yards in diameter, just beneath the insect, and, having accomplished this, ordered Jupiter to let go the string and come down from the tree.
</p>

<p>
The <span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="1" title="Fancy word for a beetle.">scarabaeus</span> hung quite clear of any branches, and, if allowed to fall, would have fallen at our feet. Legrand immediately took the scythe, and cleared with it a circular space, three or four yards in diameter, just beneath the insect, and, having accomplished this, ordered Jupiter to let go the string and come down from the tree.
</p>

<p>
The <span data-tooltip aria-haspopup="true" class="has-tip left" data-disable-hover="false" tabindex="1" title="Fancy word for a beetle.">scarabaeus</span> hung quite clear of any branches, and, if allowed to fall, would have fallen at our feet. Legrand immediately took the scythe, and cleared with it a circular space, three or four yards in diameter, just beneath the insect, and, having accomplished this, ordered Jupiter to let go the string and come down from the tree.
</p>

<!-- MODAL -->

<div class="reveal" id="exampleModal1" data-reveal>
  <h1>Awesome. I Have It.</h1>
  <p class="lead">Your couch. It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<p><a data-open="exampleModal1">Click me for a modal</a></p>

<!-- A full-screen modal is 100% of the width and height of the window. Add the .full class to make it go. -->

<p><a data-toggle="exampleModal8">Click me for a full-screen modal</a></p>

<div class="full reveal" id="exampleModal8" data-reveal>
  <p>OH I'M SO FUUUUL</p>
  <img src="http://placekitten.com/1920/1280" alt="Intropsective Cage">
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- toggle dropdown pane -->
<button class="button" type="button" data-toggle="example-dropdown">Toggle Dropdown</button>
<div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
  Example form in a dropdown.
  <form>
    <div class="row">
      <div class="small-6 columns">
        <label>Name
          <input type="text" placeholder="Kirk, James T.">
        </label>
      </div>
      <div class="small-6 columns">
        <label>Rank
          <input type="text" placeholder="Captain">
        </label>
      </div>
    </div>
  </form>
</div>

<!-- dropdown pane on hover -->
<button class="button" type="button" data-toggle="example-dropdown-1">Hoverable Dropdown</button>
<div class="dropdown-pane" id="example-dropdown-1" data-dropdown data-hover="true" data-hover-pane="true">
  Just some junk that needs to be said. Or not. Your choice.
</div>

<!-- slider -->
<div class="row" id="slider">
  <div class="small-10 columns">
    <div class="slider" data-slider data-initial-start="1">
     <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput1"></span>
     <span class="slider-fill" data-slider-fill></span>
    </div>
  </div>
  <div class="small-2 columns">
    <input type="number" id="sliderOutput1">
  </div>
</div>

<!-- accordion menu -->
<ul class="vertical menu" data-accordion-menu>
  <li>
    <a href="#">Item 1</a>
    <ul class="menu vertical nested">
      <li><a href="#">Item 1A</a></li>
      <li><a href="#">Item 1B</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Item 2</a>
    <ul class="menu vertical nested">
      <li><a href="#">Item 2A</a></li>
      <li><a href="#">Item 2B</a></li>
    </ul>
  </li>
</ul>

<!-- dropdown menu -->
<div class="callout">
<h5 class="text-left"><span class="strong">Dropdown Menu</span></h5>
<ul class="menu dropdown" data-dropdown-menu>
  <li class="active">
    <a href="#">Item 1</a>
    <ul class="menu">
      <li><a href="#">Item 1A</a></li>
      <li><a href="#">Item 1B</a></li>
      <li><a href="#">Item 1C</a></li>
    </ul>
  </li>
    <li>
    <a href="#">Item 2</a>
    <ul class="menu">
      <li><a href="#">Item 2A</a></li>
      <li><a href="#">Item 2B</a></li>
      <li><a href="#">Item 2C</a></li>
    </ul>
  </li>
</ul>
</div>

<!-- Vertical menu -->
<div class="callout">
<h5 class="text-left"><span class="strong">Menu vertical</span></h5>
  <div class="secondary callout">
    <ul class="menu vertical">
      <li><a href="/fr/accueil"><span class="strong">Français</span></a></li>
      <li><a href="/en/accueil">Anglais</a></li>
      <li><a href="/es/accueil">Espagnol</a></li>
      <li><a href="/it/accueil">Italien</a></li>
      <li><a href="/ar/accueil">Arabe</a></li>
      <li><a href="/ru/accueil">Russe</a></li>
    </ul>
  </div>
</div>

<!-- Right-aligned menu -->
<div class="row" id="liens-publics">
  <div class="small-12 columns">
    <ul class="menu align-right">
    <li><a href="/fr/me-deconnecter">Me déconnecter</a></li>
    <li><a href="/fr/contactez-nous">Contactez-nous</a></li>
    <li><a href="/fr/agenda">Agenda</a></li>
    <li><a href="/fr/faq">FAQ</a></li>
    <li><a href="/fr/apropos">À propos</a></li>
    <li><a href="/fr/accueil">Accueil</a></li>
    </ul>
  </div>
</div>

<!-- Grid row -->
<div class="row">
  <div class="small-12 columns">
    <div class="callout">
      <h3 class="text-center">TITRE</h3>
    </div>
  </div>
</div>

<!-- HR row -->
<div class="row" id="title-line-hr1">
  <div class="small-12 columns"><hr></div>
</div>

<!-- Grid row -->
<div class="row">
  <!-- LEFT -->
  <div class="small-3 columns">
      <div class="callout">
    <h5 class="text-center"><span class="strong">GAUCHE</span></h5>
      </div>
  </div>
  <!-- CENTER -->
  <div class="small-6 columns">
      <div class="callout">
    <h5 class="text-center"><span class="strong">CENTRE</span></h5>
    </div>
  </div>
  <!-- RIGHT -->
  <div class="small-3 columns">
    <div class="callout">
      <h5 class="text-center"><span class="strong">DROITE</span></h5>
    </div>
  </div>
</div>

<!--   CONTENT -->
<div class="row">
  <div class="small-6 columns">
    <div class="callout">
      <p class="text-justify">ARTICLE</p>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="callout">
      <p class="text-left">ATTRIBUTS</p>
    </div>
  </div>
</div>

<!-- langues -->
<div class="callout">
  <h5 class="text-center"><span class="strong">Langues</span></h5>
  <div class="secondary callout">
    <ul class="menu vertical">
      <li><a href="/fr/accueil"><span class="strong">Français</span></a></li>
      <li><a href="/en/accueil">Anglais</a></li>
      <li><a href="/es/accueil">Espagnol</a></li>
      <li><a href="/it/accueil">Italien</a></li>
      <li><a href="/ar/accueil">Arabe</a></li>
      <li><a href="/ru/accueil">Russe</a></li>
    </ul>
  </div>
</div>

<ul class="pagination text-center" role="navigation" aria-label="Pagination">
  <li class="pagination-previous disabled">Previous</li>
  <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
  <li><a href="#" aria-label="Page 2">2</a></li>
  <li><a href="#" aria-label="Page 3">3</a></li>
  <li><a href="#" aria-label="Page 4">4</a></li>
  <li class="ellipsis"></li>
  <li><a href="#" aria-label="Page 12">12</a></li>
  <li><a href="#" aria-label="Page 13">13</a></li>
  <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
</ul>

<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src="http://www.cite-sciences.fr/fileadmin/_processed_/csm_KERGUELEN-tempete-2_24df1f8d69.jpg" class="mmthumb">
    </div>
  </div>
  <div class="media-object-section">
    <h4>Dreams feel real while we're in them.</h4>
    <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
  </div>
</div>

<dl>
  <dt>A</dt>
  <dd>data</dd>
  <dt>B</dt>
  <dd>
    <ul class="menu vertical">
    <li><a href="#attributs">Attributs</a></li>
    <li><a href="#evaluation">Évaluation</a></li>
    <li><a href="#commentaires">Commentaires</a></li>
    </ul>
  </dd>
</dl>

<dl>
  <dt>A</dt>
  <dd><p>data</p></dd>
  <dt>B</dt>
  <dd><p>data</p></dd>
  <dt>C</dt>
  <dd><p>data</p></dd>
  <dt>D</dt>
  <dd><p>data</p></dd>
</dl>

<br>

<!--   SCRIPTS -->
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
<script>
function open_tab(tab_id,panel) {
  $("#"+tab_id).foundation("selectTab",$("#"+panel));
}
</script>

</body>
</html>