<!doctype html>
<html lang="fr" dir="ltr">

<%= partials.mmhead({ title: "Thèse d'Alain Farmer" }) %>

<body>

<%= partials.liensPublics({ usertype: 'membre' }) %>

<%= partials.displayHeader({ headerName: 'logoChercherFiltrer' }) %>

<%= partials.displayBreadcrumb({ pageID: 'breadcrumbThese1' }) %>

<%= partials.displayHeader({ headerName: 'mmPageHeader', title: "Thèse d'Alain Farmer", usertype: 'membre' }) %>

<div class="row">

  <!-- Left -->
  <div class="small-3 columns">
    <h5 class="bloc-title"><%- data.__('Sections') %></h5>
    <%= partials.getSections(data) %>
    <h5 class="bloc-title"><%- data.__('Sujets') %></h5>
    <%= partials.getSujets(data) %>
  </div>

  <!-- Center -->
  <div class="small-6 columns">
    <div>
    <br>
    <%= partials.displayLead({ leadTemplate: 'article1' }) %>
    <hr>
    <%= partials.displayLead({ leadTemplate: 'article2' }) %>
    <hr>
    <%= partials.displayLead({ leadTemplate: 'article3' }) %>
    <hr>
    <%= partials.displayLead({ leadTemplate: 'article4' }) %>
    <hr>
    <%= partials.displayLead({ leadTemplate: 'article5' }) %>
    <hr>
    </div>
  </div>

  <!-- Right -->
  <div class="small-3 columns">
    <div class="">
      <h5 class="bloc-title"><%- data.__('En bref') %></h5>
      <%= partials.displayLead({ leadTemplate: 'breve1' }) %>
      <%= partials.displayLead({ leadTemplate: 'breve2' }) %>
      <%= partials.displayLead({ leadTemplate: 'breve3' }) %>
      <%= partials.displayLead({ leadTemplate: 'breve4' }) %>
    </div>
  </div>
</div>

<%= partials.footer({ pagination: true, lastPage: '2 000 000', updated: '2016-11-27 à 02:16' }) %>

<%= partials.scripts() %>

</body>
</html>